{
  "swagger": "2.0",
  "info": {
    "description": "조달청의 나라장터에서 제공하는 물품, 용역, 공사, 외자 입찰공고목록, 입찰공고상세정보, 기초금액정보, 면허제한정보, 참가가능지역정보, 입찰공고 변경이력를 제공하며 나라장터 입찰공고 검색조건으로도 업무별 입찰공고 정보를 제공하는 나라장터 입찰공고정보서비스\n※ 각 오퍼레이션은 업무구분별(물품, 용역, 공사, 외자 등)로 구분되어 있으며 입찰공고정보의 업무구분에 맞는 오퍼레이션을 이용하여야 정상 응답받으실 수 있습니다.\n예시 ) 공사 입찰공고의 경우 업무구분이 공사인 오퍼레이션(입찰공고목록 정보에 대한 공사조회 등)을 사용하여야 정상 응답 가능합니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 입찰공고정보서비스"
  },
  "host": "apis.data.go.kr/1230000/ad/BidPublicInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getBidPblancListInfoCnstwk": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "drwtPrdprcNum": {
                              "type": "string",
                              "description": "추첨예가건수",
                              "properties": {}
                            },
                            "dcmtgOprtnPlce": {
                              "type": "string",
                              "description": "설명회실시장소",
                              "properties": {}
                            },
                            "rbidPermsnYn": {
                              "type": "string",
                              "description": "재입찰허용여부",
                              "properties": {}
                            },
                            "pqApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "PQ신청서접수방법명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "reNtceYn": {
                              "type": "string",
                              "description": "재공고여부",
                              "properties": {}
                            },
                            "rgstTyNm": {
                              "type": "string",
                              "description": "등록유형명",
                              "properties": {}
                            },
                            "ntceKindNm": {
                              "type": "string",
                              "description": "공고종류명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "incntvRgnNm4": {
                              "type": "string",
                              "description": "가산지역명4",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "dcmtgOprtnDt": {
                              "type": "string",
                              "description": "설명회실시일시",
                              "properties": {}
                            },
                            "intrbidYn": {
                              "type": "string",
                              "description": "국제입찰여부",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt9": {
                              "type": "string",
                              "description": "부공종업종평가비율9",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdCd": {
                              "type": "string",
                              "description": "공동수급방식코드",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdNm": {
                              "type": "string",
                              "description": "공동수급방식명",
                              "properties": {}
                            },
                            "stdNtceDocUrl": {
                              "type": "string",
                              "description": "표준공고서URL",
                              "properties": {}
                            },
                            "rgnDutyJntcontrctYn": {
                              "type": "string",
                              "description": "지역의무공동도급여부",
                              "properties": {}
                            },
                            "chgNtceRsn": {
                              "type": "string",
                              "description": "변경공고사유",
                              "properties": {}
                            },
                            "rbidOpengDt": {
                              "type": "string",
                              "description": "재입찰개찰일시",
                              "properties": {}
                            },
                            "ciblAplYn": {
                              "type": "string",
                              "description": "건설산업법적용대상여부",
                              "properties": {}
                            },
                            "arsltCmptYn": {
                              "type": "string",
                              "description": "실적경쟁여부",
                              "properties": {}
                            },
                            "pqEvalYn": {
                              "type": "string",
                              "description": "PQ심사여부",
                              "properties": {}
                            },
                            "ntceDscrptYn": {
                              "type": "string",
                              "description": "공고설명여부",
                              "properties": {}
                            },
                            "indutyVAT": {
                              "type": "string",
                              "description": "주공종부가가치세",
                              "properties": {}
                            },
                            "indstrytyMfrcFldEvlYn": {
                              "type": "string",
                              "description": "주력분야평가여부",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "dminsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "수요기관담당자이메일주소",
                              "properties": {}
                            },
                            "indstrytyLmtYn": {
                              "type": "string",
                              "description": "업종제한여부",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt2": {
                              "type": "string",
                              "description": "부공종업종평가비율2",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt3": {
                              "type": "string",
                              "description": "부공종업종평가비율3",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt4": {
                              "type": "string",
                              "description": "부공종업종평가비율4",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt5": {
                              "type": "string",
                              "description": "부공종업종평가비율5",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt6": {
                              "type": "string",
                              "description": "부공종업종평가비율6",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt7": {
                              "type": "string",
                              "description": "부공종업종평가비율7",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt8": {
                              "type": "string",
                              "description": "부공종업종평가비율8",
                              "properties": {}
                            },
                            "brffcBidprcPermsnYn": {
                              "type": "string",
                              "description": "지사투찰허용여부",
                              "properties": {}
                            },
                            "cnsttyAccotShreRateList": {
                              "type": "string",
                              "description": "공종별지분율목록",
                              "properties": {}
                            },
                            "cnstrtnAbltyEvlAmtList": {
                              "type": "string",
                              "description": "시공능력평가금액목록",
                              "properties": {}
                            },
                            "dsgntCmptYn": {
                              "type": "string",
                              "description": "지명경쟁여부",
                              "properties": {}
                            },
                            "mainCnsttyCnstwkPrearngAmt": {
                              "type": "string",
                              "description": "주공종공사예정금액",
                              "properties": {}
                            },
                            "incntvRgnNm1": {
                              "type": "string",
                              "description": "가산지역명1",
                              "properties": {}
                            },
                            "incntvRgnNm2": {
                              "type": "string",
                              "description": "가산지역명2",
                              "properties": {}
                            },
                            "incntvRgnNm3": {
                              "type": "string",
                              "description": "가산지역명3",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "subsiCnsttyNm8": {
                              "type": "string",
                              "description": "부대공종명8",
                              "properties": {}
                            },
                            "subsiCnsttyNm9": {
                              "type": "string",
                              "description": "부대공종명9",
                              "properties": {}
                            },
                            "subsiCnsttyNm5": {
                              "type": "string",
                              "description": "부대공종명5",
                              "properties": {}
                            },
                            "subsiCnsttyNm6": {
                              "type": "string",
                              "description": "부대공종명6",
                              "properties": {}
                            },
                            "subsiCnsttyNm7": {
                              "type": "string",
                              "description": "부대공종명7",
                              "properties": {}
                            },
                            "subsiCnsttyNm1": {
                              "type": "string",
                              "description": "부대공종명1",
                              "properties": {}
                            },
                            "subsiCnsttyNm2": {
                              "type": "string",
                              "description": "부대공종명2",
                              "properties": {}
                            },
                            "subsiCnsttyNm3": {
                              "type": "string",
                              "description": "부대공종명3",
                              "properties": {}
                            },
                            "subsiCnsttyNm4": {
                              "type": "string",
                              "description": "부대공종명4",
                              "properties": {}
                            },
                            "sptDscrptDocUrl4": {
                              "type": "string",
                              "description": "현장설명서URL4",
                              "properties": {}
                            },
                            "sptDscrptDocUrl5": {
                              "type": "string",
                              "description": "현장설명서URL5",
                              "properties": {}
                            },
                            "sptDscrptDocUrl1": {
                              "type": "string",
                              "description": "현장설명서URL1",
                              "properties": {}
                            },
                            "sptDscrptDocUrl2": {
                              "type": "string",
                              "description": "현장설명서URL2",
                              "properties": {}
                            },
                            "sptDscrptDocUrl3": {
                              "type": "string",
                              "description": "현장설명서URL3",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "cmmnSpldmdCnum": {
                              "type": "string",
                              "description": "공동수급업체수",
                              "properties": {}
                            },
                            "untyNtceNo": {
                              "type": "string",
                              "description": "통합공고번호",
                              "properties": {}
                            },
                            "bidPrtcptFee": {
                              "type": "string",
                              "description": "입찰참가수수료",
                              "properties": {}
                            },
                            "bidGrntymnyPaymntYn": {
                              "type": "string",
                              "description": "입찰보증금납부여부",
                              "properties": {}
                            },
                            "bidNtceDtlUrl": {
                              "type": "string",
                              "description": "입찰공고상세URL",
                              "properties": {}
                            },
                            "bidNtceUrl": {
                              "type": "string",
                              "description": "입찰공고URL",
                              "properties": {}
                            },
                            "bidPrtcptFeePaymntYn": {
                              "type": "string",
                              "description": "입찰참가수수료납부여부",
                              "properties": {}
                            },
                            "mtltyAdvcPsblYn": {
                              "type": "string",
                              "description": "상호시장진출허용여부",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "pqApplDocRcptDt": {
                              "type": "string",
                              "description": "PQ신청서접수일시",
                              "properties": {}
                            },
                            "arsltApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "실적신청서접수방법명",
                              "properties": {}
                            },
                            "govcnstrtnGovsplyMtrlAmt": {
                              "type": "string",
                              "description": "관급자설치관급자재금액",
                              "properties": {}
                            },
                            "sucsfbidMthdCd": {
                              "type": "string",
                              "description": "낙찰방법코드",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "cnstrtsiteRgnNm": {
                              "type": "string",
                              "description": "공사현장지역명",
                              "properties": {}
                            },
                            "contrctrcnstrtnGovsplyMtrlAmt": {
                              "type": "string",
                              "description": "도급자설치관급자재금액",
                              "properties": {}
                            },
                            "mtltyAdvcPsblYnCnstwkNm": {
                              "type": "string",
                              "description": "건설산업법적용대상공사명",
                              "properties": {}
                            },
                            "VAT": {
                              "type": "string",
                              "description": "부가가치세",
                              "properties": {}
                            },
                            "govsplyAmt": {
                              "type": "string",
                              "description": "관급금액",
                              "properties": {}
                            },
                            "aplBssCntnts": {
                              "type": "string",
                              "description": "적용기준내용",
                              "properties": {}
                            },
                            "indstrytyEvlRt": {
                              "type": "string",
                              "description": "업종평가비율",
                              "properties": {}
                            },
                            "mainCnsttyNm": {
                              "type": "string",
                              "description": "주공종명",
                              "properties": {}
                            },
                            "presmptPrce": {
                              "type": "string",
                              "description": "추정가격",
                              "properties": {}
                            },
                            "bdgtAmt": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "subsiCnsttyIndstrytyEvlRt1": {
                              "type": "string",
                              "description": "부공종업종평가비율1",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntClseDt": {
                              "type": "string",
                              "description": "공동수급협정마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdCorpRgnLmtYn": {
                              "type": "string",
                              "description": "공동수급업체지역제한여부",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecFileNm6": {
                              "type": "string",
                              "description": "공고규격파일명6",
                              "properties": {}
                            },
                            "ntceSpecFileNm7": {
                              "type": "string",
                              "description": "공고규격파일명7",
                              "properties": {}
                            },
                            "ntceSpecFileNm8": {
                              "type": "string",
                              "description": "공고규격파일명8",
                              "properties": {}
                            },
                            "ntceSpecFileNm9": {
                              "type": "string",
                              "description": "공고규격파일명9",
                              "properties": {}
                            },
                            "ntceSpecFileNm10": {
                              "type": "string",
                              "description": "공고규격파일명10",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecFileNm1": {
                              "type": "string",
                              "description": "공고규격파일명1",
                              "properties": {}
                            },
                            "ntceSpecFileNm2": {
                              "type": "string",
                              "description": "공고규격파일명2",
                              "properties": {}
                            },
                            "ntceSpecFileNm3": {
                              "type": "string",
                              "description": "공고규격파일명3",
                              "properties": {}
                            },
                            "ntceSpecFileNm4": {
                              "type": "string",
                              "description": "공고규격파일명4",
                              "properties": {}
                            },
                            "ntceSpecFileNm5": {
                              "type": "string",
                              "description": "공고규격파일명5",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "mainCnsttyPresmptPrce": {
                              "type": "string",
                              "description": "주공종추정가격",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "sucsfbidLwltRate": {
                              "type": "string",
                              "description": "낙찰하한율",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "ntceInsttOfclTelNo": {
                              "type": "string",
                              "description": "공고기관담당자전화번호",
                              "properties": {}
                            },
                            "ntceInsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "공고기관담당자이메일주소",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "ntceInsttOfclNm": {
                              "type": "string",
                              "description": "공고기관담당자명",
                              "properties": {}
                            },
                            "exctvNm": {
                              "type": "string",
                              "description": "집행관명",
                              "properties": {}
                            },
                            "bidQlfctRgstDt": {
                              "type": "string",
                              "description": "입찰참가자격등록마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntRcptdocMethd": {
                              "type": "string",
                              "description": "공동수급협정서접수방식",
                              "properties": {}
                            },
                            "rsrvtnPrceReMkngMthdNm": {
                              "type": "string",
                              "description": "예비가격재작성방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptDt": {
                              "type": "string",
                              "description": "실적신청서접수일시",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm1": {
                              "type": "string",
                              "description": "공동도급의무지역명1",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm2": {
                              "type": "string",
                              "description": "공동도급의무지역명2",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm3": {
                              "type": "string",
                              "description": "공동도급의무지역명3",
                              "properties": {}
                            },
                            "rgnDutyJntcontrctRt": {
                              "type": "string",
                              "description": "지역의무공동도급비율",
                              "properties": {}
                            },
                            "dtlsBidYn": {
                              "type": "string",
                              "description": "내역입찰여부",
                              "properties": {}
                            },
                            "bidPrtcptLmtYn": {
                              "type": "string",
                              "description": "입찰참가제한여부",
                              "properties": {}
                            },
                            "prearngPrceDcsnMthdNm": {
                              "type": "string",
                              "description": "예정가격결정방법명",
                              "properties": {}
                            },
                            "totPrdprcNum": {
                              "type": "string",
                              "description": "총예가건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "입찰공고목록 정보에 대한 공사조회",
        "description": "검색조건에 등록일시, 입찰공고번호, 변경일시를 입력하여 나라장터의 입찰공고번호, 공고명, 발주기관, 수요기관, 계약체결방법명 등 공사부분의 입찰공고정보를 조회함",
        "operationId": "getBidPblancListInfoCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시(등록일시시작)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시(등록일시끝)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getBidPblancListInfoServc": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidGrntymnyPaymntYn": {
                              "type": "string",
                              "description": "입찰보증금납부여부",
                              "properties": {}
                            },
                            "ntceSpecFileNm9": {
                              "type": "string",
                              "description": "공고규격파일명9",
                              "properties": {}
                            },
                            "ntceSpecFileNm10": {
                              "type": "string",
                              "description": "공고규격파일명10",
                              "properties": {}
                            },
                            "rbidPermsnYn": {
                              "type": "string",
                              "description": "재입찰허용여부",
                              "properties": {}
                            },
                            "drwtPrdprcNum": {
                              "type": "string",
                              "description": "추첨예가건수",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "pubPrcrmntLrgClsfcNm": {
                              "type": "string",
                              "description": "공공조달대분류명",
                              "properties": {}
                            },
                            "pubPrcrmntMidClsfcNm": {
                              "type": "string",
                              "description": "공공조달중분류명",
                              "properties": {}
                            },
                            "VAT": {
                              "type": "string",
                              "description": "부가가치세",
                              "properties": {}
                            },
                            "indutyVAT": {
                              "type": "string",
                              "description": "주공종부가가치세",
                              "properties": {}
                            },
                            "chgNtceRsn": {
                              "type": "string",
                              "description": "변경공고사유",
                              "properties": {}
                            },
                            "dminsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "수요기관담당자이메일주소",
                              "properties": {}
                            },
                            "indstrytyLmtYn": {
                              "type": "string",
                              "description": "업종제한여부",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "sucsfbidMthdCd": {
                              "type": "string",
                              "description": "낙찰방법코드",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "purchsObjPrdctList": {
                              "type": "string",
                              "description": "구매대상물품목록",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "infoBizYn": {
                              "type": "string",
                              "description": "정보화사업여부",
                              "properties": {}
                            },
                            "bidPrtcptLmtYn": {
                              "type": "string",
                              "description": "입찰참가제한여부",
                              "properties": {}
                            },
                            "prearngPrceDcsnMthdNm": {
                              "type": "string",
                              "description": "예정가격결정방법명",
                              "properties": {}
                            },
                            "totPrdprcNum": {
                              "type": "string",
                              "description": "총예가건수",
                              "properties": {}
                            },
                            "rgnDutyJntcontrctRt": {
                              "type": "string",
                              "description": "지역의무공동도급비율",
                              "properties": {}
                            },
                            "dtlsBidYn": {
                              "type": "string",
                              "description": "내역입찰여부",
                              "properties": {}
                            },
                            "tpEvalApplClseDt": {
                              "type": "string",
                              "description": "TP심사신청마감일시",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm1": {
                              "type": "string",
                              "description": "공동도급의무지역명1",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm2": {
                              "type": "string",
                              "description": "공동도급의무지역명2",
                              "properties": {}
                            },
                            "jntcontrctDutyRgnNm3": {
                              "type": "string",
                              "description": "공동도급의무지역명3",
                              "properties": {}
                            },
                            "pqApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "PQ신청서접수방법명",
                              "properties": {}
                            },
                            "pqApplDocRcptDt": {
                              "type": "string",
                              "description": "PQ신청서접수일시",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "pubPrcrmntClsfcNm": {
                              "type": "string",
                              "description": "공공조달분류명",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdNm": {
                              "type": "string",
                              "description": "공동수급방식명",
                              "properties": {}
                            },
                            "stdNtceDocUrl": {
                              "type": "string",
                              "description": "표준공고서URL",
                              "properties": {}
                            },
                            "brffcBidprcPermsnYn": {
                              "type": "string",
                              "description": "지사투찰허용여부",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "ntceInsttOfclNm": {
                              "type": "string",
                              "description": "공고기관담당자명",
                              "properties": {}
                            },
                            "ntceInsttOfclTelNo": {
                              "type": "string",
                              "description": "공고기관담당자전화번호",
                              "properties": {}
                            },
                            "ntceInsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "공고기관담당자이메일주소",
                              "properties": {}
                            },
                            "exctvNm": {
                              "type": "string",
                              "description": "집행관명",
                              "properties": {}
                            },
                            "bidQlfctRgstDt": {
                              "type": "string",
                              "description": "입찰참가자격등록마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntRcptdocMethd": {
                              "type": "string",
                              "description": "공동수급협정서접수방식",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntClseDt": {
                              "type": "string",
                              "description": "공동수급협정마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdCorpRgnLmtYn": {
                              "type": "string",
                              "description": "공동수급업체지역제한여부",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "bidPrtcptFee": {
                              "type": "string",
                              "description": "입찰참가수수료",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "ppswGnrlSrvceYn": {
                              "type": "string",
                              "description": "조달청일반용역여부",
                              "properties": {}
                            },
                            "srvceDivNm": {
                              "type": "string",
                              "description": "용역구분명",
                              "properties": {}
                            },
                            "prdctClsfcLmtYn": {
                              "type": "string",
                              "description": "물품분류제한여부",
                              "properties": {}
                            },
                            "mnfctYn": {
                              "type": "string",
                              "description": "제조여부",
                              "properties": {}
                            },
                            "untyNtceNo": {
                              "type": "string",
                              "description": "통합공고번호",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdCd": {
                              "type": "string",
                              "description": "공동수급방식코드",
                              "properties": {}
                            },
                            "pubPrcrmntClsfcNo": {
                              "type": "string",
                              "description": "공공조달분류번호",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "ntceSpecFileNm1": {
                              "type": "string",
                              "description": "공고규격파일명1",
                              "properties": {}
                            },
                            "ntceSpecFileNm2": {
                              "type": "string",
                              "description": "공고규격파일명2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "dsgntCmptYn": {
                              "type": "string",
                              "description": "지명경쟁여부",
                              "properties": {}
                            },
                            "arsltCmptYn": {
                              "type": "string",
                              "description": "실적경쟁여부",
                              "properties": {}
                            },
                            "tpEvalApplMthdNm": {
                              "type": "string",
                              "description": "TP심사신청방법명",
                              "properties": {}
                            },
                            "rbidOpengDt": {
                              "type": "string",
                              "description": "재입찰개찰일시",
                              "properties": {}
                            },
                            "dcmtgOprtnPlce": {
                              "type": "string",
                              "description": "설명회실시장소",
                              "properties": {}
                            },
                            "bidNtceDtlUrl": {
                              "type": "string",
                              "description": "입찰공고상세URL",
                              "properties": {}
                            },
                            "bidNtceUrl": {
                              "type": "string",
                              "description": "입찰공고URL",
                              "properties": {}
                            },
                            "bidPrtcptFeePaymntYn": {
                              "type": "string",
                              "description": "입찰참가수수료납부여부",
                              "properties": {}
                            },
                            "ntceSpecFileNm3": {
                              "type": "string",
                              "description": "공고규격파일명3",
                              "properties": {}
                            },
                            "ntceSpecFileNm4": {
                              "type": "string",
                              "description": "공고규격파일명4",
                              "properties": {}
                            },
                            "ntceSpecFileNm5": {
                              "type": "string",
                              "description": "공고규격파일명5",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "presmptPrce": {
                              "type": "string",
                              "description": "추정가격",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "dcmtgOprtnDt": {
                              "type": "string",
                              "description": "설명회실시일시",
                              "properties": {}
                            },
                            "ntceSpecFileNm6": {
                              "type": "string",
                              "description": "공고규격파일명6",
                              "properties": {}
                            },
                            "ntceSpecFileNm7": {
                              "type": "string",
                              "description": "공고규격파일명7",
                              "properties": {}
                            },
                            "ntceSpecFileNm8": {
                              "type": "string",
                              "description": "공고규격파일명8",
                              "properties": {}
                            },
                            "sucsfbidLwltRate": {
                              "type": "string",
                              "description": "낙찰하한율",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "arsltReqstdocRcptDt": {
                              "type": "string",
                              "description": "실적신청서접수일시",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "rsrvtnPrceReMkngMthdNm": {
                              "type": "string",
                              "description": "예비가격재작성방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "실적신청서접수방법명",
                              "properties": {}
                            },
                            "pqEvalYn": {
                              "type": "string",
                              "description": "PQ심사여부",
                              "properties": {}
                            },
                            "tpEvalYn": {
                              "type": "string",
                              "description": "TP심사여부",
                              "properties": {}
                            },
                            "ntceDscrptYn": {
                              "type": "string",
                              "description": "공고설명여부",
                              "properties": {}
                            },
                            "ntceKindNm": {
                              "type": "string",
                              "description": "공고종류명",
                              "properties": {}
                            },
                            "intrbidYn": {
                              "type": "string",
                              "description": "국제입찰여부",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "reNtceYn": {
                              "type": "string",
                              "description": "재공고여부",
                              "properties": {}
                            },
                            "rgstTyNm": {
                              "type": "string",
                              "description": "등록유형명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "입찰공고목록 정보에 대한 용역조회",
        "description": "검색조건에 등록일시, 입찰공고번호, 변경일시를 입력하여 나라장터의 입찰공고번호, 공고명, 발주기관, 수요기관, 계약체결방법명 등 용역부분의 입찰공고정보를 조회함",
        "operationId": "getBidPblancListInfoServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getBidPblancListInfoFrgcpt": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "prdctSpecNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdCd": {
                              "type": "string",
                              "description": "공동수급방식코드",
                              "properties": {}
                            },
                            "dminsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "수요기관담당자이메일주소",
                              "properties": {}
                            },
                            "indstrytyLmtYn": {
                              "type": "string",
                              "description": "업종제한여부",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdNm": {
                              "type": "string",
                              "description": "공동수급방식명",
                              "properties": {}
                            },
                            "stdNtceDocUrl": {
                              "type": "string",
                              "description": "표준공고서URL",
                              "properties": {}
                            },
                            "brffcBidprcPermsnYn": {
                              "type": "string",
                              "description": "지사투찰허용여부",
                              "properties": {}
                            },
                            "dsgntCmptYn": {
                              "type": "string",
                              "description": "지명경쟁여부",
                              "properties": {}
                            },
                            "rsrvtnPrceReMkngMthdNm": {
                              "type": "string",
                              "description": "예비가격재작성방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "실적신청서접수방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptDt": {
                              "type": "string",
                              "description": "실적신청서접수일시",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "sucsfbidLwltRate": {
                              "type": "string",
                              "description": "낙찰하한율",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "sucsfbidMthdCd": {
                              "type": "string",
                              "description": "낙찰방법코드",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "chgNtceRsn": {
                              "type": "string",
                              "description": "변경공고사유",
                              "properties": {}
                            },
                            "rbidOpengDt": {
                              "type": "string",
                              "description": "재입찰개찰일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "reNtceYn": {
                              "type": "string",
                              "description": "재공고여부",
                              "properties": {}
                            },
                            "rgstTyNm": {
                              "type": "string",
                              "description": "등록유형명",
                              "properties": {}
                            },
                            "ntceKindNm": {
                              "type": "string",
                              "description": "공고종류명",
                              "properties": {}
                            },
                            "intrbidYn": {
                              "type": "string",
                              "description": "국제입찰여부",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "ntceInsttOfclNm": {
                              "type": "string",
                              "description": "공고기관담당자명",
                              "properties": {}
                            },
                            "ntceInsttOfclTelNo": {
                              "type": "string",
                              "description": "공고기관담당자전화번호",
                              "properties": {}
                            },
                            "ntceInsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "공고기관담당자이메일주소",
                              "properties": {}
                            },
                            "exctvNm": {
                              "type": "string",
                              "description": "집행관명",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "bidQlfctRgstDt": {
                              "type": "string",
                              "description": "입찰참가자격등록마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntRcptdocMethd": {
                              "type": "string",
                              "description": "공동수급협정서접수방식",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntClseDt": {
                              "type": "string",
                              "description": "공동수급협정마감일시",
                              "properties": {}
                            },
                            "cmmnSpldmdCorpRgnLmtYn": {
                              "type": "string",
                              "description": "공동수급업체지역제한여부",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecFileNm1": {
                              "type": "string",
                              "description": "공고규격파일명1",
                              "properties": {}
                            },
                            "ntceSpecFileNm2": {
                              "type": "string",
                              "description": "공고규격파일명2",
                              "properties": {}
                            },
                            "ntceSpecFileNm3": {
                              "type": "string",
                              "description": "공고규격파일명3",
                              "properties": {}
                            },
                            "ntceSpecFileNm4": {
                              "type": "string",
                              "description": "공고규격파일명4",
                              "properties": {}
                            },
                            "ntceSpecFileNm5": {
                              "type": "string",
                              "description": "공고규격파일명5",
                              "properties": {}
                            },
                            "ntceSpecFileNm6": {
                              "type": "string",
                              "description": "공고규격파일명6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecFileNm7": {
                              "type": "string",
                              "description": "공고규격파일명7",
                              "properties": {}
                            },
                            "ntceSpecFileNm8": {
                              "type": "string",
                              "description": "공고규격파일명8",
                              "properties": {}
                            },
                            "ntceSpecFileNm9": {
                              "type": "string",
                              "description": "공고규격파일명9",
                              "properties": {}
                            },
                            "ntceSpecFileNm10": {
                              "type": "string",
                              "description": "공고규격파일명10",
                              "properties": {}
                            },
                            "rbidPermsnYn": {
                              "type": "string",
                              "description": "재입찰허용여부",
                              "properties": {}
                            },
                            "prdctClsfcLmtYn": {
                              "type": "string",
                              "description": "물품분류제한여부",
                              "properties": {}
                            },
                            "mnfctYn": {
                              "type": "string",
                              "description": "제조여부",
                              "properties": {}
                            },
                            "prearngPrceDcsnMthdNm": {
                              "type": "string",
                              "description": "예정가격결정방법명",
                              "properties": {}
                            },
                            "totPrdprcNum": {
                              "type": "string",
                              "description": "총예가건수",
                              "properties": {}
                            },
                            "drwtPrdprcNum": {
                              "type": "string",
                              "description": "추첨예가건수",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "presmptPrce": {
                              "type": "string",
                              "description": "추정가격",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "bidNtceDtlUrl": {
                              "type": "string",
                              "description": "입찰공고상세URL",
                              "properties": {}
                            },
                            "bidNtceUrl": {
                              "type": "string",
                              "description": "입찰공고URL",
                              "properties": {}
                            },
                            "bidPrtcptFeePaymntYn": {
                              "type": "string",
                              "description": "입찰참가수수료납부여부",
                              "properties": {}
                            },
                            "bidPrtcptFee": {
                              "type": "string",
                              "description": "입찰참가수수료",
                              "properties": {}
                            },
                            "bidGrntymnyPaymntYn": {
                              "type": "string",
                              "description": "입찰보증금납부여부",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "prdctSno": {
                              "type": "string",
                              "description": "물품순번",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctQty": {
                              "type": "string",
                              "description": "물품수량",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctUprc": {
                              "type": "string",
                              "description": "물품단가",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "dlvryCndtnNm": {
                              "type": "string",
                              "description": "인도조건명",
                              "properties": {}
                            },
                            "purchsObjPrdctList": {
                              "type": "string",
                              "description": "구매대상물품목록",
                              "properties": {}
                            },
                            "untyNtceNo": {
                              "type": "string",
                              "description": "통합공고번호",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "입찰공고목록 정보에 대한 외자조회",
        "description": "검색조건에 등록일시, 입찰공고번호, 변경일시를 입력하여 나라장터의 입찰공고번호, 공고명, 발주기관, 수요기관, 계약체결방법명 등 용역부분의 입찰공고정보를 조회함",
        "operationId": "getBidPblancListInfoFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getBidPblancListInfoThng": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "intrbidYn": {
                              "type": "string",
                              "description": "국제입찰여부",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "bidGrntymnyPaymntYn": {
                              "type": "string",
                              "description": "입찰보증금납부여부",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "prdctSpecNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "prdctQty": {
                              "type": "string",
                              "description": "물품수량",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctUprc": {
                              "type": "string",
                              "description": "물품단가",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "dlvryCndtnNm": {
                              "type": "string",
                              "description": "인도조건명",
                              "properties": {}
                            },
                            "purchsObjPrdctList": {
                              "type": "string",
                              "description": "구매대상물품목록",
                              "properties": {}
                            },
                            "untyNtceNo": {
                              "type": "string",
                              "description": "통합공고번호",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdCd": {
                              "type": "string",
                              "description": "공동수급방식코드",
                              "properties": {}
                            },
                            "cmmnSpldmdMethdNm": {
                              "type": "string",
                              "description": "공동수급방식명",
                              "properties": {}
                            },
                            "stdNtceDocUrl": {
                              "type": "string",
                              "description": "표준공고서URL",
                              "properties": {}
                            },
                            "brffcBidprcPermsnYn": {
                              "type": "string",
                              "description": "지사투찰허용여부",
                              "properties": {}
                            },
                            "dsgntCmptYn": {
                              "type": "string",
                              "description": "지명경쟁여부",
                              "properties": {}
                            },
                            "rsrvtnPrceReMkngMthdNm": {
                              "type": "string",
                              "description": "예비가격재작성방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptMthdNm": {
                              "type": "string",
                              "description": "실적신청서접수방법명",
                              "properties": {}
                            },
                            "arsltApplDocRcptDt": {
                              "type": "string",
                              "description": "실적신청서접수일시",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "sucsfbidLwltRate": {
                              "type": "string",
                              "description": "낙찰하한율",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecFileNm1": {
                              "type": "string",
                              "description": "공고규격파일명1",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "ntceInsttOfclNm": {
                              "type": "string",
                              "description": "공고기관담당자명",
                              "properties": {}
                            },
                            "ntceInsttOfclTelNo": {
                              "type": "string",
                              "description": "공고기관담당자전화번호",
                              "properties": {}
                            },
                            "ntceInsttOfclEmailAdrs": {
                              "type": "string",
                              "description": "공고기관담당자이메일주소",
                              "properties": {}
                            },
                            "exctvNm": {
                              "type": "string",
                              "description": "집행관명",
                              "properties": {}
                            },
                            "bidQlfctRgstDt": {
                              "type": "string",
                              "description": "입찰참가자격등록마감일시",
                              "properties": {}
[...]
