{
  "swagger": "2.0",
  "info": {
    "description": "나라장터에서 체결된 계약정보목록을 물품, 외자, 공사, 용역의각 업무별로 제공하는 서비스로, 각 업무별 계약상세정보, 계약변경이력정보, 계약삭제이력정보를 제공. 또한, 나라장터 검색조건인 계약체결일자, 확정계약번호, 요청번호, 공고번호, 기관명(계약기관, 수요기관), 품명, 계약방법, 계약참조번호에 따른 계약현황정보를 제공\n. 변경된 계약정보이력조회\n. 삭제된 계약정보조회\n. 나라장터 검색조건에 의한 계약정보 조회\n※ 업무구분별(물품,외자,공사,용역)로 기본조회와 상세조회가 오퍼레이션별로 구분되어 있으므로 계약 정보 조회 및 처리 시 유의하여 주시기 바랍니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 계약정보서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/CntrctInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getCntrctInfoListThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pubPrcrmntLrgClsfcNm": {
                              "type": "string",
                              "description": "공공조달대분류명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "cntrctNm": {
                              "type": "string",
                              "description": "계약명",
                              "properties": {}
                            },
                            "cmmnCntrctYn": {
                              "type": "string",
                              "description": "공동계약여부",
                              "properties": {}
                            },
                            "lngtrmCtnuDivNm": {
                              "type": "string",
                              "description": "장기계속구분명",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "cntrctPrd": {
                              "type": "string",
                              "description": "계약기간",
                              "properties": {}
                            },
                            "baseLawNm": {
                              "type": "string",
                              "description": "근거법률명",
                              "properties": {}
                            },
                            "totCntrctAmt": {
                              "type": "string",
                              "description": "총계약금액",
                              "properties": {}
                            },
                            "thtmCntrctAmt": {
                              "type": "string",
                              "description": "금차계약금액",
                              "properties": {}
                            },
                            "grntymnyRate": {
                              "type": "string",
                              "description": "보증금률",
                              "properties": {}
                            },
                            "cntrctInfoUrl": {
                              "type": "string",
                              "description": "계약정보URL",
                              "properties": {}
                            },
                            "payDivNm": {
                              "type": "string",
                              "description": "지급구분명",
                              "properties": {}
                            },
                            "reqNo": {
                              "type": "string",
                              "description": "요청번호",
                              "properties": {}
                            },
                            "ntceNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "cntrctInsttCd": {
                              "type": "string",
                              "description": "계약기관코드",
                              "properties": {}
                            },
                            "cntrctInsttNm": {
                              "type": "string",
                              "description": "계약기관명",
                              "properties": {}
                            },
                            "cntrctInsttJrsdctnDivNm": {
                              "type": "string",
                              "description": "계약기관소관구분명",
                              "properties": {}
                            },
                            "cntrctInsttChrgDeptNm": {
                              "type": "string",
                              "description": "계약기관담당부서명",
                              "properties": {}
                            },
                            "cntrctInsttOfclNm": {
                              "type": "string",
                              "description": "계약기관담당자명",
                              "properties": {}
                            },
                            "cntrctInsttOfclTelNo": {
                              "type": "string",
                              "description": "계약기관담당자전화번호",
                              "properties": {}
                            },
                            "cntrctInsttOfclFaxNo": {
                              "type": "string",
                              "description": "계약기관담당자팩스번호",
                              "properties": {}
                            },
                            "dminsttList": {
                              "type": "string",
                              "description": "수요기관목록",
                              "properties": {}
                            },
                            "cntrctDtlInfoUrl": {
                              "type": "string",
                              "description": "계약상세정보URL",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "baseDtls": {
                              "type": "string",
                              "description": "근거내역",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "dfrcmpnstRt": {
                              "type": "string",
                              "description": "지체상금율",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "pubPrcrmntMidClsfcNm": {
                              "type": "string",
                              "description": "공공조달중분류명",
                              "properties": {}
                            },
                            "pubPrcrmntClsfcNo": {
                              "type": "string",
                              "description": "공공조달분류번호",
                              "properties": {}
                            },
                            "pubPrcrmntClsfcNm": {
                              "type": "string",
                              "description": "공공조달분류명",
                              "properties": {}
                            },
                            "corpList": {
                              "type": "string",
                              "description": "업체목록",
                              "properties": {}
                            },
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "infoBizYn": {
                              "type": "string",
                              "description": "정보화사업여부",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 물품조회",
        "description": "검색조건을 등록일시, 통합계약번호 등을 입력하여 물품 계약현황 (통합계약번호, 계약구분, 확정계약번호, 계약참조번호, 계약건명, 공동계약여부, 장기계속구분, 계약체결일자, 계약기간, 근거법률, 총계약금액, 금차계약금액, 보증금률, 링크URL, 지급구분, 요청번호, 공고번호, 계약기관코드, 계약기관명, 계약기관소관구분, 계약기관담당부서명, 계약기관담당자명, 계약기관담당자전화번호, 계약기관담당자팩스번호, 수요기관정보, 업체정보, 상세링크, 채권자명, 근거내역, 계약방법명, 지체상금율) 정보를 조회",
        "operationId": "getCntrctInfoListThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListFrgcptDltHstry": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "dltDt": {
                              "type": "string",
                              "description": "삭제일시",
                              "properties": {}
                            },
                            "chgDivNm": {
                              "type": "string",
                              "description": "변경구분명",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 외자삭제이력조회",
        "description": "검색조건에 삭제일시, 통합계약번호를 입력하여 외자 계약삭제이력정보( 삭제일시, 변경구분명, 통합계약번호, 확정계약번호, 계약참조번호) 조회",
        "operationId": "getCntrctInfoListFrgcptDltHstry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListFrgcptChgHstry": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "baseDtls": {
                              "type": "string",
                              "description": "근거내역",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "cntrctNm": {
                              "type": "string",
                              "description": "계약명",
                              "properties": {}
                            },
                            "cmmnCntrctYn": {
                              "type": "string",
                              "description": "공동계약여부",
                              "properties": {}
                            },
                            "lngtrmCtnuDivNm": {
                              "type": "string",
                              "description": "장기계속구분명",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "cntrctPrd": {
                              "type": "string",
                              "description": "계약기간",
                              "properties": {}
                            },
                            "baseLawNm": {
                              "type": "string",
                              "description": "근거법률명",
                              "properties": {}
                            },
                            "totCntrctAmt": {
                              "type": "string",
                              "description": "총계약금액",
                              "properties": {}
                            },
                            "totCntrctAmtCrncy": {
                              "type": "string",
                              "description": "총계약금액통화",
                              "properties": {}
                            },
                            "thtmCntrctAmt": {
                              "type": "string",
                              "description": "금차계약금액",
                              "properties": {}
                            },
                            "grntymnyRate": {
                              "type": "string",
                              "description": "보증금률",
                              "properties": {}
                            },
                            "cntrctInfoUrl": {
                              "type": "string",
                              "description": "계약정보URL",
                              "properties": {}
                            },
                            "thtmCntrctAmtCrncy": {
                              "type": "string",
                              "description": "금차계약금액통화",
                              "properties": {}
                            },
                            "payDivNm": {
                              "type": "string",
                              "description": "지급구분명",
                              "properties": {}
                            },
                            "reqNo": {
                              "type": "string",
                              "description": "요청번호",
                              "properties": {}
                            },
                            "ntceNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "cntrctInsttCd": {
                              "type": "string",
                              "description": "계약기관코드",
                              "properties": {}
                            },
                            "cntrctInsttNm": {
                              "type": "string",
                              "description": "계약기관명",
                              "properties": {}
                            },
                            "cntrctInsttJrsdctnDivNm": {
                              "type": "string",
                              "description": "계약기관소관구분명",
                              "properties": {}
                            },
                            "cntrctInsttChrgDeptNm": {
                              "type": "string",
                              "description": "계약기관담당부서명",
                              "properties": {}
                            },
                            "cntrctInsttOfclNm": {
                              "type": "string",
                              "description": "계약기관담당자명",
                              "properties": {}
                            },
                            "cntrctInsttOfclTelNo": {
                              "type": "string",
                              "description": "계약기관담당자전화번호",
                              "properties": {}
                            },
                            "cntrctInsttOfclFaxNo": {
                              "type": "string",
                              "description": "계약기관담당자팩스번호",
                              "properties": {}
                            },
                            "dminsttList": {
                              "type": "string",
                              "description": "수요기관목록",
                              "properties": {}
                            },
                            "cntrctDtlInfoUrl": {
                              "type": "string",
                              "description": "계약상세정보URL",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "corpList": {
                              "type": "string",
                              "description": "업체목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 외자변경이력조회",
        "description": "검색조건을 변경일시, 통합계약번호 등을 입력하여 외자 계약변경이력 (통합계약번호, 업무구분명, 확정계약번호, 계약참조번호, 계약명, 공동계약여부, 장기계속구분명, 계약체결일자, 계약기간, 근거법률명, 총계약금액, 금차계약금액, 보증금률, 계약정보URL, 지급구분명, 요청번호, 공고번호, 계약기관코드, 계약기관명, 계약기관소관구분명, 계약기관담당부서명, 계약기관담당자명, 계약기관담당자전화번호, 계약기관담당자팩스번호, 수요기관목록, 업체목록, 계약상세정보URL, 채권자명, 근거내역, 계약체결방법명) 정보를 조회",
        "operationId": "getCntrctInfoListFrgcptChgHstry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListFrgcptPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "corpList": {
                              "type": "string",
                              "description": "업체목록",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "cntrctNm": {
                              "type": "string",
                              "description": "계약명",
                              "properties": {}
                            },
                            "cmmnCntrctYn": {
                              "type": "string",
                              "description": "공동계약여부",
                              "properties": {}
                            },
                            "lngtrmCtnuDivNm": {
                              "type": "string",
                              "description": "장기계속구분명",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "cntrctPrd": {
                              "type": "string",
                              "description": "계약기간",
                              "properties": {}
                            },
                            "baseLawNm": {
                              "type": "string",
                              "description": "근거법률명",
                              "properties": {}
                            },
                            "totCntrctAmt": {
                              "type": "string",
                              "description": "총계약금액",
                              "properties": {}
                            },
                            "totCntrctAmtCrncy": {
                              "type": "string",
                              "description": "총계약금액통화",
                              "properties": {}
                            },
                            "thtmCntrctAmt": {
                              "type": "string",
                              "description": "금차계약금액",
                              "properties": {}
                            },
                            "grntymnyRate": {
                              "type": "string",
                              "description": "보증금률",
                              "properties": {}
                            },
                            "thtmCntrctAmtCrncy": {
                              "type": "string",
                              "description": "금차계약금액통화",
                              "properties": {}
                            },
                            "cntrctInfoUrl": {
                              "type": "string",
                              "description": "계약정보URL",
                              "properties": {}
                            },
                            "payDivNm": {
                              "type": "string",
                              "description": "지급구분명",
                              "properties": {}
                            },
                            "reqNo": {
                              "type": "string",
                              "description": "요청번호",
                              "properties": {}
                            },
                            "ntceNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "cntrctInsttCd": {
                              "type": "string",
                              "description": "계약기관코드",
                              "properties": {}
                            },
                            "cntrctInsttNm": {
                              "type": "string",
                              "description": "계약기관명",
                              "properties": {}
                            },
                            "cntrctInsttJrsdctnDivNm": {
                              "type": "string",
                              "description": "계약기관소관구분명",
                              "properties": {}
                            },
                            "cntrctInsttChrgDeptNm": {
                              "type": "string",
                              "description": "계약기관담당부서명",
                              "properties": {}
                            },
                            "cntrctInsttOfclNm": {
                              "type": "string",
                              "description": "계약기관담당자명",
                              "properties": {}
                            },
                            "cntrctInsttOfclTelNo": {
                              "type": "string",
                              "description": "계약기관담당자전화번호",
                              "properties": {}
                            },
                            "cntrctInsttOfclFaxNo": {
                              "type": "string",
                              "description": "계약기관담당자팩스번호",
                              "properties": {}
                            },
                            "dminsttList": {
                              "type": "string",
                              "description": "수요기관목록",
                              "properties": {}
                            },
                            "cntrctDtlInfoUrl": {
                              "type": "string",
                              "description": "계약상세정보URL",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "baseDtls": {
                              "type": "string",
                              "description": "근거내역",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터검색조건에 의한 계약현황 외자조회",
        "description": "나라장터 검색조건인 계약체결일자, 공급자, 제작사, 공고번호, 기관분류 (계약기관), 기관명, 품명, 계약방법, 계약참조번호를 입력하면 외자계약현황(통합계약번호, 업무구분명, 확정계약번호, 계약참조번호, 계약명, 공동계약여부, 장기계속구분명, 계약체결일자, 계약기간, 근거법률명, 총계약금액, 금차계약금액, 보증금률, 계약정보URL, 지급구분명, 요청번호, 공고번호, 계약기관코드, 계약기관명, 계약기관소관구분명, 계약기관담당부서명, 계약기관담당자명, 계약기관담당자전화번호, 계약기관담당자팩스번호, 수요기관목록, 업체목록, 계약상세정보URL, 채권자명, 근거내역, 계약체결방법명)를 조회",
        "operationId": "getCntrctInfoListFrgcptPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDate",
          "description": "조회시작일자",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDate",
          "description": "조회종료일자",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "insttDivCd",
          "description": "기관구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "insttClsfcCd",
          "description": "기관분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "insttCd",
          "description": "기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "insttNm",
          "description": "기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "splyCorpNm",
          "description": "공급업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "makeCorpNm",
          "description": "제작업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "reqNo",
          "description": "요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceNo",
          "description": "공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dcsnCntrctNo",
          "description": "확정계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrctRefNo",
          "description": "계약참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListFrgcptDetail": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "adiPrdctClsfcNo": {
                              "type": "string",
                              "description": "부가물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "krnPrdctNm": {
                              "type": "string",
                              "description": "한글품목명",
                              "properties": {}
                            },
                            "orgplceCd": {
                              "type": "string",
                              "description": "원산지코드",
                              "properties": {}
                            },
                            "orgplceNm": {
                              "type": "string",
                              "description": "원산지명",
                              "properties": {}
                            },
                            "qtyUprcAmt": {
                              "type": "string",
                              "description": "수량단가금액",
                              "properties": {}
                            },
                            "prdctQty": {
                              "type": "string",
                              "description": "물품수량",
                              "properties": {}
                            },
                            "prdctAmt": {
                              "type": "string",
                              "description": "물품금액",
                              "properties": {}
                            },
                            "prdctAmtCrncy": {
                              "type": "string",
                              "description": "물품금액통화",
                              "properties": {}
                            },
                            "dlvryCndtnCd": {
                              "type": "string",
                              "description": "인도조건코드",
                              "properties": {}
                            },
                            "dlvryCndtnNm": {
                              "type": "string",
                              "description": "인도조건명",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "dlvrTmlmt": {
                              "type": "string",
                              "description": "납품기한",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 외자세부조회",
        "description": "검색조건을 계약체결일시, 통합계약번호 등을 입력하여 외자 계약세부현황 (계약체결일자, 통합계약번호, 확정계약번호, 계약참조번호, 부가물품분류번호, 물품분류번호, 물품식별번호, 품명, 한글품목명, 원산지코드, 원산지명, 수량단가금액, 물품수량, 물품금액, 물품금액통화, 인도조건코드, 인도조건명, 납품일수, 납품기한) 정보를 조회",
        "operationId": "getCntrctInfoListFrgcptDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "﻿통합계약번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListFrgcpt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "corpList": {
                              "type": "string",
                              "description": "업체목록",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "cntrctNm": {
                              "type": "string",
                              "description": "계약명",
                              "properties": {}
                            },
                            "cmmnCntrctYn": {
                              "type": "string",
                              "description": "공동계약여부",
                              "properties": {}
                            },
                            "lngtrmCtnuDivNm": {
                              "type": "string",
                              "description": "장기계속구분명",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "cntrctPrd": {
                              "type": "string",
                              "description": "계약기간",
                              "properties": {}
                            },
                            "baseLawNm": {
                              "type": "string",
                              "description": "근거법률명",
                              "properties": {}
                            },
                            "totCntrctAmt": {
                              "type": "string",
                              "description": "총계약금액",
                              "properties": {}
                            },
                            "thtmCntrctAmt": {
                              "type": "string",
                              "description": "금차계약금액",
                              "properties": {}
                            },
                            "totCntrctAmtCrncy": {
                              "type": "string",
                              "description": "총계약금액통화",
                              "properties": {}
                            },
                            "grntymnyRate": {
                              "type": "string",
                              "description": "보증금률",
                              "properties": {}
                            },
                            "thtmCntrctAmtCrncy": {
                              "type": "string",
                              "description": "금차계약금액통화",
                              "properties": {}
                            },
                            "cntrctInfoUrl": {
                              "type": "string",
                              "description": "계약정보URL",
                              "properties": {}
                            },
                            "payDivNm": {
                              "type": "string",
                              "description": "지급구분명",
                              "properties": {}
                            },
                            "reqNo": {
                              "type": "string",
                              "description": "요청번호",
                              "properties": {}
                            },
                            "ntceNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "cntrctInsttCd": {
                              "type": "string",
                              "description": "계약기관코드",
                              "properties": {}
                            },
                            "cntrctInsttNm": {
                              "type": "string",
                              "description": "계약기관명",
                              "properties": {}
                            },
                            "cntrctInsttJrsdctnDivNm": {
                              "type": "string",
                              "description": "계약기관소관구분명",
                              "properties": {}
                            },
                            "cntrctInsttChrgDeptNm": {
                              "type": "string",
                              "description": "계약기관담당부서명",
                              "properties": {}
                            },
                            "cntrctInsttOfclNm": {
                              "type": "string",
                              "description": "계약기관담당자명",
                              "properties": {}
                            },
                            "cntrctInsttOfclTelNo": {
                              "type": "string",
                              "description": "계약기관담당자전화번호",
                              "properties": {}
                            },
                            "cntrctInsttOfclFaxNo": {
                              "type": "string",
                              "description": "계약기관담당자팩스번호",
                              "properties": {}
                            },
                            "dminsttList": {
                              "type": "string",
                              "description": "수요기관목록",
                              "properties": {}
                            },
                            "cntrctDtlInfoUrl": {
                              "type": "string",
                              "description": "계약상세정보URL",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "baseDtls": {
                              "type": "string",
                              "description": "근거내역",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 외자조회",
        "description": "검색조건을 등록일시, 통합계약번호 등을 입력하여 외자 계약현황 (통합계약번호, 업무구분명, 확정계약번호, 계약참조번호, 계약명, 공동계약여부, 장기계속구분명, 계약체결일자, 계약기간, 근거법률명, 총계약금액, 금차계약금액, 보증금률, 계약정보URL, 지급구분명, 요청번호, 공고번호, 계약기관코드, 계약기관명, 계약기관소관구분명, 계약기관담당부서명, 계약기관담당자명, 계약기관담당자전화번호, 계약기관담당자팩스번호, 수요기관목록, 업체목록, 계약상세정보URL, 채권자명, 근거내역, 계약체결방법명) 정보를 조회",
        "operationId": "getCntrctInfoListFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListServcDltHstry": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "dltDt": {
                              "type": "string",
                              "description": "삭제일시",
                              "properties": {}
                            },
                            "chgDivNm": {
                              "type": "string",
                              "description": "변경구분명",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 용역삭제이력조회",
        "description": "검색조건에 삭제일시, 통합계약번호를 입력하여 용역 계약삭제이력정보( 삭제일시, 변경구분명, 통합계약번호, 확정계약번호, 계약참조번호) 조회",
        "operationId": "getCntrctInfoListServcDltHstry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListServcChgHstry": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pubPrcrmntClsfcNm": {
                              "type": "string",
                              "description": "공공조달분류명",
                              "properties": {}
                            },
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "infoBizYn": {
                              "type": "string",
                              "description": "정보화사업여부",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "cntrctNm": {
                              "type": "string",
                              "description": "계약명",
                              "properties": {}
                            },
                            "cmmnCntrctYn": {
                              "type": "string",
                              "description": "공동계약여부",
                              "properties": {}
                            },
                            "lngtrmCtnuDivNm": {
                              "type": "string",
                              "description": "장기계속구분명",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "cntrctPrd": {
                              "type": "string",
                              "description": "계약기간",
                              "properties": {}
                            },
                            "baseLawNm": {
                              "type": "string",
                              "description": "근거법률명",
                              "properties": {}
                            },
                            "totCntrctAmt": {
                              "type": "string",
                              "description": "총계약금액",
                              "properties": {}
                            },
                            "thtmCntrctAmt": {
                              "type": "string",
                              "description": "금차계약금액",
                              "properties": {}
                            },
                            "grntymnyRate": {
                              "type": "string",
                              "description": "보증금률",
                              "properties": {}
                            },
                            "cntrctInfoUrl": {
                              "type": "string",
                              "description": "계약정보URL",
                              "properties": {}
                            },
                            "payDivNm": {
                              "type": "string",
                              "description": "지급구분명",
                              "properties": {}
                            },
                            "reqNo": {
                              "type": "string",
                              "description": "요청번호",
                              "properties": {}
                            },
                            "ntceNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "cntrctInsttCd": {
                              "type": "string",
                              "description": "계약기관코드",
                              "properties": {}
                            },
                            "cntrctInsttNm": {
                              "type": "string",
                              "description": "계약기관명",
                              "properties": {}
                            },
                            "cntrctInsttJrsdctnDivNm": {
                              "type": "string",
                              "description": "계약기관소관구분명",
                              "properties": {}
                            },
                            "cntrctInsttChrgDeptNm": {
                              "type": "string",
                              "description": "계약기관담당부서명",
                              "properties": {}
                            },
                            "cntrctInsttOfclNm": {
                              "type": "string",
                              "description": "계약기관담당자명",
                              "properties": {}
                            },
                            "cntrctInsttOfclTelNo": {
                              "type": "string",
                              "description": "계약기관담당자전화번호",
                              "properties": {}
                            },
                            "cntrctInsttOfclFaxNo": {
                              "type": "string",
                              "description": "계약기관담당자팩스번호",
                              "properties": {}
                            },
                            "dminsttList": {
                              "type": "string",
                              "description": "수요기관목록",
                              "properties": {}
                            },
                            "cntrctDtlInfoUrl": {
                              "type": "string",
                              "description": "계약상세정보URL",
                              "properties": {}
                            },
                            "crdtrNm": {
                              "type": "string",
                              "description": "채권자명",
                              "properties": {}
                            },
                            "baseDtls": {
                              "type": "string",
                              "description": "근거내역",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "dfrcmpnstRt": {
                              "type": "string",
                              "description": "지체상금율",
                              "properties": {}
                            },
                            "wbgnDate": {
                              "type": "string",
                              "description": "착수일자",
                              "properties": {}
                            },
                            "thtmScmpltDate": {
                              "type": "string",
                              "description": "금차완수일자",
                              "properties": {}
                            },
                            "ttalScmpltDate": {
                              "type": "string",
                              "description": "총완수일자",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "corpList": {
                              "type": "string",
                              "description": "업체목록",
                              "properties": {}
                            },
                            "pubPrcrmntClsfcNo": {
                              "type": "string",
                              "description": "공공조달분류번호",
                              "properties": {}
                            },
                            "pubPrcrmntMidClsfcNm": {
                              "type": "string",
                              "description": "공공조달중분류명",
                              "properties": {}
                            },
                            "pubPrcrmntLrgClsfcNm": {
                              "type": "string",
                              "description": "공공조달대분류명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 용역변경이력조회",
        "description": "검색조건인 변경일자, 통합계약번호를 입력하면 용역 계약변경이력정보(통합계약번호, 업무구분명, 확정계약번호, 계약참조번호, 계약명, 공동계약여부, 장기계속구분명, 계약체결일자, 계약기간, 근거법률명, 총계약금액, 금차계약금액, 보증금률, 계약정보URL, 지급구분명, 요청번호, 공고번호, 계약기관코드, 계약기관명, 계약기관소관구분명, 계약기관담당부서명, 계약기관담당자명, 계약기관담당자전화번호, 계약기관담당자팩스번호, 수요기관목록, 업체목록, 계약상세정보URL, 채권자명, 근거내역, 계약체결방법명, 지체상금율, 착수일자, 금차완수일자, 총완수일자)를 조회",
        "operationId": "getCntrctInfoListServcChgHstry",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListThngDetail": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dcsnCntrctNo": {
                              "type": "string",
                              "description": "확정계약번호",
                              "properties": {}
                            },
                            "cntrctRefNo": {
                              "type": "string",
                              "description": "계약참조번호",
                              "properties": {}
                            },
                            "cntrctCnclsDate": {
                              "type": "string",
                              "description": "계약체결일자",
                              "properties": {}
                            },
                            "untyCntrctNo": {
                              "type": "string",
                              "description": "통합계약번호",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "krnPrdctNm": {
                              "type": "string",
                              "description": "한글품목명",
                              "properties": {}
                            },
                            "orgplceCd": {
                              "type": "string",
                              "description": "원산지코드",
                              "properties": {}
                            },
                            "orgplceNm": {
                              "type": "string",
                              "description": "원산지명",
                              "properties": {}
                            },
                            "qtyUprcAmt": {
                              "type": "string",
                              "description": "수량단가금액",
                              "properties": {}
                            },
                            "prdctQty": {
                              "type": "string",
                              "description": "물품수량",
                              "properties": {}
                            },
                            "prdctAmt": {
                              "type": "string",
                              "description": "물품금액",
                              "properties": {}
                            },
                            "dlvryCndtnCd": {
                              "type": "string",
                              "description": "인도조건코드",
                              "properties": {}
                            },
                            "dlvryCndtnNm": {
                              "type": "string",
                              "description": "인도조건명",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "dlvrTmlmt": {
                              "type": "string",
                              "description": "납품기한",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약현황에 대한 물품세부조회",
        "description": "검색조건을 등록일시, 통합계약번호 등을 입력하여 물품 계약세부현황 (계약체결일자, 통합계약번호, 확정계약번호, 계약참조번호, 물품분류번호, 물품식별번호, 품명, 한글품목명, 원산지코드, 원산지명, 수량단가금액, 물품수량, 물품금액, 인도조건코드, 인도조건명, 납품일수, 납품기한) 정보를 조회",
        "operationId": "getCntrctInfoListThngDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "untyCntrctNo",
          "description": "통합계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctInfoListServcPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "thtmScmpltDate": {
                              "type": "string",
                              "description": "금차완수일자",
                              "properties": {}
                            },
                            "wbgnDate": {
                              "type": "string",
[...]
