{
  "swagger": "2.0",
  "info": {
    "description": "물품, 용역, 외자, 공사 업무별로 나라장터에 공개된 사전규격정보를 제공하는 서비스로 업무별 사전규격 전체목록 및 기관별, 품목별로 사전규격을 조회할 수 있으며 사전규격등록번호, 품명(사업명), 배정예산액, 관련규격서파일, 규격서 의견 등을 제공하는 나라장터 사전규격정보서비스\n\n사전규격공개란? 국가계약법(정부입찰계약집행기준) 및 지방계약법에 따라 입찰에 부치는 경우 입찰공고를 등록하기 이전에 미리 물품 또는 용역에 대한 규격을 사전 공개하고 관련 업체가 의견을 제시할 수 있게 하는 절차",
    "version": "1.0.0",
    "title": "조달청_나라장터 사전규격정보서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/HrcspSsstndrdInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getPublicPrcureThngInfoThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "prdctDtlList": {
                              "type": "string",
                              "description": "물품상세목록",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "사전규격 물품 목록 조회",
        "description": "검색조건을 조회구분, 등록일시범위, 변경일시범위, 사전규격등록번호로 입력하여 물품에 대한 사전규격등록번호, 품명, 발주기관명, 수요기관명, 관련 규격문서파일 등 나라장터 사전규격정보목록을 조회",
        "operationId": "getPublicPrcureThngInfoThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "﻿조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "﻿조회종료일시",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngOpinionInfoCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "opninCntnts": {
                              "type": "string",
                              "description": "의견내용",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "opninNo": {
                              "type": "string",
                              "description": "의견번호",
                              "properties": {}
                            },
                            "rplyNo": {
                              "type": "string",
                              "description": "답변번호",
                              "properties": {}
                            },
                            "opninTitl": {
                              "type": "string",
                              "description": "의견제목",
                              "properties": {}
                            },
                            "mkngCorpNm": {
                              "type": "string",
                              "description": "작성업체명",
                              "properties": {}
                            },
                            "mkrNm": {
                              "type": "string",
                              "description": "작성자명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "mkrTel": {
                              "type": "string",
                              "description": "작성자전화번호",
                              "properties": {}
                            },
                            "mkrEmail": {
                              "type": "string",
                              "description": "작성자이메일",
                              "properties": {}
                            },
                            "specDocOpninFileUrl1": {
                              "type": "string",
                              "description": "규격서의견파일URL1",
                              "properties": {}
                            },
                            "specDocOpninFileUrl2": {
                              "type": "string",
                              "description": "규격서의견파일URL2",
                              "properties": {}
                            },
                            "specDocOpninFileUrl3": {
                              "type": "string",
                              "description": "규격서의견파일URL3",
                              "properties": {}
                            },
                            "specDocOpninFileUrl4": {
                              "type": "string",
                              "description": "규격서의견파일URL4",
                              "properties": {}
                            },
                            "specDocOpninFileUrl5": {
                              "type": "string",
                              "description": "규격서의견파일URL5",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 사전규격 공사 규격서 의견 목록 조회",
        "description": "검색조건을 조회구분, 등록일시범위, 사전규격등록번호로 입력하여 사전규격등록번호, 참조번호, 의견제목, 작성업체명, 작성자명, 입력일시, 작성자전화번호, 작성자이메일, 관련 규격서의견파일, 의견내용 등 나라장터 사전규격 공사 규격서 의견 목록을 조회",
        "operationId": "getPublicPrcureThngOpinionInfoCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngOpinionInfoServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "opninCntnts": {
                              "type": "string",
                              "description": "의견내용",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "opninNo": {
                              "type": "string",
                              "description": "의견번호",
                              "properties": {}
                            },
                            "rplyNo": {
                              "type": "string",
                              "description": "답변번호",
                              "properties": {}
                            },
                            "opninTitl": {
                              "type": "string",
                              "description": "의견제목",
                              "properties": {}
                            },
                            "mkngCorpNm": {
                              "type": "string",
                              "description": "작성업체명",
                              "properties": {}
                            },
                            "mkrNm": {
                              "type": "string",
                              "description": "작성자명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "mkrTel": {
                              "type": "string",
                              "description": "작성자전화번호",
                              "properties": {}
                            },
                            "mkrEmail": {
                              "type": "string",
                              "description": "작성자이메일",
                              "properties": {}
                            },
                            "specDocOpninFileUrl1": {
                              "type": "string",
                              "description": "규격서의견파일URL1",
                              "properties": {}
                            },
                            "specDocOpninFileUrl2": {
                              "type": "string",
                              "description": "규격서의견파일URL2",
                              "properties": {}
                            },
                            "specDocOpninFileUrl3": {
                              "type": "string",
                              "description": "규격서의견파일URL3",
                              "properties": {}
                            },
                            "specDocOpninFileUrl4": {
                              "type": "string",
                              "description": "규격서의견파일URL4",
                              "properties": {}
                            },
                            "specDocOpninFileUrl5": {
                              "type": "string",
                              "description": "규격서의견파일URL5",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 사전규격 용역 규격서 의견 목록 조회",
        "description": "검색조건을 조회구분, 등록일시범위, 사전규격등록번호로 입력하여 사전규격등록번호, 참조번호, 의견제목, 작성업체명, 작성자명, 입력일시, 작성자전화번호, 작성자이메일, 관련 규격서의견파일, 의견내용 등 나라장터 사전규격 용역 규격서 의견 목록을 조회",
        "operationId": "getPublicPrcureThngOpinionInfoServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngOpinionInfoFrgcpt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "opninCntnts": {
                              "type": "string",
                              "description": "의견내용",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "opninNo": {
                              "type": "string",
                              "description": "의견번호",
                              "properties": {}
                            },
                            "rplyNo": {
                              "type": "string",
                              "description": "답변번호",
                              "properties": {}
                            },
                            "opninTitl": {
                              "type": "string",
                              "description": "의견제목",
                              "properties": {}
                            },
                            "mkngCorpNm": {
                              "type": "string",
                              "description": "작성업체명",
                              "properties": {}
                            },
                            "mkrNm": {
                              "type": "string",
                              "description": "작성자명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "mkrTel": {
                              "type": "string",
                              "description": "작성자전화번호",
                              "properties": {}
                            },
                            "mkrEmail": {
                              "type": "string",
                              "description": "작성자이메일",
                              "properties": {}
                            },
                            "specDocOpninFileUrl1": {
                              "type": "string",
                              "description": "규격서의견파일URL1",
                              "properties": {}
                            },
                            "specDocOpninFileUrl2": {
                              "type": "string",
                              "description": "규격서의견파일URL2",
                              "properties": {}
                            },
                            "specDocOpninFileUrl3": {
                              "type": "string",
                              "description": "규격서의견파일URL3",
                              "properties": {}
                            },
                            "specDocOpninFileUrl4": {
                              "type": "string",
                              "description": "규격서의견파일URL4",
                              "properties": {}
                            },
                            "specDocOpninFileUrl5": {
                              "type": "string",
                              "description": "규격서의견파일URL5",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 사전규격 외자 규격서 의견 목록 조회",
        "description": "검색조건을 조회구분, 등록일시범위, 사전규격등록번호로 입력하여 사전규격등록번호, 참조번호, 의견제목, 작성업체명, 작성자명, 입력일시, 작성자전화번호, 작성자이메일, 관련 규격서의견파일, 의견내용 등 나라장터 사전규격 외자 규격서 의견 목록을 조회",
        "operationId": "getPublicPrcureThngOpinionInfoFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngOpinionInfoThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "opninCntnts": {
                              "type": "string",
                              "description": "의견내용",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "opninNo": {
                              "type": "string",
                              "description": "의견번호",
                              "properties": {}
                            },
                            "rplyNo": {
                              "type": "string",
                              "description": "답변번호",
                              "properties": {}
                            },
                            "opninTitl": {
                              "type": "string",
                              "description": "의견제목",
                              "properties": {}
                            },
                            "mkngCorpNm": {
                              "type": "string",
                              "description": "작성업체명",
                              "properties": {}
                            },
                            "mkrNm": {
                              "type": "string",
                              "description": "작성자명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "mkrTel": {
                              "type": "string",
                              "description": "작성자전화번호",
                              "properties": {}
                            },
                            "mkrEmail": {
                              "type": "string",
                              "description": "작성자이메일",
                              "properties": {}
                            },
                            "specDocOpninFileUrl1": {
                              "type": "string",
                              "description": "규격서의견파일URL1",
                              "properties": {}
                            },
                            "specDocOpninFileUrl2": {
                              "type": "string",
                              "description": "규격서의견파일URL2",
                              "properties": {}
                            },
                            "specDocOpninFileUrl3": {
                              "type": "string",
                              "description": "규격서의견파일URL3",
                              "properties": {}
                            },
                            "specDocOpninFileUrl4": {
                              "type": "string",
                              "description": "규격서의견파일URL4",
                              "properties": {}
                            },
                            "specDocOpninFileUrl5": {
                              "type": "string",
                              "description": "규격서의견파일URL5",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 사전규격 물품 규격서 의견 목록 조회",
        "description": "검색조건을 조회구분, 등록일시범위, 사전규격등록번호로 입력하여 사전규격등록번호, 참조번호, 의견제목, 작성업체명, 작성자명, 입력일시, 작성자전화번호, 작성자이메일, 관련 규격서의견파일, 의견내용 등 나라장터 사전규격 물품 규격서 의견 목록을 조회",
        "operationId": "getPublicPrcureThngOpinionInfoThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngInfoCnstwkPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 사전규격 공사 목록 조회",
        "description": "검색조건을 조회구분, 접수일시범위, 사전규격등록번호, 참조번호, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 품명으로 입력하여 공사에 대한 사전규격등록번호, 품명, 발주기관, 수요기관, 관련 규격문서파일 등 나라장터 사전규격정보목록을 조회",
        "operationId": "getPublicPrcureThngInfoCnstwkPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngInfoServcPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "prdctDtlList": {
                              "type": "string",
                              "description": "물품상세목록",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 사전규격 용역 목록 조회",
        "description": "검색조건을 조회구분, 접수일시범위, 사전규격등록번호, 참조번호, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 품명, SW사업대상여부, 세부품명번호 로 입력하여 사전규격등록번호, 품명, 발주기관, 수요기관, 관련 규격문서파일 등 용역에 대한 나라장터 사전규격정보목록을 조회",
        "operationId": "getPublicPrcureThngInfoServcPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "swBizObjYn",
          "description": "SW사업대상여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngInfoFrgcptPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 사전규격 외자 목록 조회",
        "description": "검색조건을 조회구분, 접수일시범위, 사전규격등록번호, 참조번호, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 품명, SW사업대상여부로 입력하여 사전규격등록번호, 품명, 발주기관, 수요기관, 관련 규격문서파일 등 외자에 대한 나라장터 사전규격정보목록을 조회",
        "operationId": "getPublicPrcureThngInfoFrgcptPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "swBizObjYn",
          "description": "SW사업대상여부",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPublicPrcureThngInfoThngPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "prdctDtlList": {
                              "type": "string",
                              "description": "물품상세목록",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 사전규격 물품 목록 조회",
        "description": "검색조건을 조회구분, 접수일시범위, 사전규격등록번호, 참조번호, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 품명, SW사업대상여부, 세부품명번호로 입력하여 물품에 대한 사전규격등록번호, 품명, 발주기관명, 수요기관명, 관련 규격문서파일 등 나라장터 사전규격정보목록을 조회",
        "operationId": "getPublicPrcureThngInfoThngPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "swBizObjYn",
          "description": "SW사업대상여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getThngDetailMetaInfoCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "swBizObjYn": {
                              "type": "string",
                              "description": "SW사업대상여부",
                              "properties": {}
                            },
                            "dlvrTmlmtDt": {
                              "type": "string",
                              "description": "납품기한일시",
                              "properties": {}
                            },
                            "dlvrDaynum": {
                              "type": "string",
                              "description": "납품일수",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "specDocFileUrl1": {
                              "type": "string",
                              "description": "규격문서파일URL1",
                              "properties": {}
                            },
                            "specDocFileUrl2": {
                              "type": "string",
                              "description": "규격문서파일URL2",
                              "properties": {}
                            },
                            "specDocFileUrl3": {
                              "type": "string",
                              "description": "규격문서파일URL3",
                              "properties": {}
                            },
                            "specDocFileUrl4": {
                              "type": "string",
                              "description": "규격문서파일URL4",
                              "properties": {}
                            },
                            "specDocFileUrl5": {
                              "type": "string",
                              "description": "규격문서파일URL5",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "사전규격 공사 품목별 목록 조회",
        "description": "공사에 대한 사전규격정보를 품목별로 조회할 수 있는 오퍼레이션으로 검색조건을 등록일시범위, 품명으로 입력하여 사전규격등록번호, 품명, 발주기관, 수요기관, 관련 규격문서파일 등 공사에 대한 나라장터 사전규격정보 품목별 목록을 조회",
        "operationId": "getThngDetailMetaInfoCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getInsttAcctoThngListInfoCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "rlDminsttNm": {
                              "type": "string",
                              "description": "실수요기관명",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "ofclTelNo": {
[...]
