{
  "swagger": "2.0",
  "info": {
    "description": "나라장터 업종 및 근거법규를 조회한다.\n법제처가 분류하고 있는 법 분야에 따라 업종이 분류되어 있으며 법 분야별로 업종을 코드화하여 제공\n법령의 제정,개정,폐지 등으로 업종이 추가/수정/삭제될 경우 조회시점에 유효한 업종 정보만 제공\n또한 제한업종과 허용업종에 대한 정보를 제공하여 조회하고자 하는 업종과 연관된 다른 업종에 대한 정보 제공\n또한 근거법령에 대한 내용과 해당 근거법령에 대한 정보를 직접 확인 및 다운로드할 수 있도록 URL 링크 제공\n법령의 제정,개정,폐지 등이 발생하는 시점과 업무담당자가 관련 업종을 코드화하여 등록하는 시점에 차이가 발생할 수 있으므로\n실제 업종코드의 등록시점과 법령의 제정,개정,폐지 시점이 일부 차이가 있을 수 있습니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 업종 및 근거법규서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/IndstrytyBaseLawrgltInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getIndstrytyBaseLawrgltInfoList": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "indstrytyUseYn": {
                              "type": "string",
                              "description": "업종사용여부",
                              "properties": {}
                            },
                            "indstrytyClsfcCd": {
                              "type": "string",
                              "description": "업종분류코드",
                              "properties": {}
                            },
                            "indstrytyClsfcNm": {
                              "type": "string",
                              "description": "업종분류명",
                              "properties": {}
                            },
                            "indstrytyCd": {
                              "type": "string",
                              "description": "업종코드",
                              "properties": {}
                            },
                            "indstrytyNm": {
                              "type": "string",
                              "description": "업종명",
                              "properties": {}
                            },
                            "baseLawordNm": {
                              "type": "string",
                              "description": "근거법령명",
                              "properties": {}
                            },
                            "baseLawordArtclClauseNm": {
                              "type": "string",
                              "description": "근거법령조항명",
                              "properties": {}
                            },
                            "baseLawordUrl": {
                              "type": "string",
                              "description": "근거법령URL",
                              "properties": {}
                            },
                            "rltnRgltCntnts": {
                              "type": "string",
                              "description": "관련규정내용",
                              "properties": {}
                            },
                            "inclsnLcns": {
                              "type": "string",
                              "description": "포함면허",
                              "properties": {}
                            },
                            "undefined": {
                              "type": "string",
                              "description": "undefined",
                              "properties": {}
                            },
                            "indstrytyRgstDt": {
                              "type": "string",
                              "description": "업종등록일시",
                              "properties": {}
                            },
                            "indstrytyChgDt": {
                              "type": "string",
                              "description": "업종변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "업종 및 근거법규 정보 조회",
        "description": "업종 및 근거법규 정보 목록을 조회할 수 있다. - 조건 입력을 하지 않을 경우 전체 조회",
        "operationId": "getIndstrytyBaseLawrgltInfoList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "indstrytyClsfcCd",
          "description": "업종분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyUseYn",
          "description": "업종사용여부",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getIndstrytyBaseLawrgltInfoList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "indstrytyUseYn": {
                      "type": "string",
                      "description": "업종사용여부"
                    },
                    "indstrytyClsfcCd": {
                      "type": "string",
                      "description": "업종분류코드"
                    },
                    "indstrytyClsfcNm": {
                      "type": "string",
                      "description": "업종분류명"
                    },
                    "indstrytyCd": {
                      "type": "string",
                      "description": "업종코드"
                    },
                    "indstrytyNm": {
                      "type": "string",
                      "description": "업종명"
                    },
                    "baseLawordNm": {
                      "type": "string",
                      "description": "근거법령명"
                    },
                    "baseLawordArtclClauseNm": {
                      "type": "string",
                      "description": "근거법령조항명"
                    },
                    "baseLawordUrl": {
                      "type": "string",
                      "description": "근거법령URL"
                    },
                    "rltnRgltCntnts": {
                      "type": "string",
                      "description": "관련규정내용"
                    },
                    "inclsnLcns": {
                      "type": "string",
                      "description": "포함면허"
                    },
                    "undefined": {
                      "type": "string",
                      "description": "undefined"
                    },
                    "indstrytyRgstDt": {
                      "type": "string",
                      "description": "업종등록일시"
                    },
                    "indstrytyChgDt": {
                      "type": "string",
                      "description": "업종변경일시"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://nopenapi.g2b.go.kr/ao/IndstrytyBaseLawrgltInfoService/getIndstrytyBaseLawrgltInfoList",
      "oprtinNm": "업종 및 근거법규 정보 조회",
      "oprtinDc": "업종 및 근거법규 정보 목록을 조회할 수 있다. - 조건 입력을 하지 않을 경우 전체 조회",
      "gwSvcNm": "getIndstrytyBaseLawrgltInfoList",
      "operationId": "getIndstrytyBaseLawrgltInfoList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "indstrytyClsfcCd",
          "paramtrDc": "업종분류코드",
          "paramtrBassValue": "41",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "indstrytyNm",
          "paramtrDc": "업종명",
          "paramtrBassValue": "나무병원(1종)",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "indstrytyCd",
          "paramtrDc": "업종코드",
          "paramtrBassValue": "4161",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "inqryBgnDt",
          "paramtrDc": "조회시작일시",
          "paramtrBassValue": "201801010000",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "inqryEndDt",
          "paramtrDc": "조회종료일시",
          "paramtrBassValue": "201807312359",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "type",
          "paramtrDc": "타입",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "indstrytyUseYn",
          "paramtrDc": "업종사용여부",
          "paramtrBassValue": "Y",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "indstrytyUseYn",
                      "paramtrDc": "업종사용여부",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyClsfcCd",
                      "paramtrDc": "업종분류코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyClsfcNm",
                      "paramtrDc": "업종분류명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyCd",
                      "paramtrDc": "업종코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyNm",
                      "paramtrDc": "업종명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "baseLawordNm",
                      "paramtrDc": "근거법령명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "baseLawordArtclClauseNm",
                      "paramtrDc": "근거법령조항명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "baseLawordUrl",
                      "paramtrDc": "근거법령URL",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rltnRgltCntnts",
                      "paramtrDc": "관련규정내용",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "inclsnLcns",
                      "paramtrDc": "포함면허",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "undefined",
                      "paramtrDc": "undefined",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyRgstDt",
                      "paramtrDc": "업종등록일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "indstrytyChgDt",
                      "paramtrDc": "업종변경일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}