{
  "swagger": "2.0",
  "info": {
    "description": "발주기관들이 나라장터에 등록한 발주계획정보를 제공하는 서비스로 각 발주기관들이 당해 회계연도에 조달할 공사, 물품, 용역, 외자에 대한 분기별 발주계획(조달대상, 예산액, 발주예정시기, 발주방법, 발주기관 주소, 연락처 등) 공고 내역를 제공하는 나라장터 발주계획현황서비스\n\n※ 발주년월범위, 발주기관코드 등의 조건으로 검색하여 응답받으실 수 있습니다.\n※ 반드시 발주계획정보가 존재하여야만 사전규격공개를 하거나 입찰공고를 등록할 수 있는 것은 아니며, 발주계획정보에 존재하지 않는 규격의 공개나 입찰공고 및 계약정보가 존재할 수 있습니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 발주계획현황서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/OrderPlanSttusService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getOrderPlanSttusListThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderGovsplyMtrcst": {
                              "type": "string",
                              "description": "발주관급자재비",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "orderEtcAmt": {
                              "type": "string",
                              "description": "발주기타금액",
                              "properties": {}
                            },
                            "sumOrderAmt": {
                              "type": "string",
                              "description": "합계발주금액",
                              "properties": {}
                            },
                            "deptNm": {
                              "type": "string",
                              "description": "부서명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "telNo": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "agrmntYn": {
                              "type": "string",
                              "description": "협정여부",
                              "properties": {}
                            },
                            "usgCntnts": {
                              "type": "string",
                              "description": "용도내용",
                              "properties": {}
                            },
                            "qtyCntnts": {
                              "type": "string",
                              "description": "수량내용",
                              "properties": {}
                            },
                            "unit": {
                              "type": "string",
                              "description": "단위",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "ntceNticeYn": {
                              "type": "string",
                              "description": "공고게시여부",
                              "properties": {}
                            },
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderOrd": {
                              "type": "string",
                              "description": "발주차수",
                              "properties": {}
                            },
                            "sumOrderDolAmt": {
                              "type": "string",
                              "description": "합계발주미화금액",
                              "properties": {}
                            },
                            "rcritRgstNo": {
                              "type": "string",
                              "description": "모집등록번호",
                              "properties": {}
                            },
                            "specItemNm1": {
                              "type": "string",
                              "description": "규격항목명1",
                              "properties": {}
                            },
                            "specItemNm2": {
                              "type": "string",
                              "description": "규격항목명2",
                              "properties": {}
                            },
                            "specItemNm3": {
                              "type": "string",
                              "description": "규격항목명3",
                              "properties": {}
                            },
                            "specItemNm4": {
                              "type": "string",
                              "description": "규격항목명4",
                              "properties": {}
                            },
                            "specItemNm5": {
                              "type": "string",
                              "description": "규격항목명5",
                              "properties": {}
                            },
                            "specItemCntnts1": {
                              "type": "string",
                              "description": "규격항목내용1",
                              "properties": {}
                            },
                            "specItemCntnts2": {
                              "type": "string",
                              "description": "규격항목내용2",
                              "properties": {}
                            },
                            "specItemCntnts3": {
                              "type": "string",
                              "description": "규격항목내용3",
                              "properties": {}
                            },
                            "specItemCntnts4": {
                              "type": "string",
                              "description": "규격항목내용4",
                              "properties": {}
                            },
                            "specItemCntnts5": {
                              "type": "string",
                              "description": "규격항목내용5",
                              "properties": {}
                            },
                            "bdgtDivCd": {
                              "type": "string",
                              "description": "예산구분코드",
                              "properties": {}
                            },
                            "cnstwkPrdCntnts": {
                              "type": "string",
                              "description": "공사기간내용",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "orderThtmContrctAmt": {
                              "type": "string",
                              "description": "발주금차도급금액",
                              "properties": {}
                            },
                            "orderNtntrsAuxAmt": {
                              "type": "string",
                              "description": "발주국고보조금액",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "specCntnts": {
                              "type": "string",
                              "description": "규격내용",
                              "properties": {}
                            },
                            "dsgnDocRdngPrdCntnts": {
                              "type": "string",
                              "description": "설계문서열람기간내용",
                              "properties": {}
                            },
                            "rmrkCntnts": {
                              "type": "string",
                              "description": "비고내용",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "dsgnDocRdngPlceNm": {
                              "type": "string",
                              "description": "설계문서열람장소명",
                              "properties": {}
                            },
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "발주계획현황에 대한 물품조회",
        "description": "검색조건을 조회구분, 발주년월범위, 게시일자범위, 발주기관코드, 발주기관명, 발주계획통합번호로 하여 발주년도, 발주기관, 소관기관, 계약방법, 발주도급금액, 물품분류 정보, 규격항목정보 등 물품에 대한 발주계획현황 조회",
        "operationId": "getOrderPlanSttusListThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderBgnYm",
          "description": "발주시작년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderEndYm",
          "description": "발주종료년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanUntyNo",
          "description": "발주계획통합번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOrderPlanSttusListCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cnstwkPrdCntnts": {
                              "type": "string",
                              "description": "공사기간내용",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "orderThtmContrctAmt": {
                              "type": "string",
                              "description": "발주금차도급금액",
                              "properties": {}
                            },
                            "orderNtntrsAuxAmt": {
                              "type": "string",
                              "description": "발주국고보조금액",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "specCntnts": {
                              "type": "string",
                              "description": "규격내용",
                              "properties": {}
                            },
                            "dsgnDocRdngPlceNm": {
                              "type": "string",
                              "description": "설계문서열람장소명",
                              "properties": {}
                            },
                            "dsgnDocRdngPrdCntnts": {
                              "type": "string",
                              "description": "설계문서열람기간내용",
                              "properties": {}
                            },
                            "rmrkCntnts": {
                              "type": "string",
                              "description": "비고내용",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "specItemCntnts4": {
                              "type": "string",
                              "description": "규격항목내용4",
                              "properties": {}
                            },
                            "specItemCntnts5": {
                              "type": "string",
                              "description": "규격항목내용5",
                              "properties": {}
                            },
                            "bdgtDivCd": {
                              "type": "string",
                              "description": "예산구분코드",
                              "properties": {}
                            },
                            "specItemCntnts3": {
                              "type": "string",
                              "description": "규격항목내용3",
                              "properties": {}
                            },
                            "orderGovsplyMtrcst": {
                              "type": "string",
                              "description": "발주관급자재비",
                              "properties": {}
                            },
                            "orderEtcAmt": {
                              "type": "string",
                              "description": "발주기타금액",
                              "properties": {}
                            },
                            "sumOrderAmt": {
                              "type": "string",
                              "description": "합계발주금액",
                              "properties": {}
                            },
                            "deptNm": {
                              "type": "string",
                              "description": "부서명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "telNo": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "agrmntYn": {
                              "type": "string",
                              "description": "협정여부",
                              "properties": {}
                            },
                            "usgCntnts": {
                              "type": "string",
                              "description": "용도내용",
                              "properties": {}
                            },
                            "qtyCntnts": {
                              "type": "string",
                              "description": "수량내용",
                              "properties": {}
                            },
                            "unit": {
                              "type": "string",
                              "description": "단위",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "ntceNticeYn": {
                              "type": "string",
                              "description": "공고게시여부",
                              "properties": {}
                            },
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderOrd": {
                              "type": "string",
                              "description": "발주차수",
                              "properties": {}
                            },
                            "sumOrderDolAmt": {
                              "type": "string",
                              "description": "합계발주미화금액",
                              "properties": {}
                            },
                            "rcritRgstNo": {
                              "type": "string",
                              "description": "모집등록번호",
                              "properties": {}
                            },
                            "specItemNm1": {
                              "type": "string",
                              "description": "규격항목명1",
                              "properties": {}
                            },
                            "specItemNm2": {
                              "type": "string",
                              "description": "규격항목명2",
                              "properties": {}
                            },
                            "specItemNm3": {
                              "type": "string",
                              "description": "규격항목명3",
                              "properties": {}
                            },
                            "specItemNm4": {
                              "type": "string",
                              "description": "규격항목명4",
                              "properties": {}
                            },
                            "specItemNm5": {
                              "type": "string",
                              "description": "규격항목명5",
                              "properties": {}
                            },
                            "specItemCntnts1": {
                              "type": "string",
                              "description": "규격항목내용1",
                              "properties": {}
                            },
                            "specItemCntnts2": {
                              "type": "string",
                              "description": "규격항목내용2",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "발주계획현황에 대한 공사조회",
        "description": "검색조건을 조회구분, 발주년월범위, 게시일자범위, 발주기관코드, 발주기관명, 발주계획통합번호로 하여 발주년도, 발주기관, 소관기관, 계약방법, 발주도급금액, 물품분류 정보, 규격항목정보 등 공사에 대한 발주계획현황 조회",
        "operationId": "getOrderPlanSttusListCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderBgnYm",
          "description": "발주시작년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderEndYm",
          "description": "발주종료년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanUntyNo",
          "description": "발주계획통합번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOrderPlanSttusListServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderGovsplyMtrcst": {
                              "type": "string",
                              "description": "발주관급자재비",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "orderEtcAmt": {
                              "type": "string",
                              "description": "발주기타금액",
                              "properties": {}
                            },
                            "sumOrderAmt": {
                              "type": "string",
                              "description": "합계발주금액",
                              "properties": {}
                            },
                            "deptNm": {
                              "type": "string",
                              "description": "부서명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "telNo": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "agrmntYn": {
                              "type": "string",
                              "description": "협정여부",
                              "properties": {}
                            },
                            "usgCntnts": {
                              "type": "string",
                              "description": "용도내용",
                              "properties": {}
                            },
                            "qtyCntnts": {
                              "type": "string",
                              "description": "수량내용",
                              "properties": {}
                            },
                            "unit": {
                              "type": "string",
                              "description": "단위",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "ntceNticeYn": {
                              "type": "string",
                              "description": "공고게시여부",
                              "properties": {}
                            },
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderOrd": {
                              "type": "string",
                              "description": "발주차수",
                              "properties": {}
                            },
                            "sumOrderDolAmt": {
                              "type": "string",
                              "description": "합계발주미화금액",
                              "properties": {}
                            },
                            "rcritRgstNo": {
                              "type": "string",
                              "description": "모집등록번호",
                              "properties": {}
                            },
                            "specItemNm1": {
                              "type": "string",
                              "description": "규격항목명1",
                              "properties": {}
                            },
                            "specItemNm2": {
                              "type": "string",
                              "description": "규격항목명2",
                              "properties": {}
                            },
                            "specItemNm3": {
                              "type": "string",
                              "description": "규격항목명3",
                              "properties": {}
                            },
                            "specItemNm4": {
                              "type": "string",
                              "description": "규격항목명4",
                              "properties": {}
                            },
                            "specItemNm5": {
                              "type": "string",
                              "description": "규격항목명5",
                              "properties": {}
                            },
                            "specItemCntnts1": {
                              "type": "string",
                              "description": "규격항목내용1",
                              "properties": {}
                            },
                            "specItemCntnts2": {
                              "type": "string",
                              "description": "규격항목내용2",
                              "properties": {}
                            },
                            "specItemCntnts3": {
                              "type": "string",
                              "description": "규격항목내용3",
                              "properties": {}
                            },
                            "specItemCntnts4": {
                              "type": "string",
                              "description": "규격항목내용4",
                              "properties": {}
                            },
                            "specItemCntnts5": {
                              "type": "string",
                              "description": "규격항목내용5",
                              "properties": {}
                            },
                            "bdgtDivCd": {
                              "type": "string",
                              "description": "예산구분코드",
                              "properties": {}
                            },
                            "cnstwkPrdCntnts": {
                              "type": "string",
                              "description": "공사기간내용",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "orderThtmContrctAmt": {
                              "type": "string",
                              "description": "발주금차도급금액",
                              "properties": {}
                            },
                            "orderNtntrsAuxAmt": {
                              "type": "string",
                              "description": "발주국고보조금액",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "specCntnts": {
                              "type": "string",
                              "description": "규격내용",
                              "properties": {}
                            },
                            "dsgnDocRdngPlceNm": {
                              "type": "string",
                              "description": "설계문서열람장소명",
                              "properties": {}
                            },
                            "dsgnDocRdngPrdCntnts": {
                              "type": "string",
                              "description": "설계문서열람기간내용",
                              "properties": {}
                            },
                            "rmrkCntnts": {
                              "type": "string",
                              "description": "비고내용",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "발주계획현황에 대한 용역조회",
        "description": "검색조건을 조회구분, 발주년월범위, 게시일자범위, 발주기관코드, 발주기관명으로 하여 발주년도, 발주기관, 소관기관, 계약방법, 발주도급금액, 물품분류 정보, 규격항목정보 등 용역에 대한 발주계획현황 조회",
        "operationId": "getOrderPlanSttusListServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderBgnYm",
          "description": "발주시작년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderEndYm",
          "description": "발주종료년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanUntyNo",
          "description": "발주계획통합번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOrderPlanSttusListFrgcpt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderGovsplyMtrcst": {
                              "type": "string",
                              "description": "발주관급자재비",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "orderEtcAmt": {
                              "type": "string",
                              "description": "발주기타금액",
                              "properties": {}
                            },
                            "sumOrderAmt": {
                              "type": "string",
                              "description": "합계발주금액",
                              "properties": {}
                            },
                            "deptNm": {
                              "type": "string",
                              "description": "부서명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "telNo": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "agrmntYn": {
                              "type": "string",
                              "description": "협정여부",
                              "properties": {}
                            },
                            "usgCntnts": {
                              "type": "string",
                              "description": "용도내용",
                              "properties": {}
                            },
                            "qtyCntnts": {
                              "type": "string",
                              "description": "수량내용",
                              "properties": {}
                            },
                            "unit": {
                              "type": "string",
                              "description": "단위",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "ntceNticeYn": {
                              "type": "string",
                              "description": "공고게시여부",
                              "properties": {}
                            },
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderOrd": {
                              "type": "string",
                              "description": "발주차수",
                              "properties": {}
                            },
                            "sumOrderDolAmt": {
                              "type": "string",
                              "description": "합계발주미화금액",
                              "properties": {}
                            },
                            "rcritRgstNo": {
                              "type": "string",
                              "description": "모집등록번호",
                              "properties": {}
                            },
                            "specItemNm1": {
                              "type": "string",
                              "description": "규격항목명1",
                              "properties": {}
                            },
                            "specItemNm2": {
                              "type": "string",
                              "description": "규격항목명2",
                              "properties": {}
                            },
                            "specItemNm3": {
                              "type": "string",
                              "description": "규격항목명3",
                              "properties": {}
                            },
                            "specItemNm4": {
                              "type": "string",
                              "description": "규격항목명4",
                              "properties": {}
                            },
                            "specItemNm5": {
                              "type": "string",
                              "description": "규격항목명5",
                              "properties": {}
                            },
                            "specItemCntnts1": {
                              "type": "string",
                              "description": "규격항목내용1",
                              "properties": {}
                            },
                            "specItemCntnts2": {
                              "type": "string",
                              "description": "규격항목내용2",
                              "properties": {}
                            },
                            "specItemCntnts3": {
                              "type": "string",
                              "description": "규격항목내용3",
                              "properties": {}
                            },
                            "specItemCntnts4": {
                              "type": "string",
                              "description": "규격항목내용4",
                              "properties": {}
                            },
                            "specItemCntnts5": {
                              "type": "string",
                              "description": "규격항목내용5",
                              "properties": {}
                            },
                            "bdgtDivCd": {
                              "type": "string",
                              "description": "예산구분코드",
                              "properties": {}
                            },
                            "cnstwkPrdCntnts": {
                              "type": "string",
                              "description": "공사기간내용",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "orderThtmContrctAmt": {
                              "type": "string",
                              "description": "발주금차도급금액",
                              "properties": {}
                            },
                            "orderNtntrsAuxAmt": {
                              "type": "string",
                              "description": "발주국고보조금액",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "specCntnts": {
                              "type": "string",
                              "description": "규격내용",
                              "properties": {}
                            },
                            "dsgnDocRdngPlceNm": {
                              "type": "string",
                              "description": "설계문서열람장소명",
                              "properties": {}
                            },
                            "dsgnDocRdngPrdCntnts": {
                              "type": "string",
                              "description": "설계문서열람기간내용",
                              "properties": {}
                            },
                            "rmrkCntnts": {
                              "type": "string",
                              "description": "비고내용",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "발주계획현황에 대한 외자조회",
        "description": "검색조건을 조회구분, 발주년월범위, 게시일자범위, 발주기관코드, 발주기관명으로 하여 발주년도, 발주기관, 소관기관, 계약방법, 발주도급금액, 물품분류 정보, 규격항목정보 등 외자에 대한 발주계획현황 조회",
        "operationId": "getOrderPlanSttusListFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderBgnYm",
          "description": "발주시작년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderEndYm",
          "description": "발주종료년월",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanUntyNo",
          "description": "발주계획통합번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOrderPlanSttusListThngPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderGovsplyMtrcst": {
                              "type": "string",
                              "description": "발주관급자재비",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "orderEtcAmt": {
                              "type": "string",
                              "description": "발주기타금액",
                              "properties": {}
                            },
                            "sumOrderAmt": {
                              "type": "string",
                              "description": "합계발주금액",
                              "properties": {}
                            },
                            "deptNm": {
                              "type": "string",
                              "description": "부서명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "telNo": {
                              "type": "string",
                              "description": "전화번호",
                              "properties": {}
                            },
                            "agrmntYn": {
                              "type": "string",
                              "description": "협정여부",
                              "properties": {}
                            },
                            "usgCntnts": {
                              "type": "string",
                              "description": "용도내용",
                              "properties": {}
                            },
                            "qtyCntnts": {
                              "type": "string",
                              "description": "수량내용",
                              "properties": {}
                            },
                            "unit": {
                              "type": "string",
                              "description": "단위",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "ntceNticeYn": {
                              "type": "string",
                              "description": "공고게시여부",
                              "properties": {}
                            },
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderOrd": {
                              "type": "string",
                              "description": "발주차수",
                              "properties": {}
                            },
                            "sumOrderDolAmt": {
                              "type": "string",
                              "description": "합계발주미화금액",
                              "properties": {}
                            },
                            "rcritRgstNo": {
                              "type": "string",
                              "description": "모집등록번호",
                              "properties": {}
                            },
                            "specItemNm1": {
                              "type": "string",
                              "description": "규격항목명1",
                              "properties": {}
                            },
                            "specItemNm2": {
                              "type": "string",
                              "description": "규격항목명2",
                              "properties": {}
                            },
                            "specItemNm3": {
                              "type": "string",
                              "description": "규격항목명3",
                              "properties": {}
                            },
                            "specItemNm4": {
                              "type": "string",
                              "description": "규격항목명4",
                              "properties": {}
                            },
                            "specItemNm5": {
                              "type": "string",
                              "description": "규격항목명5",
                              "properties": {}
                            },
                            "specItemCntnts1": {
                              "type": "string",
                              "description": "규격항목내용1",
                              "properties": {}
                            },
                            "specItemCntnts2": {
                              "type": "string",
                              "description": "규격항목내용2",
                              "properties": {}
                            },
                            "specItemCntnts3": {
                              "type": "string",
                              "description": "규격항목내용3",
                              "properties": {}
                            },
                            "specItemCntnts4": {
                              "type": "string",
                              "description": "규격항목내용4",
                              "properties": {}
                            },
                            "specItemCntnts5": {
                              "type": "string",
                              "description": "규격항목내용5",
                              "properties": {}
                            },
                            "bdgtDivCd": {
                              "type": "string",
                              "description": "예산구분코드",
                              "properties": {}
                            },
                            "cnstwkPrdCntnts": {
                              "type": "string",
                              "description": "공사기간내용",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "orderThtmContrctAmt": {
                              "type": "string",
                              "description": "발주금차도급금액",
                              "properties": {}
                            },
                            "orderNtntrsAuxAmt": {
                              "type": "string",
                              "description": "발주국고보조금액",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "specCntnts": {
                              "type": "string",
                              "description": "규격내용",
                              "properties": {}
                            },
                            "dsgnDocRdngPlceNm": {
                              "type": "string",
                              "description": "설계문서열람장소명",
                              "properties": {}
                            },
                            "dsgnDocRdngPrdCntnts": {
                              "type": "string",
                              "description": "설계문서열람기간내용",
                              "properties": {}
                            },
                            "rmrkCntnts": {
                              "type": "string",
                              "description": "비고내용",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "bidNtceNoList": {
                              "type": "string",
                              "description": "입찰공고번호목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 발주계획현황에 대한 물품조회",
        "description": "검색조건을 발주시작년월, 발주종료년월, 게시일시, 발주기관코드, 발주기관명, 협정여부, 조달방식, 기관소재지, 세부품명번호, 사업명으로 하여 발주년도, 발주기관, 소관기관, 계약방법, 발주도급금액, 물품분류 정보, 규격항목정보 등 물품에 대한 발주계획현황 조회",
        "operationId": "getOrderPlanSttusListThngPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderBgnYm",
          "description": "발주시작년월",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderEndYm",
          "description": "발주종료년월",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "agrmntYn",
          "description": "협정여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntMethd",
          "description": "조달방식",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "insttLctNm",
          "description": "기관소재지명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bizNm",
          "description": "사업명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOrderPlanSttusListCnstwkPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cnstwkMngNo": {
                              "type": "string",
                              "description": "공사관리번호",
                              "properties": {}
                            },
                            "orderContrctAmt": {
                              "type": "string",
                              "description": "발주도급금액",
                              "properties": {}
                            },
                            "prcrmntMethd": {
                              "type": "string",
                              "description": "조달방식",
                              "properties": {}
                            },
                            "bsnsDivCd": {
                              "type": "string",
                              "description": "업무구분코드",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bsnsTyCd": {
                              "type": "string",
                              "description": "업무유형코드",
                              "properties": {}
                            },
                            "bsnsTyNm": {
                              "type": "string",
                              "description": "업무유형명",
                              "properties": {}
                            },
                            "orderYear": {
                              "type": "string",
                              "description": "발주년도",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "totlmngInsttNm": {
                              "type": "string",
                              "description": "총괄기관명",
                              "properties": {}
                            },
                            "jrsdctnDivCd": {
                              "type": "string",
                              "description": "소관구분코드",
                              "properties": {}
                            },
                            "jrsdctnDivNm": {
                              "type": "string",
                              "description": "소관구분명",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderPlanSno": {
                              "type": "string",
                              "description": "발주계획순번",
                              "properties": {}
                            },
                            "orderMnth": {
                              "type": "string",
                              "description": "발주월",
                              "properties": {}
                            },
                            "bizNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "cnstwkRgnNm": {
                              "type": "string",
                              "description": "공사지역명",
                              "properties": {}
                            },
                            "cnsttyDivNm": {
                              "type": "string",
                              "description": "공종구분명",
[...]
