{
  "swagger": "2.0",
  "info": {
    "description": "수요기관 또는 지방청으로부터 나라장터를 통하여 받은 조달요청 정보를 제공하는 서비스로 물품, 공사, 용역, 외자 등 업무 구분별로 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관 내역 정보를 제공하는 나라장터 조달요청서비스입니다. 조달요청이란 수요기관이 수요물자 또는 공사와 관련한 수요가 발생하여 관련 계약을 체결하고자 할때, 조달청에 계약체결을 요청하는 것을 의미합니다. 관련 법령에 따라 수요기관이 조달청에 조달요청하지 않고 자체적으로 계약을 체결하는 경우가 발생할 수 있으므로, 모든 입찰 또는 계약 건에 대하여 조달요청 정보가 반드시 존재하는 것은 아닐 수 있습니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 조달요청서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/PrcrmntReqInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getPrcrmntReqInfoListThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "cntrctCnclsStleNm": {
                              "type": "string",
                              "description": "계약체결형태명",
                              "properties": {}
                            },
                            "rprsntDlvrPlce": {
                              "type": "string",
                              "description": "대표납품장소",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "leaseYn": {
                              "type": "string",
                              "description": "리스여부",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rprsntPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "대표품명",
                              "properties": {}
                            },
                            "rprsntUprc": {
                              "type": "string",
                              "description": "대표단가",
                              "properties": {}
                            },
                            "rprsntQty": {
                              "type": "string",
                              "description": "대표수량",
                              "properties": {}
                            },
                            "rprsntAmt": {
                              "type": "string",
                              "description": "대표금액",
                              "properties": {}
                            },
                            "bdgtAmt": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rprsntUnit": {
                              "type": "string",
                              "description": "대표단위",
                              "properties": {}
                            },
                            "rprsntSpecDtlsCntnts": {
                              "type": "string",
                              "description": "대표규격명세내용",
                              "properties": {}
                            },
                            "rprsntDedtDate": {
                              "type": "string",
                              "description": "대표납기일자",
                              "properties": {}
                            },
                            "rprsntDlvrDaynum": {
                              "type": "string",
                              "description": "대표납품일수",
                              "properties": {}
                            },
                            "rprsntPrdctidntno": {
                              "type": "string",
                              "description": "대표물품식별번호",
                              "properties": {}
                            },
                            "frstyearUntyCntrctIdntNo": {
                              "type": "string",
                              "description": "초년도통합계약식별번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 물품조회",
        "description": "검색조건을 조회구분, 입력일시, 접수번호 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 물품에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListFrgcptPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "engRprsntPrdctNm": {
                              "type": "string",
                              "description": "영문대표물품명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "cptalDivCd": {
                              "type": "string",
                              "description": "자금구분코드",
                              "properties": {}
                            },
                            "cptalDivNm": {
                              "type": "string",
                              "description": "자금구분명",
                              "properties": {}
                            },
                            "totlPrdctIdntNoNum": {
                              "type": "string",
                              "description": "전체품목건수",
                              "properties": {}
                            },
                            "asignDolAmt": {
                              "type": "string",
                              "description": "배정미화금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "frstyearUntyCntrctIdntNo": {
                              "type": "string",
                              "description": "초년도통합계약식별번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터검색조건에 의한 조달요청 외자조회",
        "description": "나라장터 검색조건(조회구분, 접수일시, 조달요청번호, 영문대표물품명, 발주기관, 조달요청번호) 등을 입력하여 조달요청번호, 발주기관, 영문대표물품명, 전체품목건수, 배정미화금액 등 외자에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListFrgcptPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "engRprsntPrdctNm",
          "description": "영문대표물품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cptalDivCd",
          "description": "자금구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ofclDeptDivCd",
          "description": "담당자부서코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListFrgcptDetail": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpno": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "engRprsntPrdctNm": {
                              "type": "string",
                              "description": "영문대표물품명",
                              "properties": {}
                            },
                            "cptalDivNm": {
                              "type": "string",
                              "description": "자금구분명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "totlPrdctIdntNoNum": {
                              "type": "string",
                              "description": "전체품목건수",
                              "properties": {}
                            },
                            "lonimprtNo": {
                              "type": "string",
                              "description": "차관수입번호",
                              "properties": {}
                            },
                            "asignDolAmt": {
                              "type": "string",
                              "description": "배정미화금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "prcrmntReqChrgDeptNm": {
                              "type": "string",
                              "description": "조달요청담당부서명",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "brnofceNm": {
                              "type": "string",
                              "description": "지청명",
                              "properties": {}
                            },
                            "itemNo": {
                              "type": "string",
                              "description": "ITEM번호",
                              "properties": {}
                            },
                            "reqHskNo": {
                              "type": "string",
                              "description": "요청HSK번호",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "reqNm": {
                              "type": "string",
                              "description": "요청품명",
                              "properties": {}
                            },
                            "reqQty": {
                              "type": "string",
                              "description": "요청수량",
                              "properties": {}
                            },
                            "reqUnitNm": {
                              "type": "string",
                              "description": "요청단위명",
                              "properties": {}
                            },
                            "prdctAccotAsignAmt": {
                              "type": "string",
                              "description": "물품별배정금액",
                              "properties": {}
                            },
                            "frgncptlCntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "외자계약체결방법명",
                              "properties": {}
                            },
                            "cnclDivNm": {
                              "type": "string",
                              "description": "취소구분명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 외자세부조회",
        "description": "검색조건을 조달요청번호를 입력하여 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 외자세부에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListFrgcptDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListFrgcpt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "engRprsntPrdctNm": {
                              "type": "string",
                              "description": "영문대표물품명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "cptalDivCd": {
                              "type": "string",
                              "description": "자금구분코드",
                              "properties": {}
                            },
                            "cptalDivNm": {
                              "type": "string",
                              "description": "자금구분명",
                              "properties": {}
                            },
                            "totlPrdctIdntNoNum": {
                              "type": "string",
                              "description": "전체품목건수",
                              "properties": {}
                            },
                            "asignDolAmt": {
                              "type": "string",
                              "description": "배정미화금액",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "frstyearUntyCntrctIdntNo": {
                              "type": "string",
                              "description": "초년도통합계약식별번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 외자조회",
        "description": "검색조건을 조회구분, 입력일시, 조달요청번호를 입력하여 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 외자에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListTechServcPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "thtmContrctAmt": {
                              "type": "string",
                              "description": "금차도급금액",
                              "properties": {}
                            },
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "cntrctDisposNm": {
                              "type": "string",
                              "description": "계약성질명",
                              "properties": {}
                            },
                            "totCnstwkScleAmt": {
                              "type": "string",
                              "description": "총공사규모금액",
                              "properties": {}
                            },
                            "cnsttyNm": {
                              "type": "string",
                              "description": "공종명",
                              "properties": {}
                            },
                            "contrctAmt": {
                              "type": "string",
                              "description": "도급금액",
                              "properties": {}
                            },
                            "mainCnsttyDeptNm": {
                              "type": "string",
                              "description": "주공종부서명",
                              "properties": {}
                            },
                            "govsplyAmt": {
                              "type": "string",
                              "description": "관급금액",
                              "properties": {}
                            },
                            "totCnstwkDaynum": {
                              "type": "string",
                              "description": "총공사일수",
                              "properties": {}
                            },
                            "thtmCnstwkDaynum": {
                              "type": "string",
                              "description": "금차공사일수",
                              "properties": {}
                            },
                            "etcAmt": {
                              "type": "string",
                              "description": "기타금액",
                              "properties": {}
                            },
                            "cnstrtsiteRgnNm": {
                              "type": "string",
                              "description": "공사현장지역명",
                              "properties": {}
                            },
                            "totSrvceBdgtAmt": {
                              "type": "string",
                              "description": "총용역예산금액",
                              "properties": {}
                            },
                            "techRvwReqstDate": {
                              "type": "string",
                              "description": "기술검토의뢰일자",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rcptBrnofceNm": {
                              "type": "string",
                              "description": "접수지청명",
                              "properties": {}
                            },
                            "thtmBdgtAmt": {
                              "type": "string",
                              "description": "금차예산금액",
                              "properties": {}
                            },
                            "frstyearPrcrmntReqNo": {
                              "type": "string",
                              "description": "초년도조달요청번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "cnstwkPrearngAmt": {
                              "type": "string",
                              "description": "공사예정금",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터검색조건에 의한 조달요청 기술용역조회",
        "description": "나라장터 검색조건(조회구분, 접수일시, 조달요청번호, 접수지청명, 조달요청명, 발주기관, 조달요청번호) 등을 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 기술용역에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListTechServcPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rcptBrnofceNm",
          "description": "접수지청명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListTechServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "cntrctDisposNm": {
                              "type": "string",
                              "description": "계약성질명",
                              "properties": {}
                            },
                            "totCnstwkScleAmt": {
                              "type": "string",
                              "description": "총공사규모금액",
                              "properties": {}
                            },
                            "cnsttyNm": {
                              "type": "string",
                              "description": "공종명",
                              "properties": {}
                            },
                            "contrctAmt": {
                              "type": "string",
                              "description": "도급금액",
                              "properties": {}
                            },
                            "mainCnsttyDeptNm": {
                              "type": "string",
                              "description": "주공종부서명",
                              "properties": {}
                            },
                            "govsplyAmt": {
                              "type": "string",
                              "description": "관급금액",
                              "properties": {}
                            },
                            "totCnstwkDaynum": {
                              "type": "string",
                              "description": "총공사일수",
                              "properties": {}
                            },
                            "thtmCnstwkDaynum": {
                              "type": "string",
                              "description": "금차공사일수",
                              "properties": {}
                            },
                            "etcAmt": {
                              "type": "string",
                              "description": "기타금액",
                              "properties": {}
                            },
                            "cnstrtsiteRgnNm": {
                              "type": "string",
                              "description": "공사현장지역명",
                              "properties": {}
                            },
                            "totSrvceBdgtAmt": {
                              "type": "string",
                              "description": "총용역예산금액",
                              "properties": {}
                            },
                            "techRvwReqstDate": {
                              "type": "string",
                              "description": "기술검토의뢰일자",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rcptBrnofceNm": {
                              "type": "string",
                              "description": "접수지청명",
                              "properties": {}
                            },
                            "thtmBdgtAmt": {
                              "type": "string",
                              "description": "금차예산금액",
                              "properties": {}
                            },
                            "frstyearPrcrmntReqNo": {
                              "type": "string",
                              "description": "초년도조달요청번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 기술용역조회",
        "description": "검색조건을 조회구분, 입력일시, 접수번호 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 기술용역에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListTechServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListGnrlServcPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "cntrctCnclsStleNm": {
                              "type": "string",
                              "description": "계약체결형태명",
                              "properties": {}
                            },
                            "rprsntDlvrPlce": {
                              "type": "string",
                              "description": "대표납품장소",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "leaseYn": {
                              "type": "string",
                              "description": "리스여부",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rprsntPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "대표품명",
                              "properties": {}
                            },
                            "rprsntUprc": {
                              "type": "string",
                              "description": "대표단가",
                              "properties": {}
                            },
                            "rprsntQty": {
                              "type": "string",
                              "description": "대표수량",
                              "properties": {}
                            },
                            "rprsntAmt": {
                              "type": "string",
                              "description": "대표금액",
                              "properties": {}
                            },
                            "bdgtAmt": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rprsntUnit": {
                              "type": "string",
                              "description": "대표단위",
                              "properties": {}
                            },
                            "rprsntSpecDtlsCntnts": {
                              "type": "string",
                              "description": "대표규격명세내용",
                              "properties": {}
                            },
                            "rprsntDedtDate": {
                              "type": "string",
                              "description": "대표납기일자",
                              "properties": {}
                            },
                            "rprsntDlvrDaynum": {
                              "type": "string",
                              "description": "대표납품일수",
                              "properties": {}
                            },
                            "rprsntPrdctidntno": {
                              "type": "string",
                              "description": "대표물품식별번호",
                              "properties": {}
                            },
                            "frstyearUntyCntrctIdntNo": {
                              "type": "string",
                              "description": "초년도통합계약식별번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터검색조건에 의한 조달요청 일반용역조회",
        "description": "나라장터 검색조건(조회구분, 접수일시, 조달요청번호, 접수지청명, 조달요청명, 발주기관, 조달요청번호) 등을 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 일반용역에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListGnrlServcPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rcptBrnofceNm",
          "description": "접수지청명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNo",
          "description": "물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "reqDivCd",
          "description": "요청구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "specDocYn",
          "description": "규격문서여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListGnrlServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "cntrctCnclsStleNm": {
                              "type": "string",
                              "description": "계약체결형태명",
                              "properties": {}
                            },
                            "rprsntDlvrPlce": {
                              "type": "string",
                              "description": "대표납품장소",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "leaseYn": {
                              "type": "string",
                              "description": "리스여부",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rprsntPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "대표품명",
                              "properties": {}
                            },
                            "rprsntUprc": {
                              "type": "string",
                              "description": "대표단가",
                              "properties": {}
                            },
                            "rprsntQty": {
                              "type": "string",
                              "description": "대표수량",
                              "properties": {}
                            },
                            "rprsntAmt": {
                              "type": "string",
                              "description": "대표금액",
                              "properties": {}
                            },
                            "bdgtAmt": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rprsntUnit": {
                              "type": "string",
                              "description": "대표단위",
                              "properties": {}
                            },
                            "rprsntSpecDtlsCntnts": {
                              "type": "string",
                              "description": "대표규격명세내용",
                              "properties": {}
                            },
                            "rprsntDedtDate": {
                              "type": "string",
                              "description": "대표납기일자",
                              "properties": {}
                            },
                            "rprsntDlvrDaynum": {
                              "type": "string",
                              "description": "대표납품일수",
                              "properties": {}
                            },
                            "rprsntPrdctidntno": {
                              "type": "string",
                              "description": "대표물품식별번호",
                              "properties": {}
                            },
                            "frstyearUntyCntrctIdntNo": {
                              "type": "string",
                              "description": "초년도통합계약식별번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 일반용역조회",
        "description": "검색조건을 조회구분, 입력일시, 접수번호 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 일반용역에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListGnrlServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListCnstwkPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "cntrctDisposNm": {
                              "type": "string",
                              "description": "계약성질명",
                              "properties": {}
                            },
                            "totCnstwkScleAmt": {
                              "type": "string",
                              "description": "총공사규모금액",
                              "properties": {}
                            },
                            "cnsttyNm": {
                              "type": "string",
                              "description": "공종명",
                              "properties": {}
                            },
                            "contrctAmt": {
                              "type": "string",
                              "description": "도급금액",
                              "properties": {}
                            },
                            "thtmContrctAmt": {
                              "type": "string",
                              "description": "금차도급금액",
                              "properties": {}
                            },
                            "mainCnsttyDeptNm": {
                              "type": "string",
                              "description": "주공종부서명",
                              "properties": {}
                            },
                            "govsplyAmt": {
                              "type": "string",
                              "description": "관급금액",
                              "properties": {}
                            },
                            "totCnstwkDaynum": {
                              "type": "string",
                              "description": "총공사일수",
                              "properties": {}
                            },
                            "thtmCnstwkDaynum": {
                              "type": "string",
                              "description": "금차공사일수",
                              "properties": {}
                            },
                            "etcAmt": {
                              "type": "string",
                              "description": "기타금액",
                              "properties": {}
                            },
                            "cnstrtsiteRgnNm": {
                              "type": "string",
                              "description": "공사현장지역명",
                              "properties": {}
                            },
                            "cnstwkPrearngAmt": {
                              "type": "string",
                              "description": "공사예정금액",
                              "properties": {}
                            },
                            "techRvwReqstDate": {
                              "type": "string",
                              "description": "기술검토의뢰일자",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rcptBrnofceNm": {
                              "type": "string",
                              "description": "접수지청명",
                              "properties": {}
                            },
                            "thtmBdgtAmt": {
                              "type": "string",
                              "description": "금차예산금액",
                              "properties": {}
                            },
                            "frstyearPrcrmntReqNo": {
                              "type": "string",
                              "description": "초년도조달요청번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터검색조건에 의한 조달요청 공사조회",
        "description": "나라장터 검색조건(조회구분, 접수일시, 조달요청번호, 접수지청명, 조달요청명, 발주기관, 조달요청번호) 등을 입력하여 조달요청번호, 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 공사에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListCnstwkPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rcptBrnofceNm",
          "description": "접수지청명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNm",
          "description": "조달요청명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttCd",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderInsttNm",
          "description": "발주기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prcrmntReqOfclEmpNo": {
                              "type": "string",
                              "description": "조달요청담당자사번",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "prcrmntReqNm": {
                              "type": "string",
                              "description": "조달요청명",
                              "properties": {}
                            },
                            "rcptDt": {
                              "type": "string",
                              "description": "접수일시",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderInsttCd": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "cntrctDisposNm": {
                              "type": "string",
                              "description": "계약성질명",
                              "properties": {}
                            },
                            "totCnstwkScleAmt": {
                              "type": "string",
                              "description": "총공사규모금액",
                              "properties": {}
                            },
                            "cnsttyNm": {
                              "type": "string",
                              "description": "공종명",
                              "properties": {}
                            },
                            "contrctAmt": {
                              "type": "string",
                              "description": "도급금액",
                              "properties": {}
                            },
                            "thtmContrctAmt": {
                              "type": "string",
                              "description": "금차도급금액",
                              "properties": {}
                            },
                            "mainCnsttyDeptNm": {
                              "type": "string",
                              "description": "주공종부서명",
                              "properties": {}
                            },
                            "govsplyAmt": {
                              "type": "string",
                              "description": "관급금액",
                              "properties": {}
                            },
                            "totCnstwkDaynum": {
                              "type": "string",
                              "description": "총공사일수",
                              "properties": {}
                            },
                            "thtmCnstwkDaynum": {
                              "type": "string",
                              "description": "금차공사일수",
                              "properties": {}
                            },
                            "etcAmt": {
                              "type": "string",
                              "description": "기타금액",
                              "properties": {}
                            },
                            "cnstrtsiteRgnNm": {
                              "type": "string",
                              "description": "공사현장지역명",
                              "properties": {}
                            },
                            "cnstwkPrearngAmt": {
                              "type": "string",
                              "description": "공사예정금액",
                              "properties": {}
                            },
                            "techRvwReqstDate": {
                              "type": "string",
                              "description": "기술검토의뢰일자",
                              "properties": {}
                            },
                            "prcrmntReqOfclNm": {
                              "type": "string",
                              "description": "조달요청담당자명",
                              "properties": {}
                            },
                            "prcrmntReqInfoUrl": {
                              "type": "string",
                              "description": "조달요청정보URL",
                              "properties": {}
                            },
                            "rcptBrnofceNm": {
                              "type": "string",
                              "description": "접수지청명",
                              "properties": {}
                            },
                            "thtmBdgtAmt": {
                              "type": "string",
                              "description": "금차예산금액",
                              "properties": {}
                            },
                            "frstyearPrcrmntReqNo": {
                              "type": "string",
                              "description": "초년도조달요청번호",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달요청에 대한 공사조회",
        "description": "검색조건을 조회구분, 입력일시, 조달요청번호를 입력하여 계약체결형태명, 대표납품장소, 발주기관, 조달요청명 등 공사에 대한 조달요청 조회",
        "operationId": "getPrcrmntReqInfoListCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntReqInfoListThngPPSSrch": {
      "get": {
        "responses": {
          "10": {
[...]
