{
  "swagger": "2.0",
  "info": {
    "description": "민간낙찰정보를 제공하는 서비스로 개찰완료목록, 재입찰목록, 유찰목록 또한 최종 낙찰자 목록을 단순검색조건(등록일시,공고게시일시,개찰일시 )데이터를 제공하는 현황조회, 다양한 옵션 조건으로 조회할 수 있는 나라장터 검색조건에 목록조회로 구성되어 정보를 제공\n\n※ 나라장터에 수요기관으로 등록할 수 없는 '수요기관 외의 자'가 전자조달시스템을 이용하여 전자입찰을 실시하고자 하는 경우 '누리장터'를 이용할 수 있습니다. 민간낙찰정보는 누리장터에 등록된 민간입찰공고의 낙찰 관련 정보를 제공합니다.",
    "version": "1.0.0",
    "title": "조달청_누리장터 민간낙찰정보_서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/PrvtScsbidInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getPrvtScsbidListSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간 낙찰된 목록 현황 조회",
        "description": "검색조건에 조회구분, 조회시작일시, 조회종료일시, 입찰공고번호를 입력하여 업무구분코드 입찰공고번호, 입찰공고차수, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 실개찰일시, 참가업체수, 최종낙찰금액, 최종낙찰률, 최종낙찰업체명, 최종낙찰업체대표자명, 최종낙찰업체주소, 최종낙찰업체전화번호 등의 누리장터시스템에 등록된 낙찰 정보 조회",
        "operationId": "getPrvtScsbidListSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bsnsDivCd",
          "description": "업무구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtOpengResultListInfo": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간 개찰결과 목록 조회",
        "description": "검색조건에 조회구분, 조회시작일시, 조회종료일시, 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 입찰분류번호, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 개찰일시, 참가업체수, 진행구분코드명, 개찰업체정보, 결과코드, 결과메세지, 한 페이지 결과 수, 페이지 번호, 데이터 총 개수, 입찰공고차수, 입찰분류번호, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 개찰일시, 참가업체수, 진행구분코드명, 개찰업체정보 등의 누리장터시스템에 등록된 개찰결과 정보 조회",
        "operationId": "getPrvtOpengResultListInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtScsbidListSttusPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bsnsDivNm": {
                              "type": "string",
                              "description": "업무구분명",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 민간 낙찰된 목록 현황 조회",
        "description": "나라장터 검색조건으로 업무구분코드 입찰공고번호, 입찰공고차수, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 실개찰일시, 참가업체수, 최종낙찰금액, 최종낙찰률, 최종낙찰업체명, 최종낙찰업체대표자명, 최종낙찰업체주소, 최종낙찰업체전화번호 등의 누리장터시스템에 등록된 낙찰 정보 조회",
        "operationId": "getPrvtScsbidListSttusPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtOpengResultListInfoPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 민간 개찰결과 목록 조회",
        "description": "나라장터 검색조건을 입력하여 입찰공고번호, 입찰공고차수, 입찰분류번호, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 개찰일시, 참가업체수, 진행구분코드명, 개찰업체정보, 결과코드, 결과메세지, 한 페이지 결과 수, 페이지 번호, 데이터 총 개수, 입찰공고차수, 입찰분류번호, 재입찰번호, 입찰공고명, 수요기관코드, 수요기관명, 개찰일시, 참가업체수, 진행구분코드명, 개찰업체정보 등의 누리장터시스템에 등록된 개찰결과 정보 조회",
        "operationId": "getPrvtOpengResultListInfoPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtOpengResultListInfoOpengCompt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bidprcDt": {
                              "type": "string",
                              "description": "투찰일시",
                              "properties": {}
                            },
                            "opengRsltDivNm": {
                              "type": "string",
                              "description": "개찰결과구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "opengRank": {
                              "type": "string",
                              "description": "개찰순위",
                              "properties": {}
                            },
                            "prcbdrBizno": {
                              "type": "string",
                              "description": "투찰업체사업자등록번호",
                              "properties": {}
                            },
                            "prcbdrNm": {
                              "type": "string",
                              "description": "투찰업체명",
                              "properties": {}
                            },
                            "prcbdrCeoNm": {
                              "type": "string",
                              "description": "투찰업체대표자명",
                              "properties": {}
                            },
                            "bidprcAmt": {
                              "type": "string",
                              "description": "투찰금액",
                              "properties": {}
                            },
                            "bidprcrt": {
                              "type": "string",
                              "description": "투찰률",
                              "properties": {}
                            },
                            "rmrk": {
                              "type": "string",
                              "description": "비고",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간 개찰결과 개찰완료 목록 조회",
        "description": "검색조건에 입찰공고번호, 입찰공고차수, 재입찰번호를 입력하여 개찰결과구분명, 입찰공고번호, 입찰공고차수, 재입찰번호, 개찰순위, 투찰업체사업자등록번호, 투찰업체명, 투찰업체대표자명, 투찰금액, 투찰률, 비고, 투찰일시등 개찰완료 정보를 조회",
        "operationId": "getPrvtOpengResultListInfoOpengCompt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rbidNo",
          "description": "재입찰번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtOpengResultListInfoFailing": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "nobidRsn": {
                              "type": "string",
                              "description": "유찰사유",
                              "properties": {}
                            },
                            "bidprcDt": {
                              "type": "string",
                              "description": "투찰일시",
                              "properties": {}
                            },
                            "opengRsltDivNm": {
                              "type": "string",
                              "description": "개찰결과구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "opengRank": {
                              "type": "string",
                              "description": "개찰순위",
                              "properties": {}
                            },
                            "prcbdrBizno": {
                              "type": "string",
                              "description": "투찰업체사업자등록번호",
                              "properties": {}
                            },
                            "prcbdrNm": {
                              "type": "string",
                              "description": "투찰업체명",
                              "properties": {}
                            },
                            "prcbdrCeoNm": {
                              "type": "string",
                              "description": "투찰업체대표자명",
                              "properties": {}
                            },
                            "bidprcAmt": {
                              "type": "string",
                              "description": "투찰금액",
                              "properties": {}
                            },
                            "bidprcrt": {
                              "type": "string",
                              "description": "투찰률",
                              "properties": {}
                            },
                            "rmrk": {
                              "type": "string",
                              "description": "비고",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간 개찰결과 유찰 목록 조회",
        "description": "검색조건에 입찰공고번호, 입찰공고차수, 재입찰번호를 입력하여 개찰결과구분명, 입찰공고번호, 입찰공고차수, 재입찰번호, 유찰사유 등 유찰 정보를 조회",
        "operationId": "getPrvtOpengResultListInfoFailing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rbidNo",
          "description": "재입찰번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtOpengResultListInfoRebid": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rbidRsn": {
                              "type": "string",
                              "description": "재입찰사유",
                              "properties": {}
                            },
                            "bidprcDt": {
                              "type": "string",
                              "description": "투찰일시",
                              "properties": {}
                            },
                            "opengRsltDivNm": {
                              "type": "string",
                              "description": "개찰결과구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "opengRank": {
                              "type": "string",
                              "description": "개찰순위",
                              "properties": {}
                            },
                            "prcbdrBizno": {
                              "type": "string",
                              "description": "투찰업체사업자등록번호",
                              "properties": {}
                            },
                            "prcbdrNm": {
                              "type": "string",
                              "description": "투찰업체명",
                              "properties": {}
                            },
                            "prcbdrCeoNm": {
                              "type": "string",
                              "description": "투찰업체대표자명",
                              "properties": {}
                            },
                            "bidprcAmt": {
                              "type": "string",
                              "description": "투찰금액",
                              "properties": {}
                            },
                            "bidprcrt": {
                              "type": "string",
                              "description": "투찰률",
                              "properties": {}
                            },
                            "rmrk": {
                              "type": "string",
                              "description": "비고",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간 개찰결과 재입찰 목록 조회",
        "description": "검색조건에 입찰공고번호, 입찰공고차수, 재입찰번호를 입력하여 개찰결과구분명, 입찰공고번호, 입찰공고차수, 재입찰번호, 유찰사유 등 재입찰 정보를 조회",
        "operationId": "getPrvtOpengResultListInfoRebid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rbidNo",
          "description": "재입찰번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getPrvtScsbidListSttus_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "bidwinnrTelNo": {
                      "type": "string",
                      "description": "최종낙찰업체전화번호"
                    },
                    "bsnsDivNm": {
                      "type": "string",
                      "description": "업무구분명"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "dminsttCd": {
                      "type": "string",
                      "description": "수요기관코드"
                    },
                    "dminsttNm": {
                      "type": "string",
                      "description": "수요기관명"
                    },
                    "rlOpengDt": {
                      "type": "string",
                      "description": "실개찰일시"
                    },
                    "prtcptCnum": {
                      "type": "string",
                      "description": "참가업체수"
                    },
                    "sucsfbidAmt": {
                      "type": "string",
                      "description": "최종낙찰금액"
                    },
                    "sucsfbidRate": {
                      "type": "string",
                      "description": "최종낙찰률"
                    },
                    "bidwinnrNm": {
                      "type": "string",
                      "description": "최종낙찰업체명"
                    },
                    "bidwinnrCeoNm": {
                      "type": "string",
                      "description": "최종낙찰업체대표자명"
                    },
                    "bidwinnrAdrs": {
                      "type": "string",
                      "description": "최종낙찰업체주소"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtOpengResultListInfo_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "opengCorpInfo": {
                      "type": "string",
                      "description": "개찰업체정보"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "bidClsfcNo": {
                      "type": "string",
                      "description": "입찰분류번호"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "dminsttCd": {
                      "type": "string",
                      "description": "수요기관코드"
                    },
                    "dminsttNm": {
                      "type": "string",
                      "description": "수요기관명"
                    },
                    "opengDt": {
                      "type": "string",
                      "description": "개찰일시"
                    },
                    "prtcptCnum": {
                      "type": "string",
                      "description": "참가업체수"
                    },
                    "progrsDivCdNm": {
                      "type": "string",
                      "description": "진행구분코드명"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtScsbidListSttusPPSSrch_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "bidwinnrTelNo": {
                      "type": "string",
                      "description": "최종낙찰업체전화번호"
                    },
                    "opengCorpInfo": {
                      "type": "string",
                      "description": "개찰업체정보"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "bidClsfcNo": {
                      "type": "string",
                      "description": "입찰분류번호"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "dminsttCd": {
                      "type": "string",
                      "description": "수요기관코드"
                    },
                    "dminsttNm": {
                      "type": "string",
                      "description": "수요기관명"
                    },
                    "rlOpengDt": {
                      "type": "string",
                      "description": "실개찰일시"
                    },
                    "prtcptCnum": {
                      "type": "string",
                      "description": "참가업체수"
                    },
                    "bsnsDivNm": {
                      "type": "string",
                      "description": "업무구분명"
                    },
                    "sucsfbidAmt": {
                      "type": "string",
                      "description": "최종낙찰금액"
                    },
                    "sucsfbidRate": {
                      "type": "string",
                      "description": "최종낙찰률"
                    },
                    "bidwinnrNm": {
                      "type": "string",
                      "description": "최종낙찰업체명"
                    },
                    "bidwinnrCeoNm": {
                      "type": "string",
                      "description": "최종낙찰업체대표자명"
                    },
                    "bidwinnrAdrs": {
                      "type": "string",
                      "description": "최종낙찰업체주소"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtOpengResultListInfoPPSSrch_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "opengCorpInfo": {
                      "type": "string",
                      "description": "개찰업체정보"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "bidClsfcNo": {
                      "type": "string",
                      "description": "입찰분류번호"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "dminsttCd": {
                      "type": "string",
                      "description": "수요기관코드"
                    },
                    "dminsttNm": {
                      "type": "string",
                      "description": "수요기관명"
                    },
                    "opengDt": {
                      "type": "string",
                      "description": "개찰일시"
                    },
                    "prtcptCnum": {
                      "type": "string",
                      "description": "참가업체수"
                    },
                    "progrsDivCdNm": {
                      "type": "string",
                      "description": "진행구분코드명"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtOpengResultListInfoOpengCompt_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "bidprcDt": {
                      "type": "string",
                      "description": "투찰일시"
                    },
                    "opengRsltDivNm": {
                      "type": "string",
                      "description": "개찰결과구분명"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "opengRank": {
                      "type": "string",
                      "description": "개찰순위"
                    },
                    "prcbdrBizno": {
                      "type": "string",
                      "description": "투찰업체사업자등록번호"
                    },
                    "prcbdrNm": {
                      "type": "string",
                      "description": "투찰업체명"
                    },
                    "prcbdrCeoNm": {
                      "type": "string",
                      "description": "투찰업체대표자명"
                    },
                    "bidprcAmt": {
                      "type": "string",
                      "description": "투찰금액"
                    },
                    "bidprcrt": {
                      "type": "string",
                      "description": "투찰률"
                    },
                    "rmrk": {
                      "type": "string",
                      "description": "비고"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtOpengResultListInfoFailing_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "nobidRsn": {
                      "type": "string",
                      "description": "유찰사유"
                    },
                    "bidprcDt": {
                      "type": "string",
                      "description": "투찰일시"
                    },
                    "opengRsltDivNm": {
                      "type": "string",
                      "description": "개찰결과구분명"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "opengRank": {
                      "type": "string",
                      "description": "개찰순위"
                    },
                    "prcbdrBizno": {
                      "type": "string",
                      "description": "투찰업체사업자등록번호"
                    },
                    "prcbdrNm": {
                      "type": "string",
                      "description": "투찰업체명"
                    },
                    "prcbdrCeoNm": {
                      "type": "string",
                      "description": "투찰업체대표자명"
                    },
                    "bidprcAmt": {
                      "type": "string",
                      "description": "투찰금액"
                    },
                    "bidprcrt": {
                      "type": "string",
                      "description": "투찰률"
                    },
                    "rmrk": {
                      "type": "string",
                      "description": "비고"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getPrvtOpengResultListInfoRebid_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "rbidRsn": {
                      "type": "string",
                      "description": "재입찰사유"
                    },
                    "bidprcDt": {
                      "type": "string",
                      "description": "투찰일시"
                    },
                    "opengRsltDivNm": {
                      "type": "string",
                      "description": "개찰결과구분명"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "rbidNo": {
                      "type": "string",
                      "description": "재입찰번호"
                    },
                    "opengRank": {
                      "type": "string",
                      "description": "개찰순위"
                    },
                    "prcbdrBizno": {
                      "type": "string",
                      "description": "투찰업체사업자등록번호"
                    },
                    "prcbdrNm": {
                      "type": "string",
                      "description": "투찰업체명"
                    },
                    "prcbdrCeoNm": {
                      "type": "string",
                      "description": "투찰업체대표자명"
                    },
                    "bidprcAmt": {
                      "type": "string",
                      "description": "투찰금액"
                    },
                    "bidprcrt": {
                      "type": "string",
                      "description": "투찰률"
                    },
                    "rmrk": {
                      "type": "string",
                      "description": "비고"
                    },
                    "opengDt": {
                      "type": "string",
                      "description": "개찰일자"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://nopenapi.g2b.go.kr/ao/PrvtScsbidInfoService/getPrvtOpengResultListInfoRebid",
      "oprtinNm": "민간 개찰결과 재입찰 목록 조회",
      "oprtinDc": "검색조건에 입찰공고번호, 입찰공고차수, 재입찰번호를 입력하여 개찰결과구분명, 입찰공고번호, 입찰공고차수, 재입찰번호, 유찰사유 등 재입찰 정보를 조회",
      "gwSvcNm": "getPrvtOpengResultListInfoRebid",
      "operationId": "getPrvtOpengResultListInfoRebid",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "type",
          "paramtrDc": "타입",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "bidNtceNo",
          "paramtrDc": "입찰공고번호",
          "paramtrBassValue": "20150121234",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "bidNtceOrd",
          "paramtrDc": "입찰공고차수",
          "paramtrBassValue": "000",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "rbidNo",
          "paramtrDc": "재입찰번호",
          "paramtrBassValue": "001",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "rbidRsn",
                      "paramtrDc": "재입찰사유",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidprcDt",
                      "paramtrDc": "투찰일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "opengRsltDivNm",
                      "paramtrDc": "개찰결과구분명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceNo",
                      "paramtrDc": "입찰공고번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceOrd",
                      "paramtrDc": "입찰공고차수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rbidNo",
                      "paramtrDc": "재입찰번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "opengRank",
                      "paramtrDc": "개찰순위",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "prcbdrBizno",
                      "paramtrDc": "투찰업체사업자등록번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "prcbdrNm",
                      "paramtrDc": "투찰업체명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "prcbdrCeoNm",
                      "paramtrDc": "투찰업체대표자명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidprcAmt",
                      "paramtrDc": "투찰금액",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidprcrt",
                      "paramtrDc": "투찰률",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rmrk",
                      "paramtrDc": "비고",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "opengDt",
                      "paramtrDc": "개찰일자",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}