{
  "swagger": "2.0",
  "info": {
    "description": "민간입찰공고정보를 제공하는 서비스로 용역, 물품, 공사, 기타 업무로 구분하여 입찰공고목록, 면허제한정보, 참가가능지역정보를 제공하며 다양한 옵션 조건으로 조회할 수 있는 나라장터 검색조건에 민간입찰목록조회로 구성되어 정보를 제공\n\n※ 나라장터에 수요기관으로 등록할 수 없는 '수요기관 외의 자'가 전자조달시스템을 이용하여 전자입찰을 실시하고자 하는 경우 '누리장터'를 이용할 수 있습니다. 민간입찰공고정보는 '수요기관 외의 자'(예 : 아파트관리사무소, 영리법인 등) 누리장터에 등록된 민간입찰공고 관련 정보를 제공합니다.",
    "version": "1.0.0",
    "title": "조달청_누리장터 민간입찰공고서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/PrvtBidNtceService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getPrvtBidPblancListInfoServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "ntceNm": {
                              "type": "string",
                              "description": "공고명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidNtceClsfc": {
                              "type": "string",
                              "description": "입찰공고분류",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "ntceSpecDocNm8": {
                              "type": "string",
                              "description": "공고규격서명8",
                              "properties": {}
                            },
                            "ntceSpecDocNm9": {
                              "type": "string",
                              "description": "공고규격서명9",
                              "properties": {}
                            },
                            "ntceSpecDocNm10": {
                              "type": "string",
                              "description": "공고규격서명10",
                              "properties": {}
                            },
                            "aptHsmpNm": {
                              "type": "string",
                              "description": "아파트단지명",
                              "properties": {}
                            },
                            "aptCeoAdrs": {
                              "type": "string",
                              "description": "아파트대표자주소",
                              "properties": {}
                            },
                            "refAmtDscrpt": {
                              "type": "string",
                              "description": "기준금액설명",
                              "properties": {}
                            },
                            "dtchacOpenDt": {
                              "type": "string",
                              "description": "역경매공개일시",
                              "properties": {}
                            },
                            "dtchacBgnPrce": {
                              "type": "string",
                              "description": "역경매시작가격",
                              "properties": {}
                            },
                            "dtchacRmrk": {
                              "type": "string",
                              "description": "역경매비고",
                              "properties": {}
                            },
                            "bssAmtDtlScrnUrl": {
                              "type": "string",
                              "description": "기초금액상세화면URL",
                              "properties": {}
                            },
                            "dtchacMinRdctnRt": {
                              "type": "string",
                              "description": "역경매최소인하비율",
                              "properties": {}
                            },
                            "dtchacBidprcLmtNum": {
                              "type": "string",
                              "description": "역경매투찰제한횟수",
                              "properties": {}
                            },
                            "dtchacAutoEtTm": {
                              "type": "string",
                              "description": "역경매자동연장시각",
                              "properties": {}
                            },
                            "dtchacBeforeBidDocClseDt": {
                              "type": "string",
                              "description": "역경매이전입찰서마감일시",
                              "properties": {}
                            },
                            "dtchacEtBidDocClseDt": {
                              "type": "string",
                              "description": "역경매연장입찰문서마감일시",
                              "properties": {}
                            },
                            "servcDtlList": {
                              "type": "string",
                              "description": "용역상세목록",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "ntceDivNm": {
                              "type": "string",
                              "description": "공고구분명",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "rbidDivNm": {
                              "type": "string",
                              "description": "재입찰구분명",
                              "properties": {}
                            },
                            "bidQlfctNm": {
                              "type": "string",
                              "description": "입찰자격명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclEmail": {
                              "type": "string",
                              "description": "담당자이메일",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "sptDscrptDt": {
                              "type": "string",
                              "description": "현장설명일시",
                              "properties": {}
                            },
                            "sptDscrptPlce": {
                              "type": "string",
                              "description": "현장설명장소",
                              "properties": {}
                            },
                            "vatInclsnYnNm": {
                              "type": "string",
                              "description": "부가가치세포함여부명",
                              "properties": {}
                            },
                            "refAmtUseYn": {
                              "type": "string",
                              "description": "기준금액사용여부",
                              "properties": {}
                            },
                            "refAmtOpenYn": {
                              "type": "string",
                              "description": "기준금액공개여부",
                              "properties": {}
                            },
                            "ntceSpecDocNm3": {
                              "type": "string",
                              "description": "공고규격서명3",
                              "properties": {}
                            },
                            "ntceSpecDocNm4": {
                              "type": "string",
                              "description": "공고규격서명4",
                              "properties": {}
                            },
                            "ntceSpecDocNm5": {
                              "type": "string",
                              "description": "공고규격서명5",
                              "properties": {}
                            },
                            "ntceSpecDocNm6": {
                              "type": "string",
                              "description": "공고규격서명6",
                              "properties": {}
                            },
                            "ntceSpecDocNm7": {
                              "type": "string",
                              "description": "공고규격서명7",
                              "properties": {}
                            },
                            "aptSubactLrgeNdCmpnintFclty": {
                              "type": "string",
                              "description": "아파트부대및복리시설",
                              "properties": {}
                            },
                            "aptTotar": {
                              "type": "string",
                              "description": "아파트연면적",
                              "properties": {}
                            },
                            "aptMngcstLevyArea": {
                              "type": "string",
                              "description": "아파트관리비부과면적",
                              "properties": {}
                            },
                            "aptHshldNum": {
                              "type": "string",
                              "description": "아파트세대수",
                              "properties": {}
                            },
                            "aptCmplNum": {
                              "type": "string",
                              "description": "아파트동수",
                              "properties": {}
                            },
                            "ntceSpecDocNm1": {
                              "type": "string",
                              "description": "공고규격서명1",
                              "properties": {}
                            },
                            "ntceSpecDocNm2": {
                              "type": "string",
                              "description": "공고규격서명2",
                              "properties": {}
                            },
                            "aptHeatMethdNm": {
                              "type": "string",
                              "description": "아파트난방방식명",
                              "properties": {}
                            },
                            "aptMngOfficeTelNo": {
                              "type": "string",
                              "description": "아파트관리사무소전화번호",
                              "properties": {}
                            },
                            "aptHmpgUrl": {
                              "type": "string",
                              "description": "아파트홈페이지URL",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "rgnLmtDivNm": {
                              "type": "string",
                              "description": "지역제한구분명",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "refAmt": {
                              "type": "string",
                              "description": "기준금액",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 용역조회",
        "description": "검색조건을 조회구분, 등록일범위, 공고일범위, 개찰일범위, 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 입찰공고분류, 게시일시, 참조번호, 공고명, 공고구분명, 공고기관명, 입찰방식명, 계약방법명, 낙찰방법명, 재입찰구분명, 입찰자격명, 담당자명, 담당자전화번호, 담당자이메일, 입찰개시일시, 입찰마감일시, 개찰일시, 개찰장소, 입찰보증서접수마감일시, 현장설명일시, 현장설명장소, 부가가치세포함여부명, 기준금액사용여부, 기준금액공개여부, 기준금액, 배정예산금액, 기준금액설명, 지역제한구분명, 용역상세목록, 공고서URL, 아파트정보, 등록일시 등의 누리장터시스템에 등록된 용역 입찰공고 정보 조회",
        "operationId": "getPrvtBidPblancListInfoServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "ntceNm": {
                              "type": "string",
                              "description": "공고명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidNtceClsfc": {
                              "type": "string",
                              "description": "입찰공고분류",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "ntceDivNm": {
                              "type": "string",
                              "description": "공고구분명",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "rbidDivNm": {
                              "type": "string",
                              "description": "재입찰구분명",
                              "properties": {}
                            },
                            "bidQlfctNm": {
                              "type": "string",
                              "description": "입찰자격명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclEmail": {
                              "type": "string",
                              "description": "담당자이메일",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "sptDscrptDt": {
                              "type": "string",
                              "description": "현장설명일시",
                              "properties": {}
                            },
                            "sptDscrptPlce": {
                              "type": "string",
                              "description": "현장설명장소",
                              "properties": {}
                            },
                            "vatInclsnYnNm": {
                              "type": "string",
                              "description": "부가가치세포함여부명",
                              "properties": {}
                            },
                            "refAmtUseYn": {
                              "type": "string",
                              "description": "기준금액사용여부",
                              "properties": {}
                            },
                            "refAmtOpenYn": {
                              "type": "string",
                              "description": "기준금액공개여부",
                              "properties": {}
                            },
                            "refAmt": {
                              "type": "string",
                              "description": "기준금액",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "refAmtDscrpt": {
                              "type": "string",
                              "description": "기준금액설명",
                              "properties": {}
                            },
                            "rgnLmtDivNm": {
                              "type": "string",
                              "description": "지역제한구분명",
                              "properties": {}
                            },
                            "dtchacOpenDt": {
                              "type": "string",
                              "description": "역경매공개일시",
                              "properties": {}
                            },
                            "dtchacBgnPrce": {
                              "type": "string",
                              "description": "역경매시작가격",
                              "properties": {}
                            },
                            "dtchacRmrk": {
                              "type": "string",
                              "description": "역경매비고",
                              "properties": {}
                            },
                            "bssAmtDtlScrnUrl": {
                              "type": "string",
                              "description": "기초금액상세화면URL",
                              "properties": {}
                            },
                            "dtchacMinRdctnRt": {
                              "type": "string",
                              "description": "역경매최소인하비율",
                              "properties": {}
                            },
                            "dtchacBidprcLmtNum": {
                              "type": "string",
                              "description": "역경매투찰제한횟수",
                              "properties": {}
                            },
                            "dtchacAutoEtTm": {
                              "type": "string",
                              "description": "역경매자동연장시각",
                              "properties": {}
                            },
                            "dtchacBeforeBidDocClseDt": {
                              "type": "string",
                              "description": "역경매이전입찰서마감일시",
                              "properties": {}
                            },
                            "dtchacEtBidDocClseDt": {
                              "type": "string",
                              "description": "역경매연장입찰문서마감일시",
                              "properties": {}
                            },
                            "prdctDtlList": {
                              "type": "string",
                              "description": "물품상세목록",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecDocNm7": {
                              "type": "string",
                              "description": "공고규격서명7",
                              "properties": {}
                            },
                            "ntceSpecDocNm8": {
                              "type": "string",
                              "description": "공고규격서명8",
                              "properties": {}
                            },
                            "ntceSpecDocNm9": {
                              "type": "string",
                              "description": "공고규격서명9",
                              "properties": {}
                            },
                            "ntceSpecDocNm10": {
                              "type": "string",
                              "description": "공고규격서명10",
                              "properties": {}
                            },
                            "aptHsmpNm": {
                              "type": "string",
                              "description": "아파트단지명",
                              "properties": {}
                            },
                            "aptCeoAdrs": {
                              "type": "string",
                              "description": "아파트대표자주소",
                              "properties": {}
                            },
                            "aptMngOfficeTelNo": {
                              "type": "string",
                              "description": "아파트관리사무소전화번호",
                              "properties": {}
                            },
                            "aptHmpgUrl": {
                              "type": "string",
                              "description": "아파트홈페이지URL",
                              "properties": {}
                            },
                            "aptTotar": {
                              "type": "string",
                              "description": "아파트연면적",
                              "properties": {}
                            },
                            "aptMngcstLevyArea": {
                              "type": "string",
                              "description": "아파트관리비부과면적",
                              "properties": {}
                            },
                            "aptHeatMethdNm": {
                              "type": "string",
                              "description": "아파트난방방식명",
                              "properties": {}
                            },
                            "aptSubactLrgeNdCmpnintFclty": {
                              "type": "string",
                              "description": "아파트부대및복리시설",
                              "properties": {}
                            },
                            "ntceSpecDocNm1": {
                              "type": "string",
                              "description": "공고규격서명1",
                              "properties": {}
                            },
                            "ntceSpecDocNm2": {
                              "type": "string",
                              "description": "공고규격서명2",
                              "properties": {}
                            },
                            "ntceSpecDocNm3": {
                              "type": "string",
                              "description": "공고규격서명3",
                              "properties": {}
                            },
                            "ntceSpecDocNm4": {
                              "type": "string",
                              "description": "공고규격서명4",
                              "properties": {}
                            },
                            "ntceSpecDocNm5": {
                              "type": "string",
                              "description": "공고규격서명5",
                              "properties": {}
                            },
                            "ntceSpecDocNm6": {
                              "type": "string",
                              "description": "공고규격서명6",
                              "properties": {}
                            },
                            "aptHshldNum": {
                              "type": "string",
                              "description": "아파트세대수",
                              "properties": {}
                            },
                            "aptCmplNum": {
                              "type": "string",
                              "description": "아파트동수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 물품조회",
        "description": "검색조건을 조회구분, 등록일범위, 공고일범위, 개찰일범위, 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 입찰공고분류, 게시일시, 참조번호, 공고명, 공고구분명, 공고기관명, 입찰방식명, 계약방법명, 낙찰방법명, 재입찰구분명, 입찰자격명, 담당자명, 담당자전화번호, 담당자이메일, 입찰개시일시, 입찰마감일시, 개찰일시, 개찰장소, 입찰보증서접수마감일시, 현장설명일시, 현장설명장소, 부가가치세포함여부명, 기준금액사용여부, 기준금액공개여부, 기준금액, 배정예산금액, 기준금액설명, 지역제한구분명, 물품목록상세, 공고서URL, 아파트정보, 등록일시 등의 누리장터시스템에 등록된 물품 입찰공고 정보 조회",
        "operationId": "getPrvtBidPblancListInfoThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "ntceNm": {
                              "type": "string",
                              "description": "공고명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidNtceClsfc": {
                              "type": "string",
                              "description": "입찰공고분류",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "ntceDivNm": {
                              "type": "string",
                              "description": "공고구분명",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "rbidDivNm": {
                              "type": "string",
                              "description": "재입찰구분명",
                              "properties": {}
                            },
                            "bidQlfctNm": {
                              "type": "string",
                              "description": "입찰자격명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclEmail": {
                              "type": "string",
                              "description": "담당자이메일",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "sptDscrptDt": {
                              "type": "string",
                              "description": "현장설명일시",
                              "properties": {}
                            },
                            "sptDscrptPlce": {
                              "type": "string",
                              "description": "현장설명장소",
                              "properties": {}
                            },
                            "vatInclsnYnNm": {
                              "type": "string",
                              "description": "부가가치세포함여부명",
                              "properties": {}
                            },
                            "refAmtUseYn": {
                              "type": "string",
                              "description": "기준금액사용여부",
                              "properties": {}
                            },
                            "refAmtOpenYn": {
                              "type": "string",
                              "description": "기준금액공개여부",
                              "properties": {}
                            },
                            "refAmt": {
                              "type": "string",
                              "description": "기준금액",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "refAmtDscrpt": {
                              "type": "string",
                              "description": "기준금액설명",
                              "properties": {}
                            },
                            "rgnLmtDivNm": {
                              "type": "string",
                              "description": "지역제한구분명",
                              "properties": {}
                            },
                            "dtchacOpenDt": {
                              "type": "string",
                              "description": "역경매공개일시",
                              "properties": {}
                            },
                            "dtchacBgnPrce": {
                              "type": "string",
                              "description": "역경매시작가격",
                              "properties": {}
                            },
                            "dtchacRmrk": {
                              "type": "string",
                              "description": "역경매비고",
                              "properties": {}
                            },
                            "bssAmtDtlScrnUrl": {
                              "type": "string",
                              "description": "기초금액상세화면URL",
                              "properties": {}
                            },
                            "dtchacMinRdctnRt": {
                              "type": "string",
                              "description": "역경매최소인하비율",
                              "properties": {}
                            },
                            "dtchacBidprcLmtNum": {
                              "type": "string",
                              "description": "역경매투찰제한횟수",
                              "properties": {}
                            },
                            "dtchacAutoEtTm": {
                              "type": "string",
                              "description": "역경매자동연장시각",
                              "properties": {}
                            },
                            "dtchacBeforeBidDocClseDt": {
                              "type": "string",
                              "description": "역경매이전입찰서마감일시",
                              "properties": {}
                            },
                            "dtchacEtBidDocClseDt": {
                              "type": "string",
                              "description": "역경매연장입찰문서마감일시",
                              "properties": {}
                            },
                            "cnstwkDtlList": {
                              "type": "string",
                              "description": "공사상세목록",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecDocNm1": {
                              "type": "string",
                              "description": "공고규격서명1",
                              "properties": {}
                            },
                            "aptHshldNum": {
                              "type": "string",
                              "description": "아파트세대수",
                              "properties": {}
                            },
                            "aptCmplNum": {
                              "type": "string",
                              "description": "아파트동수",
                              "properties": {}
                            },
                            "aptHeatMethdNm": {
                              "type": "string",
                              "description": "아파트난방방식",
                              "properties": {}
                            },
                            "aptSubactLrgeNdCmpnintFclty": {
                              "type": "string",
                              "description": "아파트부대및복리시설",
                              "properties": {}
                            },
                            "aptTotar": {
                              "type": "string",
                              "description": "아파트연면적",
                              "properties": {}
                            },
                            "aptMngcstLevyArea": {
                              "type": "string",
                              "description": "아파트관리비부과면적",
                              "properties": {}
                            },
                            "ntceSpecDocNm9": {
                              "type": "string",
                              "description": "공고규격서명9",
                              "properties": {}
                            },
                            "ntceSpecDocNm10": {
                              "type": "string",
                              "description": "공고규격서명10",
                              "properties": {}
                            },
                            "aptHsmpNm": {
                              "type": "string",
                              "description": "아파트단지명",
                              "properties": {}
                            },
                            "aptCeoAdrs": {
                              "type": "string",
                              "description": "아파트대표자주소",
                              "properties": {}
                            },
                            "aptMngOfficeTelNo": {
                              "type": "string",
                              "description": "아파트관리사무소전화번호",
                              "properties": {}
                            },
                            "aptHmpgUrl": {
                              "type": "string",
                              "description": "아파트홈페이지URL",
                              "properties": {}
                            },
                            "ntceSpecDocNm2": {
                              "type": "string",
                              "description": "공고규격서명2",
                              "properties": {}
                            },
                            "ntceSpecDocNm3": {
                              "type": "string",
                              "description": "공고규격서명3",
                              "properties": {}
                            },
                            "ntceSpecDocNm4": {
                              "type": "string",
                              "description": "공고규격서명4",
                              "properties": {}
                            },
                            "ntceSpecDocNm5": {
                              "type": "string",
                              "description": "공고규격서명5",
                              "properties": {}
                            },
                            "ntceSpecDocNm6": {
                              "type": "string",
                              "description": "공고규격서명6",
                              "properties": {}
                            },
                            "ntceSpecDocNm7": {
                              "type": "string",
                              "description": "공고규격서명7",
                              "properties": {}
                            },
                            "ntceSpecDocNm8": {
                              "type": "string",
                              "description": "공고규격서명8",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 공사조회",
        "description": "검색조건을 조회구분, 등록일범위, 공고일범위, 개찰일범위, 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 입찰공고분류, 게시일시, 참조번호, 공고명, 공고구분명, 공고기관명, 입찰방식명, 계약방법명, 낙찰방법명, 재입찰구분명, 입찰자격명, 담당자명, 담당자전화번호, 담당자이메일, 입찰개시일시, 입찰마감일시, 개찰일시, 개찰장소, 입찰보증서접수마감일시, 현장설명일시, 현장설명장소, 부가가치세포함여부명, 기준금액사용여부, 기준금액공개여부, 기준금액, 배정예산금액, 기준금액설명, 지역제한구분명, 공사상세목록, 공고서URL, 아파트정보, 등록일시 등의 누리장터시스템에 등록된 공사 입찰공고 정보 조회",
        "operationId": "getPrvtBidPblancListInfoCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoEtc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "ntceSpecDocUrl8": {
                              "type": "string",
                              "description": "공고규격서URL8",
                              "properties": {}
                            },
                            "ntceDivNm": {
                              "type": "string",
                              "description": "공고구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidNtceClsfc": {
                              "type": "string",
                              "description": "입찰공고분류",
                              "properties": {}
                            },
                            "nticeDt": {
                              "type": "string",
                              "description": "게시일시",
                              "properties": {}
                            },
                            "refNo": {
                              "type": "string",
                              "description": "참조번호",
                              "properties": {}
                            },
                            "ntceNm": {
                              "type": "string",
                              "description": "공고명",
                              "properties": {}
                            },
                            "ntceSpecDocUrl9": {
                              "type": "string",
                              "description": "공고규격서URL9",
                              "properties": {}
                            },
                            "ntceSpecDocUrl10": {
                              "type": "string",
                              "description": "공고규격서URL10",
                              "properties": {}
                            },
                            "ntceSpecDocNm1": {
                              "type": "string",
                              "description": "공고규격서명1",
                              "properties": {}
                            },
                            "ntceSpecDocNm2": {
                              "type": "string",
                              "description": "공고규격서명2",
                              "properties": {}
                            },
                            "ntceSpecDocNm3": {
                              "type": "string",
                              "description": "공고규격서명3",
                              "properties": {}
                            },
                            "ntceSpecDocNm4": {
                              "type": "string",
                              "description": "공고규격서명4",
                              "properties": {}
                            },
                            "ntceSpecDocNm5": {
                              "type": "string",
                              "description": "공고규격서명5",
                              "properties": {}
                            },
                            "ntceSpecDocNm6": {
                              "type": "string",
                              "description": "공고규격서명6",
                              "properties": {}
                            },
                            "ntceSpecDocNm7": {
                              "type": "string",
                              "description": "공고규격서명7",
                              "properties": {}
                            },
                            "ntceSpecDocNm8": {
                              "type": "string",
                              "description": "공고규격서명8",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "rbidDivNm": {
                              "type": "string",
                              "description": "재입찰구분명",
                              "properties": {}
                            },
                            "bidQlfctNm": {
                              "type": "string",
                              "description": "입찰자격명",
                              "properties": {}
                            },
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "ofclEmail": {
                              "type": "string",
                              "description": "담당자이메일",
                              "properties": {}
                            },
                            "bidBeginDt": {
                              "type": "string",
                              "description": "입찰개시일시",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "opengPlce": {
                              "type": "string",
                              "description": "개찰장소",
                              "properties": {}
                            },
                            "bidWgrnteeRcptClseDt": {
                              "type": "string",
                              "description": "입찰보증서접수마감일시",
                              "properties": {}
                            },
                            "sptDscrptDt": {
                              "type": "string",
                              "description": "현장설명일시",
                              "properties": {}
                            },
                            "sptDscrptPlce": {
                              "type": "string",
                              "description": "현장설명장소",
                              "properties": {}
                            },
                            "vatInclsnYnNm": {
                              "type": "string",
                              "description": "부가가치세포함여부명",
                              "properties": {}
                            },
                            "refAmtUseYn": {
                              "type": "string",
                              "description": "기준금액사용여부",
                              "properties": {}
                            },
                            "refAmtOpenYn": {
                              "type": "string",
                              "description": "기준금액공개여부",
                              "properties": {}
                            },
                            "refAmt": {
                              "type": "string",
                              "description": "기준금액",
                              "properties": {}
                            },
                            "asignBdgtAmt": {
                              "type": "string",
                              "description": "배정예산금액",
                              "properties": {}
                            },
                            "refAmtDscrpt": {
                              "type": "string",
                              "description": "기준금액설명",
                              "properties": {}
                            },
                            "rgnLmtDivNm": {
                              "type": "string",
                              "description": "지역제한구분명",
                              "properties": {}
                            },
                            "dtchacOpenDt": {
                              "type": "string",
                              "description": "역경매공개일시",
                              "properties": {}
                            },
                            "dtchacBgnPrce": {
                              "type": "string",
                              "description": "역경매시작가격",
                              "properties": {}
                            },
                            "dtchacRmrk": {
                              "type": "string",
                              "description": "역경매비고",
                              "properties": {}
                            },
                            "bssAmtDtlScrnUrl": {
                              "type": "string",
                              "description": "기초금액상세화면URL",
                              "properties": {}
                            },
                            "dtchacMinRdctnRt": {
                              "type": "string",
                              "description": "역경매최소인하비율",
                              "properties": {}
                            },
                            "dtchacBidprcLmtNum": {
                              "type": "string",
                              "description": "역경매투찰제한횟수",
                              "properties": {}
                            },
                            "dtchacAutoEtTm": {
                              "type": "string",
                              "description": "역경매자동연장시각",
                              "properties": {}
                            },
                            "dtchacBeforeBidDocClseDt": {
                              "type": "string",
                              "description": "역경매이전입찰서마감일시",
                              "properties": {}
                            },
                            "dtchacEtBidDocClseDt": {
                              "type": "string",
                              "description": "역경매연장입찰문서마감일시",
                              "properties": {}
                            },
                            "ntceSpecDocUrl1": {
                              "type": "string",
                              "description": "공고규격서URL1",
                              "properties": {}
                            },
                            "ntceSpecDocUrl2": {
                              "type": "string",
                              "description": "공고규격서URL2",
                              "properties": {}
                            },
                            "ntceSpecDocUrl3": {
                              "type": "string",
                              "description": "공고규격서URL3",
                              "properties": {}
                            },
                            "ntceSpecDocUrl4": {
                              "type": "string",
                              "description": "공고규격서URL4",
                              "properties": {}
                            },
                            "ntceSpecDocUrl5": {
                              "type": "string",
                              "description": "공고규격서URL5",
                              "properties": {}
                            },
                            "ntceSpecDocUrl6": {
                              "type": "string",
                              "description": "공고규격서URL6",
                              "properties": {}
                            },
                            "ntceSpecDocUrl7": {
                              "type": "string",
                              "description": "공고규격서URL7",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "ntceSpecDocNm9": {
                              "type": "string",
                              "description": "공고규격서명9",
                              "properties": {}
                            },
                            "ntceSpecDocNm10": {
                              "type": "string",
                              "description": "공고규격서명10",
                              "properties": {}
                            },
                            "aptHsmpNm": {
                              "type": "string",
                              "description": "아파트단지명",
                              "properties": {}
                            },
                            "aptCeoAdrs": {
                              "type": "string",
                              "description": "아파트대표자주소",
                              "properties": {}
                            },
                            "aptMngOfficeTelNo": {
                              "type": "string",
                              "description": "아파트관리사무소전화번호",
                              "properties": {}
                            },
                            "aptHmpgUrl": {
                              "type": "string",
                              "description": "아파트홈페이지URL",
                              "properties": {}
                            },
                            "aptTotar": {
                              "type": "string",
                              "description": "아파트연면적",
                              "properties": {}
                            },
                            "aptMngcstLevyArea": {
                              "type": "string",
                              "description": "아파트관리비부과면적",
                              "properties": {}
                            },
                            "aptHshldNum": {
                              "type": "string",
                              "description": "아파트세대수",
                              "properties": {}
                            },
                            "aptCmplNum": {
                              "type": "string",
                              "description": "아파트동수",
                              "properties": {}
                            },
                            "aptHeatMethdNm": {
                              "type": "string",
                              "description": "아파트난방방식",
                              "properties": {}
                            },
                            "aptSubactLrgeNdCmpnintFclty": {
                              "type": "string",
                              "description": "아파트부대및복리시설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 기타조회",
        "description": "검색조건을 조회구분, 등록일범위, 공고일범위, 개찰일범위, 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 입찰공고분류, 게시일시, 참조번호, 공고명, 공고구분명, 공고기관명, 입찰방식명, 계약방법명, 낙찰방법명, 재입찰구분명, 입찰자격명, 담당자명, 담당자전화번호, 담당자이메일, 입찰개시일시, 입찰마감일시, 개찰일시, 개찰장소, 입찰보증서접수마감일시, 현장설명일시, 현장설명장소, 부가가치세포함여부명, 기준금액사용여부, 기준금액공개여부, 기준금액, 배정예산금액, 기준금액설명, 지역제한구분명, 공고서URL, 아파트정보, 등록일시 등의 누리장터시스템에 등록된 기타 입찰공고 정보 조회",
        "operationId": "getPrvtBidPblancListInfoEtc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoLicenseLimit": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "lmtGrpNo": {
                              "type": "string",
                              "description": "제한그룹번호",
                              "properties": {}
                            },
                            "lmtSno": {
                              "type": "string",
                              "description": "제한순번",
                              "properties": {}
                            },
                            "lcnsLmtNm": {
                              "type": "string",
                              "description": "면허제한명",
                              "properties": {}
                            },
                            "permsnIndstrytyList": {
                              "type": "string",
                              "description": "허용업종목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 면허제한정보조회",
        "description": "검색조건에 등록일시범위(통합입찰공고)와 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 제한그룹번호, 제한순번, 면허제한명, 허용업종목록, 등록일시를 포함한 면허제한정보 조회",
        "operationId": "getPrvtBidPblancListInfoLicenseLimit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoPrtcptPsblRgn": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prtcptPsblRgnNm": {
                              "type": "string",
                              "description": "참가가능지역명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "lmtSno": {
                              "type": "string",
                              "description": "제한순번",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "민간입찰공고정보에 대한 참가가능지역정보조회",
        "description": "검색조건에 등록일시범위(통합입찰공고)와 입찰공고번호를 입력하여 입찰공고번호, 입찰공고차수, 제한그룹번호, 참가가능지역명, 등록일시 등 참가가능지역정보조회",
        "operationId": "getPrvtBidPblancListInfoPrtcptPsblRgn",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrvtBidPblancListInfoServcPPSSrch": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "ofclNm": {
                              "type": "string",
                              "description": "담당자명",
                              "properties": {}
                            },
                            "ofclTelNo": {
                              "type": "string",
                              "description": "담당자전화번호",
                              "properties": {}
                            },
                            "bidMethdNm": {
                              "type": "string",
                              "description": "입찰방식명",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "sucsfbidMthdNm": {
                              "type": "string",
                              "description": "낙찰방법명",
                              "properties": {}
                            },
                            "rbidDivNm": {
                              "type": "string",
                              "description": "재입찰구분명",
                              "properties": {}
                            },
                            "bidQlfctNm": {
                              "type": "string",
[...]
