{
  "swagger": "2.0",
  "info": {
    "description": "나라장터를 포함 24개 전자조달시스템에서 체결한 전자계약정보와 비전자계약정보를 수집하여 전체 공공조달 규모를 파악할 수 있도록 공공조달통계 정보를 제공하는 서비스로\n검색조건을 기준년도, 기준년월 범위로 전체 조달실적, 계약방법별 현황, 지역제한 현황, 기관구분별 조달현황, 기업구분별 조달현황, 계약방법별 조달현황, 수요기관별 기업구분별 실적, 수요기관별 업무대상별 실적, 수요기관별 시스템유형별 실적, 조달기업별 계약방법별 실적, 조달기업별 업무대상별 실적, 품목 및 서비스별 실적을 각 유형별로 조회할 수 있음",
    "version": "1.0.0",
    "title": "조달청_공공조달통계정보서비스"
  },
  "host": "apis.data.go.kr/1230000/at/PubPrcrmntStatInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getTotlPubPrcrmntSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bssYear4Amt": {
                              "type": "string",
                              "description": "기준년도+4금액",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "bssYearAmt": {
                              "type": "string",
                              "description": "기준년도금액",
                              "properties": {}
                            },
                            "bssYear1Amt": {
                              "type": "string",
                              "description": "기준년도+1금액",
                              "properties": {}
                            },
                            "bssYear2Amt": {
                              "type": "string",
                              "description": "기준년도+2금액",
                              "properties": {}
                            },
                            "bssYear3Amt": {
                              "type": "string",
                              "description": "기준년도+3금액",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "전체 공공조달 현황",
        "description": "검색조건에 기준년도를 입력하여 기준년월, 공급집계금액 등 전체 공공조달 현황을 조회",
        "operationId": "getTotlPubPrcrmntSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYear",
          "description": "검색기준년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctIdntNoServcAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "gnrlCmptArsltNum": {
                              "type": "string",
                              "description": "일반경쟁실적건수",
                              "properties": {}
                            },
                            "gnrlCmptArsltAmt": {
                              "type": "string",
                              "description": "일반경쟁실적금액",
                              "properties": {}
                            },
                            "lmtCmptArsltNum": {
                              "type": "string",
                              "description": "제한경쟁실적건수",
                              "properties": {}
                            },
                            "lmtCmptArsltAmt": {
                              "type": "string",
                              "description": "제한경쟁실적금액",
                              "properties": {}
                            },
                            "dsgntCmptArsltNum": {
                              "type": "string",
                              "description": "지명경쟁실적건수",
                              "properties": {}
                            },
                            "dsgntCmptArsltAmt": {
                              "type": "string",
                              "description": "지명경쟁실적금액",
                              "properties": {}
                            },
                            "prvtcntrctArsltNum": {
                              "type": "string",
                              "description": "수의계약실적건수",
                              "properties": {}
                            },
                            "prvtcntrctArsltAmt": {
                              "type": "string",
                              "description": "수의계약실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "품목 및 서비스별 실적",
        "description": "검색조건에 기준년월범위, 물품분류번호, 품명을 입력하여 물품분류번호, 품명,실적합계건수, 실적합계금액, 일반경쟁실적건수, 일반경쟁실적금액, 제한경쟁실적건수, 제한경쟁실적금액, 지명경쟁실적건수, 지명경쟁실적금액, 수의계약실적건수, 수의계약실적금액, 미분류실적건수, 미분류실적금액 등 품목 및 서비스별 실적을 조회",
        "operationId": "getPrdctIdntNoServcAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNo",
          "description": "물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntEntrprsAccotBsnsObjAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "corpUntyNo": {
                              "type": "string",
                              "description": "업체통합번호",
                              "properties": {}
                            },
                            "corpNm": {
                              "type": "string",
                              "description": "업체명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "prdctArsltNum": {
                              "type": "string",
                              "description": "물품실적건수",
                              "properties": {}
                            },
                            "prdctArsltAmt": {
                              "type": "string",
                              "description": "물품실적금액",
                              "properties": {}
                            },
                            "cnstwkArsltNum": {
                              "type": "string",
                              "description": "공사실적건수",
                              "properties": {}
                            },
                            "cnstwkArsltAmt": {
                              "type": "string",
                              "description": "공사실적금액",
                              "properties": {}
                            },
                            "gnrlSrvceArsltNum": {
                              "type": "string",
                              "description": "일반용역실적건수",
                              "properties": {}
                            },
                            "gnrlSrvceArsltAmt": {
                              "type": "string",
                              "description": "일반용역실적금액",
                              "properties": {}
                            },
                            "techSrvceArsltNum": {
                              "type": "string",
                              "description": "기술용역실적건수",
                              "properties": {}
                            },
                            "techSrvceArsltAmt": {
                              "type": "string",
                              "description": "기술용역실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달기업별 업무대상별 실적",
        "description": "검색조건에 기준년월범위, 업체통합번호, 업체명, 연계시스템코드을 입력하여 업체통합번호, 업체명, 실적합계건수, 실적합계금액, 물품실적건수, 물품실적금액, 공사실적건수, 공사실적금액, 일반용역실적건수, 일반용역실적금액, 기술용역실적건수, 기술용역실적금액, 미분류실적건수, 미분류실적금액 등 조달기업별 업무대상별 실적을 조회",
        "operationId": "getPrcrmntEntrprsAccotBsnsObjAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "corpUntyNo",
          "description": "업체통합번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "corpNm",
          "description": "업체명",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntEntrprsAccotCntrctMthdAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "mnllbrRgstArsltAmt": {
                              "type": "string",
                              "description": "수기등록실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "corpUntyNo": {
                              "type": "string",
                              "description": "업체통합번호",
                              "properties": {}
                            },
                            "corpNm": {
                              "type": "string",
                              "description": "업체명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "gnrlCmptArsltNum": {
                              "type": "string",
                              "description": "일반경쟁실적건수",
                              "properties": {}
                            },
                            "gnrlCmptArsltAmt": {
                              "type": "string",
                              "description": "일반경쟁실적금액",
                              "properties": {}
                            },
                            "lmtCmptArsltNum": {
                              "type": "string",
                              "description": "제한경쟁실적건수",
                              "properties": {}
                            },
                            "lmtCmptArsltAmt": {
                              "type": "string",
                              "description": "제한경쟁실적금액",
                              "properties": {}
                            },
                            "dsgntCmptArsltNum": {
                              "type": "string",
                              "description": "지명경쟁실적건수",
                              "properties": {}
                            },
                            "dsgntCmptArsltAmt": {
                              "type": "string",
                              "description": "지명경쟁실적금액",
                              "properties": {}
                            },
                            "prvtcntrctArsltNum": {
                              "type": "string",
                              "description": "수의계약실적건수",
                              "properties": {}
                            },
                            "prvtcntrctArsltAmt": {
                              "type": "string",
                              "description": "수의계약실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            },
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "mnllbrRgstArsltNum": {
                              "type": "string",
                              "description": "수기등록실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달기업별 계약방법별 실적",
        "description": "검색조건에 기준년월범위, 업체통합번호, 업체명, 연계시스템코드을 입력하여 업체통합번호, 업체명, 실적합계건수, 실적합계금액, 일반경쟁실적건수, 일반경쟁실적금액, 제한경쟁실적건수, 제한경쟁실적금액, 지명경쟁실적건수, 지명경쟁실적금액, 수의계약실적건수, 수의계약실적금액, 미분류실적건수, 미분류실적금액, 수기등록실적건수, 수기등록실적금액 등 조달기업별 계약방법별 실적을 조회",
        "operationId": "getPrcrmntEntrprsAccotCntrctMthdAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "corpUntyNo",
          "description": "업체통합번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "corpNm",
          "description": "업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDminsttAccotSystmTyAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "mnllbrPrcrmntArsltAmt": {
                              "type": "string",
                              "description": "수기조달실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "centrPrcrmntArsltNum": {
                              "type": "string",
                              "description": "중앙조달실적건수",
                              "properties": {}
                            },
                            "centrPrcrmntArsltAmt": {
                              "type": "string",
                              "description": "중앙조달실적금액",
                              "properties": {}
                            },
                            "selfPrcrmntArsltNum": {
                              "type": "string",
                              "description": "자체조달실적건수",
                              "properties": {}
                            },
                            "selfPrcrmntArsltAmt": {
                              "type": "string",
                              "description": "자체조달실적금액",
                              "properties": {}
                            },
                            "systmPrcrmntArsltNum": {
                              "type": "string",
                              "description": "자체조달시스템실적건수",
                              "properties": {}
                            },
                            "systmPrcrmntArsltAmt": {
                              "type": "string",
                              "description": "자체조달시스템실적금액",
                              "properties": {}
                            },
                            "mnllbrPrcrmntArsltNum": {
                              "type": "string",
                              "description": "수기조달실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "수요기관별 시스템유형별 실적",
        "description": "검색조건에 기준년월범위, 수요기관코드, 수요기관명, 하위기관실적포함여부, 연계시스템코드을 입력하여 수요기관코드, 수요기관명, 실적합계건수, 실적합계금액, 중앙조달실적건수, 중앙조달실적금액, 자체조달실적건수, 자체조달실적금액, 자체조달시스템실적건수, 자체조달시스템실적금액, 수기조달실적건수, 수기조달실적금액 등 수요기관별 시스템유형별 실적을 조회",
        "operationId": "getDminsttAccotSystmTyAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lwrInsttArsltInclsnYn",
          "description": "하위기관실적포함여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDminsttAccotBsnsObjAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "prdctArsltNum": {
                              "type": "string",
                              "description": "물품실적건수",
                              "properties": {}
                            },
                            "prdctArsltAmt": {
                              "type": "string",
                              "description": "물품실적금액",
                              "properties": {}
                            },
                            "cnstwkArsltNum": {
                              "type": "string",
                              "description": "공사실적건수",
                              "properties": {}
                            },
                            "cnstwkArsltAmt": {
                              "type": "string",
                              "description": "공사실적금액",
                              "properties": {}
                            },
                            "gnrlSrvceArsltNum": {
                              "type": "string",
                              "description": "일반용역실적건수",
                              "properties": {}
                            },
                            "gnrlSrvceArsltAmt": {
                              "type": "string",
                              "description": "일반용역실적금액",
                              "properties": {}
                            },
                            "techSrvceArsltNum": {
                              "type": "string",
                              "description": "기술용역실적건수",
                              "properties": {}
                            },
                            "techSrvceArsltAmt": {
                              "type": "string",
                              "description": "기술용역실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "수요기관별 업무대상별 실적",
        "description": "검색조건에 기준년월범위, 수요기관코드, 수요기관명, 하위기관실적포함여부, 연계시스템코드을 입력하여 수요기관코드, 수요기관명, 실적합계건수, 실적합계금액, 물품실적건수, 물품실적금액, 공사실적건수, 공사실적금액, 일반용역실적건수, 일반용역실적금액, 기술용역실적건수, 기술용역실적금액, 미분류실적건수, 미분류실적금액 등 수요기관별 업무대상별 실적을 조회",
        "operationId": "getDminsttAccotBsnsObjAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lwrInsttArsltInclsnYn",
          "description": "하위기관실적포함여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDminsttAccotCntrctMthdAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "mnllbrRgstArsltAmt": {
                              "type": "string",
                              "description": "수기등록실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "gnrlCmptArsltNum": {
                              "type": "string",
                              "description": "일반경쟁실적건수",
                              "properties": {}
                            },
                            "gnrlCmptArsltAmt": {
                              "type": "string",
                              "description": "일반경쟁실적금액",
                              "properties": {}
                            },
                            "lmtCmptArsltNum": {
                              "type": "string",
                              "description": "제한경쟁실적건수",
                              "properties": {}
                            },
                            "lmtCmptArsltAmt": {
                              "type": "string",
                              "description": "제한경쟁실적금액",
                              "properties": {}
                            },
                            "dsgntCmptArsltNum": {
                              "type": "string",
                              "description": "지명경쟁실적건수",
                              "properties": {}
                            },
                            "dsgntCmptArsltAmt": {
                              "type": "string",
                              "description": "지명경쟁실적금액",
                              "properties": {}
                            },
                            "prvtcntrctArsltNum": {
                              "type": "string",
                              "description": "수의계약실적건수",
                              "properties": {}
                            },
                            "prvtcntrctArsltAmt": {
                              "type": "string",
                              "description": "수의계약실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            },
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "mnllbrRgstArsltNum": {
                              "type": "string",
                              "description": "수기등록실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "수요기관별 계약방법별 실적",
        "description": "검색조건에 기준년월범위, 수요기관코드, 수요기관명, 하위기관실적포함여부, 연계시스템코드을 입력하여 수요기관코드, 수요기관명, 실적합계건수, 실적합계금액, 일반경쟁실적건수, 일반경쟁실적금액, 제한경쟁실적건수, 제한경쟁실적금액, 지명경쟁실적건수, 지명경쟁실적금액, 수의계약실적건수, 수의계약실적금액, 미분류실적건수, 미분류실적금액, 수기등록실적건수, 수기등록실적금액 등 수요기관별 계약방법별 실적을 조회",
        "operationId": "getDminsttAccotCntrctMthdAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lwrInsttArsltInclsnYn",
          "description": "하위기관실적포함여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDminsttAccotEntrprsDivAccotArslt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "linkSystmNm": {
                              "type": "string",
                              "description": "연계시스템명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "lrgeEntrprsArsltNum": {
                              "type": "string",
                              "description": "대기업실적건수",
                              "properties": {}
                            },
                            "lrgeEntrprsArsltAmt": {
                              "type": "string",
                              "description": "대기업실적금액",
                              "properties": {}
                            },
                            "entrprsOfMidStdArsltNum": {
                              "type": "string",
                              "description": "중견기업실적건수",
                              "properties": {}
                            },
                            "entrprsOfMidStdArsltAmt": {
                              "type": "string",
                              "description": "중견기업실적금액",
                              "properties": {}
                            },
                            "smetprArsltNum": {
                              "type": "string",
                              "description": "중소기업실적건수",
                              "properties": {}
                            },
                            "smetprArsltAmt": {
                              "type": "string",
                              "description": "중소기업실적금액",
                              "properties": {}
                            },
                            "frgncntryEntrprsArsltNum": {
                              "type": "string",
                              "description": "외국기업실적건수",
                              "properties": {}
                            },
                            "frgncntryEntrprsArsltAmt": {
                              "type": "string",
                              "description": "외국기업실적금액",
                              "properties": {}
                            },
                            "nonPrftmkCorprtArsltNum": {
                              "type": "string",
                              "description": "기타실적건수",
                              "properties": {}
                            },
                            "nonPrftmkCorprtArsltAmt": {
                              "type": "string",
                              "description": "기타실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "수요기관별 기업구분별 실적",
        "description": "검색조건에 기준년월범위, 수요기관코드, 수요기관명, 하위기관실적포함여부, 연계시스템코드을 입력하여 수요기관코드, 수요기관명, 실적합계건수, 실적합계금액, 대기업실적건수, 대기업실적금액, 중견기업실적건수, 중견기업실적금액, 중소기업실적건수, 중소기업실적금액, 외국기업실적건수, 외국기업실적금액, 기타실적건수, 기타실적금액, 미분류실적건수, 미분류실적금액 등 수요기관별 기업구분별 실적 (을)를 조회",
        "operationId": "getDminsttAccotEntrprsDivAccotArslt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "lwrInsttArsltInclsnYn",
          "description": "하위기관실적포함여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "linkSystmCd",
          "description": "연계시스템코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrcrmntObjectBsnsObjAccotSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "bssYear": {
                              "type": "string",
                              "description": "기준년도",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "prdctArsltNum": {
                              "type": "string",
                              "description": "물품실적건수",
                              "properties": {}
                            },
                            "prdctArsltAmt": {
                              "type": "string",
                              "description": "물품실적금액",
                              "properties": {}
                            },
                            "cnstwkArsltNum": {
                              "type": "string",
                              "description": "공사실적건수",
                              "properties": {}
                            },
                            "cnstwkArsltAmt": {
                              "type": "string",
                              "description": "공사실적금액",
                              "properties": {}
                            },
                            "gnrlSrvceArsltNum": {
                              "type": "string",
                              "description": "일반용역실적건수",
                              "properties": {}
                            },
                            "gnrlSrvceArsltAmt": {
                              "type": "string",
                              "description": "일반용역실적금액",
                              "properties": {}
                            },
                            "techSrvceArsltNum": {
                              "type": "string",
                              "description": "기술용역실적건수",
                              "properties": {}
                            },
                            "techSrvceArsltAmt": {
                              "type": "string",
                              "description": "기술용역실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "조달목적물(업무대상)별 현황",
        "description": "검색조건에 기준년월범위를 입력하여 기준년도, 기준월, 통계구분명, 실적합계건수, 실적합계금액, 물품실적건수, 물품실적금액, 공사실적건수, 공사실적금액, 일반용역실적건수, 일반용역실적금액, 기술용역실적건수, 기술용역실적금액, 미분류실적건수, 미분류실적금액 등 조달목적물(업무대상)별 현황(을)를 조회",
        "operationId": "getPrcrmntObjectBsnsObjAccotSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getRgnDutyCmmnCntrctSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rgnDutyCmmnCntrctTotamtRt": {
                              "type": "string",
                              "description": "지역의무공동계약총액비율",
                              "properties": {}
                            },
                            "bssYear": {
                              "type": "string",
                              "description": "기준년도",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "cnstwkCntrctTotamt": {
                              "type": "string",
                              "description": "공사계약총액",
                              "properties": {}
                            },
                            "bidCntrctTotamt": {
                              "type": "string",
                              "description": "입찰계약총액",
                              "properties": {}
                            },
                            "unBidCntrctTotamt": {
                              "type": "string",
                              "description": "미입찰계약총액",
                              "properties": {}
                            },
                            "rgnDutyCmmnCntrctTotamt": {
                              "type": "string",
                              "description": "지역의무공동계약총액",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역의무공동계약 현황",
        "description": "검색조건에 기준년월범위를 입력하여 기준년도, 기준월, 통계구분명, 계약총액,입찰계약총액, 미입찰계약총액, 지역의무공동계약총액, 지역의무공동계약총액비율 등 지역의무공동계약 현황(을)를 조회",
        "operationId": "getRgnDutyCmmnCntrctSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getRgnLmtSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rgnLmtTotamtRt": {
                              "type": "string",
                              "description": "지역제한총액비율",
                              "properties": {}
                            },
                            "bssYear": {
                              "type": "string",
                              "description": "기준년도",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "cntrctTotamt": {
                              "type": "string",
                              "description": "계약총액",
                              "properties": {}
                            },
                            "bidCntrctTotamt": {
                              "type": "string",
                              "description": "입찰계약총액",
                              "properties": {}
                            },
                            "unBidCntrctTotamt": {
                              "type": "string",
                              "description": "미입찰계약총액",
                              "properties": {}
                            },
                            "rgnLmtTotamt": {
                              "type": "string",
                              "description": "지역제한총액",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "지역제한 현황",
        "description": "검색조건에 기준년월범위를 입력하여 기준년도, 기준월, 통계구분명, 계약총액,입찰계약총액, 미입찰계약총액, 지역제한총액, 지역제한총액비율 등 지역제한 현황을 조회",
        "operationId": "getRgnLmtSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctMthdAccotSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "bssYear": {
                              "type": "string",
                              "description": "기준년도",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "gnrlCmptArsltNum": {
                              "type": "string",
                              "description": "일반경쟁실적건수",
                              "properties": {}
                            },
                            "gnrlCmptArsltAmt": {
                              "type": "string",
                              "description": "일반경쟁실적금액",
                              "properties": {}
                            },
                            "lmtCmptArsltNum": {
                              "type": "string",
                              "description": "제한경쟁실적건수",
                              "properties": {}
                            },
                            "lmtCmptArsltAmt": {
                              "type": "string",
                              "description": "제한경쟁실적금액",
                              "properties": {}
                            },
                            "dsgntCmptArsltNum": {
                              "type": "string",
                              "description": "지명경쟁실적건수",
                              "properties": {}
                            },
                            "dsgntCmptArsltAmt": {
                              "type": "string",
                              "description": "지명경쟁실적금액",
                              "properties": {}
                            },
                            "prvtcntrctArsltNum": {
                              "type": "string",
                              "description": "수의계약실적건수",
                              "properties": {}
                            },
                            "prvtcntrctArsltAmt": {
                              "type": "string",
                              "description": "수의계약실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약방법별 현황",
        "description": "검색조건에 기준년월범위를 입력하여 기준년도, 기준월, 통계구분명, 실적합계건수, 실적합계금액, 일반경쟁실적건수, 일반경쟁실적금액, 제한경쟁실적건수, 제한경쟁실적금액, 지명경쟁실적건수, 지명경쟁실적금액, 수의계약실적건수, 수의계약실적금액, 미분류실적건수, 미분류실적금액 등 계약방법별 현황(을)를 조회",
        "operationId": "getCntrctMthdAccotSttus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmBgn",
          "description": "검색기준년월시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "srchBssYmEnd",
          "description": "검색기준년월종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getEntrprsDivAccotPrcrmntSttus": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "unClsfcArsltAmt": {
                              "type": "string",
                              "description": "미분류실적금액",
                              "properties": {}
                            },
                            "bssYear": {
                              "type": "string",
                              "description": "기준년도",
                              "properties": {}
                            },
                            "bssMnth": {
                              "type": "string",
                              "description": "기준월",
                              "properties": {}
                            },
                            "statDivNm": {
                              "type": "string",
                              "description": "통계구분명",
                              "properties": {}
                            },
                            "arsltSumNum": {
                              "type": "string",
                              "description": "실적합계건수",
                              "properties": {}
                            },
                            "arsltSumAmt": {
                              "type": "string",
                              "description": "실적합계금액",
                              "properties": {}
                            },
                            "lrgeEntrprsArsltNum": {
                              "type": "string",
                              "description": "대기업실적건수",
                              "properties": {}
                            },
                            "lrgeEntrprsArsltAmt": {
                              "type": "string",
                              "description": "대기업실적금액",
                              "properties": {}
                            },
                            "entrprsOfMidStdArsltNum": {
                              "type": "string",
                              "description": "중견기업실적건수",
                              "properties": {}
                            },
                            "entrprsOfMidStdArsltAmt": {
                              "type": "string",
                              "description": "중견기업실적금액",
                              "properties": {}
                            },
                            "smetprArsltNum": {
                              "type": "string",
                              "description": "중소기업실적건수",
                              "properties": {}
                            },
                            "smetprArsltAmt": {
                              "type": "string",
                              "description": "중소기업실적금액",
                              "properties": {}
                            },
                            "frgncntryEntrprsArsltNum": {
                              "type": "string",
                              "description": "외국기업실적건수",
                              "properties": {}
                            },
                            "frgncntryEntrprsArsltAmt": {
                              "type": "string",
                              "description": "외국기업실적금액",
                              "properties": {}
                            },
                            "etcArsltNum": {
                              "type": "string",
                              "description": "기타실적건수",
                              "properties": {}
                            },
                            "etcArsltAmt": {
                              "type": "string",
                              "description": "기타실적금액",
                              "properties": {}
                            },
                            "unClsfcArsltNum": {
                              "type": "string",
                              "description": "미분류실적건수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
[...]
