{
  "swagger": "2.0",
  "info": {
    "description": "나라장터 개찰결과를 물품, 공사, 용역, 외자의 업무별로 제공하는 서비스로 각 업무별로 최종낙찰자, 개찰순위, 복수예비가격 및 예비가격 정보를 제공하며 개찰완료목록, 재입찰목록, 유찰목록 또한 제공하는 나라장터 낙찰정보서비스\n\n복수예비가격이란?기초금액을 근거로 하여 15개의 예비가격을 작성한 것으로 이중 4개를 추첨하여 예정가격을 결정하는 것입니다. 개찰이 완료되면 예비가격상세목록조회 오퍼레이션으로 복수예비가격을 확인하실 수 있습니다.\n낙찰률이란? 예정가격에 대한 낙찰금액의 비율을 의미합니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 낙찰정보서비스"
  },
  "host": "apis.data.go.kr/1230000/as/ScsbidInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getScsbidListSttusThng": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnlSucsfCorpOfcl": {
                              "type": "string",
                              "description": "최종낙찰업체담당자",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "ntceDivCd": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrBizno": {
                              "type": "string",
                              "description": "최종낙찰업체사업자등록번호",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            },
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "fnlSucsfDate": {
                              "type": "string",
                              "description": "최종낙찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "낙찰된 목록 현황 물품조회",
        "description": "검색조건을 등록일시, 공고일시, 개찰일시, 입찰공고번호로 물품에 대한 나라장터 최종낙찰자 목록(입찰공고번호, 입찰공고명, 참가업체수, 최종낙찰업체명, 사업자번호, 최종낙찰률, 실개찰일시, 수요기관, 최종낙찰일, 최종낙찰업체담당자)을 조회",
        "operationId": "getScsbidListSttusThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOpengResultListInfoFrgcptPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengRsltNtcCntnts": {
                              "type": "string",
                              "description": "개찰결과공지내용",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "rsrvtnPrceFileExistnceYn": {
                              "type": "string",
                              "description": "예비가격파일존재여부",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 개찰결과 외자 목록 조회",
        "description": "유찰, 개찰완료, 재입찰건에 대한 개찰결과를 제공하며 검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 하여 외자에 대한 나라장터 개찰결과 목록(입찰공고번호, 입찰공고명, 개찰일시, 참가업체수, 개찰업체정보, 진행구분코드명, 입력일시, 예비가격파일존재여부, 공고기관명, 수요기관명)을 조회",
        "operationId": "getOpengResultListInfoFrgcptPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOpengResultListInfoServcPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengRsltNtcCntnts": {
                              "type": "string",
                              "description": "개찰결과공지내용",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "rsrvtnPrceFileExistnceYn": {
                              "type": "string",
                              "description": "예비가격파일존재여부",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 개찰결과 용역 목록 조회",
        "description": "유찰, 개찰완료, 재입찰건에 대한 개찰결과를 제공하며 검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로하여 용역에 대한 나라장터 개찰결과 목록(입찰공고번호, 입찰공고명, 개찰일시, 참가업체수, 개찰업체정보, 진행구분코드명, 입력일시, 예비가격파일존재여부, 공고기관명, 수요기관명)을 조회",
        "operationId": "getOpengResultListInfoServcPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOpengResultListInfoCnstwkPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengRsltNtcCntnts": {
                              "type": "string",
                              "description": "개찰결과공지내용",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "rsrvtnPrceFileExistnceYn": {
                              "type": "string",
                              "description": "예비가격파일존재여부",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 개찰결과 공사 목록 조회",
        "description": "유찰, 개찰완료, 재입찰건에 대한 개찰결과를 제공하며 검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 하여 공사에 대한 나라장터 개찰결과 목록(입찰공고번호, 입찰공고명, 개찰일시, 참가업체수, 개찰업체정보, 진행구분코드명, 입력일시, 예비가격파일존재여부, 공고기관명, 수요기관명)을 조회",
        "operationId": "getOpengResultListInfoCnstwkPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOpengResultListInfoThngPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "opengRsltNtcCntnts": {
                              "type": "string",
                              "description": "개찰결과공지내용",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "opengCorpInfo": {
                              "type": "string",
                              "description": "개찰업체정보",
                              "properties": {}
                            },
                            "progrsDivCdNm": {
                              "type": "string",
                              "description": "진행구분코드명",
                              "properties": {}
                            },
                            "inptDt": {
                              "type": "string",
                              "description": "입력일시",
                              "properties": {}
                            },
                            "rsrvtnPrceFileExistnceYn": {
                              "type": "string",
                              "description": "예비가격파일존재여부",
                              "properties": {}
                            },
                            "ntceInsttCd": {
                              "type": "string",
                              "description": "공고기관코드",
                              "properties": {}
                            },
                            "ntceInsttNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 개찰결과 물품 목록 조회",
        "description": "유찰, 개찰완료, 재입찰건에 대한 개찰결과를 제공하며 검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 하여 물품에 대한 나라장터 개찰결과 목록(입찰공고번호, 입찰공고명, 개찰일시, 참가업체수, 개찰업체정보, 진행구분코드명, 입력일시, 예비가격파일존재여부, 공고기관명, 수요기관명)을 조회",
        "operationId": "getOpengResultListInfoThngPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getScsbidListSttusFrgcptPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnlSucsfCorpOfcl": {
                              "type": "string",
                              "description": "최종낙찰업체담당자",
                              "properties": {}
                            },
                            "linkInsttNm": {
                              "type": "string",
                              "description": "연계기관명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "ntceDivCd": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrBizno": {
                              "type": "string",
                              "description": "최종낙찰업체사업자등록번호",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            },
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "fnlSucsfDate": {
                              "type": "string",
                              "description": "최종낙찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 낙찰된 목록 현황 외자조회",
        "description": "검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 외자에 대한 나라장터 최종낙찰자 목록(입찰공고번호, 입찰공고명, 참가업체수, 최종낙찰업체명, 사업자번호, 최종낙찰률, 실개찰일시, 수요기관)을 조회",
        "operationId": "getScsbidListSttusFrgcptPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getScsbidListSttusServcPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnlSucsfCorpOfcl": {
                              "type": "string",
                              "description": "최종낙찰업체담당자",
                              "properties": {}
                            },
                            "linkInsttNm": {
                              "type": "string",
                              "description": "연계기관명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "ntceDivCd": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrBizno": {
                              "type": "string",
                              "description": "최종낙찰업체사업자등록번호",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            },
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "fnlSucsfDate": {
                              "type": "string",
                              "description": "최종낙찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 낙찰된 목록 현황 용역조회",
        "description": "검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 용역에 대한 나라장터 최종낙찰자 목록(입찰공고번호, 입찰공고명, 참가업체수, 최종낙찰업체명, 사업자번호, 최종낙찰률, 실개찰일시, 수요기관)을 조회",
        "operationId": "getScsbidListSttusServcPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getScsbidListSttusCnstwkPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnlSucsfCorpOfcl": {
                              "type": "string",
                              "description": "최종낙찰업체담당자",
                              "properties": {}
                            },
                            "linkInsttNm": {
                              "type": "string",
                              "description": "연계기관명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "ntceDivCd": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrBizno": {
                              "type": "string",
                              "description": "최종낙찰업체사업자등록번호",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            },
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "fnlSucsfDate": {
                              "type": "string",
                              "description": "최종낙찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 낙찰된 목록 현황 공사조회",
        "description": "검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 공사에대한 나라장터 최종낙찰자 목록(입찰공고번호, 입찰공고명, 참가업체수, 최종낙찰업체명, 사업자번호, 최종낙찰률, 실개찰일시, 수요기관)을 조회",
        "operationId": "getScsbidListSttusCnstwkPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getScsbidListSttusThngPPSSrch": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnlSucsfCorpOfcl": {
                              "type": "string",
                              "description": "최종낙찰업체담당자",
                              "properties": {}
                            },
                            "linkInsttNm": {
                              "type": "string",
                              "description": "연계기관명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "ntceDivCd": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "prtcptCnum": {
                              "type": "string",
                              "description": "참가업체수",
                              "properties": {}
                            },
                            "bidwinnrNm": {
                              "type": "string",
                              "description": "최종낙찰업체명",
                              "properties": {}
                            },
                            "bidwinnrBizno": {
                              "type": "string",
                              "description": "최종낙찰업체사업자등록번호",
                              "properties": {}
                            },
                            "bidwinnrCeoNm": {
                              "type": "string",
                              "description": "최종낙찰업체대표자명",
                              "properties": {}
                            },
                            "bidwinnrAdrs": {
                              "type": "string",
                              "description": "최종낙찰업체주소",
                              "properties": {}
                            },
                            "bidwinnrTelNo": {
                              "type": "string",
                              "description": "최종낙찰업체전화번호",
                              "properties": {}
                            },
                            "sucsfbidAmt": {
                              "type": "string",
                              "description": "최종낙찰금액",
                              "properties": {}
                            },
                            "sucsfbidRate": {
                              "type": "string",
                              "description": "최종낙찰률",
                              "properties": {}
                            },
                            "rlOpengDt": {
                              "type": "string",
                              "description": "실개찰일시",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "fnlSucsfDate": {
                              "type": "string",
                              "description": "최종낙찰일자",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "나라장터 검색조건에 의한 낙찰된 목록 현황 물품조회",
        "description": "검색조건을 공고일시, 개찰일시, 입찰공고번호, 입찰공고명, 공고기관코드, 공고기관명, 수요기관코드, 수요기관명, 참조번호, 참가제한지역코드, 참가제한지역명, 업종코드, 업종명, 추정가격시작, 추정가격종료, 세부품명번호, 다수공급경쟁자여부, 조달요청번호, 국제구분코드로 물품에 대한 나라장터 최종낙찰자 목록(입찰공고번호, 입찰공고명, 참가업체수, 최종낙찰업체명, 사업자번호, 최종낙찰률, 실개찰일시, 수요기관)을 조회",
        "operationId": "getScsbidListSttusThngPPSSrch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceNm",
          "description": "입찰공고명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttCd",
          "description": "공고기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "ntceInsttNm",
          "description": "공고기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "refNo",
          "description": "참조번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnCd",
          "description": "참가제한지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prtcptLmtRgnNm",
          "description": "참가제한지역명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyCd",
          "description": "업종코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "indstrytyNm",
          "description": "업종명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceBgn",
          "description": "추정가격시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "presmptPrceEnd",
          "description": "추정가격종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "masYn",
          "description": "다수공급경쟁자여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "intrntnlDivCd",
          "description": "국제구분코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOpengResultListInfoRebid": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "rbidRsn": {
                              "type": "string",
                              "description": "재입찰사유",
                              "properties": {}
                            },
                            "cmmnSpldmdAgrmntClseDt": {
                              "type": "string",
                              "description": "공동수급혐정마감일시",
                              "properties": {}
                            },
                            "opengRsltDivNm": {
                              "type": "string",
                              "description": "개찰결과구분명",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "bidClsfcNo": {
                              "type": "string",
                              "description": "입찰분류번호",
                              "properties": {}
                            },
                            "rbidNo": {
                              "type": "string",
                              "description": "재입찰번호",
                              "properties": {}
                            },
                            "bidClseDt": {
                              "type": "string",
                              "description": "입찰마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
[...]
