{
  "swagger": "2.0",
  "info": {
    "description": "조달청 목록정보시스템(http://www.g2b.go.kr:8100/index.jsp)에서 제공하는 물품분류정보를 제공하는 서비스\n조달청 물품분류번호는 대분류(Segment) - 중분류(Family) - 소분류(Class) - 세분류(Commodity) 4단계의 계층구조로 구성되며, 각 단계별 2자리의 코드를 가지고 있는 총 8자리의 번호로 되어 있음\n(물품분류번호란 물품을 기능, 용도, 성질에 따라 대, 중, 소, 세분류로 나누어 번호를 매긴 것이며, 그 분류의 이름을 품명이라고 합니다.)\n세부물품분류번호의 경우 물품분류번호 8자리 뒤에 2자리의 숫자코드가 추가되어 총 10자리의 번호로 되어 있음\n(세부물품분류번호란 물품분류번호를 용도, 재질, 형태 등에 따라 세분화하여 번호를 매긴 것이며, 그 세부분류의 이름을 세부품명이라고 합니다.)\n물품식별번호란 물품을 생산자와 모델에 따라 고유번호를 매긴 것이며, 그 물품의 이름을 품목명이라고 합니다.",
    "version": "1.0.0",
    "title": "조달청_물품목록정보서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/ThngListInfoService02",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getThngGuidanceMapInfo02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prdctClsfcNoDltYn": {
                              "type": "string",
                              "description": "물품분류번호삭제여부",
                              "properties": {}
                            },
                            "prdctClsfcDivCd": {
                              "type": "string",
                              "description": "물품분류구분코드",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcRltnDscrpt": {
                              "type": "string",
                              "description": "물품분류관련설명",
                              "properties": {}
                            },
                            "prdctClsfcNoAplYn": {
                              "type": "string",
                              "description": "물품분류번호적용여부",
                              "properties": {}
                            },
                            "prdctClsfcNoUseYn": {
                              "type": "string",
                              "description": "물품분류번호사용여부",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 물품안내지도 조회",
        "description": "상위 물품분류번호로 검색을 하면 목록정보시스템(일반검색)에서 상위 물품분류번호에 속하는 하위 물품분류번호, 품명, 물품분류관련 설명 등이 조회된다. ▶최상위물품분류ID(upPrdctClsfcNo)가 root이며 이 조건으로 조회시 2단위 물품분류번호가 조회됩니다. 2단위의 물품분류ID가 4단위 물품분류번호의 상위 물품분류번호가 됩니다. ex) [1010 : 산동물]의 상위물품번호는 [10: 산동식물및동식물성생산품] ▶검색조건이 없을 경우 최상위 상위물품분류ID=root 데이터가 조회",
        "operationId": "getThngGuidanceMapInfo02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "upPrdctClsfcNo",
          "description": "상위 물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getThngPrdnmLocplcAccotListInfoInfoPrdlstSearch02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prdlstDiv": {
                              "type": "string",
                              "description": "품목구분",
                              "properties": {}
                            },
                            "cmpntYn": {
                              "type": "string",
                              "description": "부품여부",
                              "properties": {}
                            },
                            "sno": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "prdctImgLrge": {
                              "type": "string",
                              "description": "물품이미지(대)",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "krnPrdctNm": {
                              "type": "string",
                              "description": "한글품목명",
                              "properties": {}
                            },
                            "dltYn": {
                              "type": "string",
                              "description": "삭제유무",
                              "properties": {}
                            },
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "prcrmntCorpRgstNo": {
                              "type": "string",
                              "description": "조달업체등록번호",
                              "properties": {}
                            },
                            "mnfctCorpNm": {
                              "type": "string",
                              "description": "제조업체명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "prodctCertList": {
                              "type": "string",
                              "description": "제품인증목록",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 품목 목록 조회",
        "description": "목록정보(일반검색) 품목 목록 조회의 검색조건(세부품명번호,물품식별번호,품명 등)을 입력하면 물품이미지(대),물품분류번호,물품식별번호,세부품명번호,품명,영문품명,한글품목명,삭제유무,사용여부,조달업체등록번호,제조업체명 등 조회된다 ▶ 입력변수가 하나라도 있어야 데이터 조회 됨",
        "operationId": "getThngPrdnmLocplcAccotListInfoInfoPrdlstSearch02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "krnPrdctNm",
          "description": "한글품목명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgPrdBgnDt",
          "description": "변경기간시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgPrdEndDt",
          "description": "변경기간종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getThngPrdnmLocplcAccotListInfoInfoPrdnmSearch02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dtilPrdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "세부영문품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNum": {
                              "type": "string",
                              "description": "세부품명번호건수",
                              "properties": {}
                            },
                            "sno": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 품명 목록 조회",
        "description": "목록정보(일반검색) 품명 목록 조회의 검색조건(물품분류번호, 세부품명번호,영문품명, 품명)을 입력하면 물품분류번호,품명,영문품명,세부품명번호 등 조회된다",
        "operationId": "getThngPrdnmLocplcAccotListInfoInfoPrdnmSearch02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNo",
          "description": "물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getThngPrdnmLocplcAccotListInfoInfoLocplcSearch02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "mnfctCorpNm": {
                              "type": "string",
                              "description": "제조업체명",
                              "properties": {}
                            },
                            "rgnCd": {
                              "type": "string",
                              "description": "지역코드",
                              "properties": {}
                            },
                            "sno": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "krnPrdctNm": {
                              "type": "string",
                              "description": "한글품목명",
                              "properties": {}
                            },
                            "dltYn": {
                              "type": "string",
                              "description": "삭제여부",
                              "properties": {}
                            },
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "rgnNm": {
                              "type": "string",
                              "description": "지역명",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 소재지 목록 조회",
        "description": "목록정보(일반검색) 소재지 목록조회의 검색조건(세부품명번호, 물품식별번호,제조업체명, 제조업체의 지역코드 등)을 입력하면 물품분류번호,품명,영문품명,세부품명번호,지역코드 등 조회된다",
        "operationId": "getThngPrdnmLocplcAccotListInfoInfoLocplcSearch02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNo",
          "description": "세부품명번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "mnfctCorpNm",
          "description": "제조업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "krnPrdctNm",
          "description": "한글품목명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgnCd",
          "description": "지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getThngListClChangeHistInfo02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prdctClsfcDivCd": {
                              "type": "string",
                              "description": "물품분류구분코드",
                              "properties": {}
                            },
                            "chgDivCd": {
                              "type": "string",
                              "description": "변경구분코드",
                              "properties": {}
                            },
                            "sno": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "prdctClsfcDiv": {
                              "type": "string",
                              "description": "물품분류구분",
                              "properties": {}
                            },
                            "bfchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경전물품분류번호",
                              "properties": {}
                            },
                            "bfchgPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "번경전품명",
                              "properties": {}
                            },
                            "afchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경후물품분류번호",
                              "properties": {}
                            },
                            "afchgPrdctClsfcNm": {
                              "type": "string",
                              "description": "변경후품명",
                              "properties": {}
                            },
                            "chgDivNm": {
                              "type": "string",
                              "description": "변경구분명",
                              "properties": {}
                            },
                            "prdctChgreqNo": {
                              "type": "string",
                              "description": "물품변경요청번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 분류변경이력 조회",
        "description": "목록정보(일반검색) 분류변경이력 조회의 검색조건(현재 물품분류번호)을 입력하면 변경전후물품분류번호,변경전후품명 등 물품분류변경 이력이 조회된다",
        "operationId": "getThngListClChangeHistInfo02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNo",
          "description": "물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getLsfgdNdPrdlstChghstlnfoSttus02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "afchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경후 물품분류번호 또는 변경후 세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "sno": {
                              "type": "string",
                              "description": "순번",
                              "properties": {}
                            },
                            "bfchgPrdctAttrbtVal": {
                              "type": "string",
                              "description": "변경전물품속성값",
                              "properties": {}
                            },
                            "afchgPrdctAttrbtVal": {
                              "type": "string",
                              "description": "변경후물품속성값",
                              "properties": {}
                            },
                            "prdctInfoChgDate": {
                              "type": "string",
                              "description": "물품정보변경일자",
                              "properties": {}
                            },
                            "bfchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경전 물품분류번호 또는 변경전 세부품명번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "목록정보(일반검색) 품목변경이력 조회",
        "description": "목록정보(일반검색) 품목변경이력 조회의 검색조건(물품식별번호)을 입력하면 변경전후물품분류번호,변경전후품명,변경전물품속성값 등 품목변경이력이 조회된다",
        "operationId": "getLsfgdNdPrdlstChghstlnfoSttus02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryBgnDt",
          "description": "조회시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDt",
          "description": "조회종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoUnit2Info02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "chgDate": {
                              "type": "string",
                              "description": "변경일자",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호(2단위)\t",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "품명해설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류2단위 내역조회",
        "description": "물품분류2단위 내역조회의 검색조건(물품분류번호시작번호, 물품분류번호종료번호,품명,영문품명)을 입력하면 물품분류번호(2단위),품명(2단위),영문품명(2단위),품명해설 등이 조회된다 ▶ 조달청 물품분류번호는 대분류(Segment) - 중분류(Family) - 소분류(Class) - 세분류(Commodity) 4단계의 계층구조로 구성되며, 각 단계별 2자리의 코드를 가지고 있는 총 8자리의 번호로 되어 있으며 물품분류2단위는 대분류에 해당됨 ▶ 조건 입력을 하지 않을 경우 물품분류2단위 전체 조회.",
        "operationId": "getPrdctClsfcNoUnit2Info02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoBgnNo",
          "description": "물품분류번호시작번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEndNo",
          "description": "물품분류번호종료번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoUnit4Info02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "chgDate": {
                              "type": "string",
                              "description": "변경일자",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호(4단위)",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "품명해설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류4단위 내역조회",
        "description": "물품분류4단위 내역조회의 검색조건(물품분류번호시작번호, 물품분류번호종료번호, 품명,영문품명 )을 입력하면 물품분류번호(4단위),품명(4단위),영문품명(4단위),품명해설 등이 조회된다 ▶ 조달청 물품분류번호는 대분류(Segment) - 중분류(Family) - 소분류(Class) - 세분류(Commodity) 4단계의 계층구조로 구성되며, 각 단계별 2자리의 코드를 가지고 있는 총 8자리의 번호로 되어 있으며 물품분류4단위는 중분류에 해당됨 ▶ 조건 입력을 하지 않을 경우 물품분류4단위 전체 조회.",
        "operationId": "getPrdctClsfcNoUnit4Info02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoBgnNo",
          "description": "물품분류번호시작번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEndNo",
          "description": "물품분류번호종료번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoUnit6Info02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "chgDate": {
                              "type": "string",
                              "description": "변경일자",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호(6단위)",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "품명해설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류6단위 내역조회",
        "description": "물품분류6단위 내역조회의 검색조건(물품분류번호시작번호,물품분류번호종료번호,품명,영문품명)을 입력하면 물품분류번호(6단위),품명(6단위),영문품명(6단위),품명해설 등이 조회된다 ▶ 조달청 물품분류번호는 대분류(Segment) - 중분류(Family) - 소분류(Class) - 세분류(Commodity) 4단계의 계층구조로 구성되며, 각 단계별 2자리의 코드를 가지고 있는 총 8자리의 번호로 되어 있으며 물품분류6단위는 소분류에 해당됨 ▶ 조건 입력을 하지 않을 경우 물품분류6단위 전체 조회",
        "operationId": "getPrdctClsfcNoUnit6Info02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoBgnNo",
          "description": "물품분류번호시작번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEndNo",
          "description": "물품분류번호종료번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoUnit8Info02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "chgDate": {
                              "type": "string",
                              "description": "변경일자",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "품명해설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류8단위 내역조회",
        "description": "물품분류8단위 내역조회의 검색조건(물품분류번호시작번호, 물품분류번호종료번호, 품명,영문품명)을 입력하면 물품분류번호,품명영문품명,품명해설 등이 조회된다 ▶ 조달청 물품분류번호는 대분류(Segment) - 중분류(Family) - 소분류(Class) - 세분류(Commodity) 4단계의 계층구조로 구성되며, 각 단계별 2자리의 코드를 가지고 있는 총 8자리의 번호로 되어 있으며 물품분류8단위는 세분류에 해당됨 ▶ 조건 입력을 하지 않을 경우 물품분류번호 전체 조회",
        "operationId": "getPrdctClsfcNoUnit8Info02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoBgnNo",
          "description": "물품분류번호시작번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEndNo",
          "description": "물품분류번호종료번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoEngNm",
          "description": "영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoUnit10Info02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "useYn": {
                              "type": "string",
                              "description": "사용여부",
                              "properties": {}
                            },
                            "chgDate": {
                              "type": "string",
                              "description": "변경일자",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "세부영문품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "세부품명해설",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류10단위 내역조회",
        "description": "물품분류10단위 내역조회의 검색조건(물품분류번호시작번호, 물품분류번호종료번호, 품명, 영문품명)을 입력하면 세부품명번호,세부품명,세부영문품명,세부품명해설,사용여부 등이 조회된다 ▶ 물품분류번호10단위는 세부품명번호로 세분류(Commodity)의 품명보다 세분화가 필요한 품명을 세부품명으로 분류하며, 이에 대응하는 세부품명번호는 물품분류번호 다음에 2자리를 추가하여 10자리 숫자로 이루어짐 ▶ 조건 입력을 하지 않을 경우 물품분류10단위(세부품명분류) 전체 조회",
        "operationId": "getPrdctClsfcNoUnit10Info02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNoBgnNo",
          "description": "세부품명번호시작번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNoEndNo",
          "description": "세부품명번호종료번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNoNm",
          "description": "세부품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dtilPrdctClsfcNoEngNm",
          "description": "세부영문품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctClsfcNoChgHstry02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "bfchgPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "변경전물품분류번호명",
                              "properties": {}
                            },
                            "chgRsnCntnts": {
                              "type": "string",
                              "description": "변경사유내용",
                              "properties": {}
                            },
                            "chgTyCd": {
                              "type": "string",
                              "description": "변경유형코드",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "prdctClsfcNoEngNm": {
                              "type": "string",
                              "description": "영문품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNmDscrpt": {
                              "type": "string",
                              "description": "품명해설",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "afchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경후물품분류번호",
                              "properties": {}
                            },
                            "afchgPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "변경후물품분류번호명",
                              "properties": {}
                            },
                            "bfchgPrdctClsfcNo": {
                              "type": "string",
                              "description": "변경전물품분류번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "물품분류변경 이력조회",
        "description": "물품목록분류(물품분류2단위, 4단위, 6단위, 8단위) 변경이력조회의 검색조건(변경기간시작일자,변경기간종료일자,물품분류번호)을 입력하면 물품분류번호,품명, 변경전후물품분류번호,변경전후물품분류번호명, 변경사유내용 등이 조회된다",
        "operationId": "getPrdctClsfcNoChgHstry02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "chgPrdBgnDt",
          "description": "변경기간시작일자",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "chgPrdEndDt",
          "description": "변경기간종료일자",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNo",
          "description": "물품분류번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getPrdctIndvAtrbInfoList02": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "prdctIdntNoNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "attrNm": {
                              "type": "string",
                              "description": "속성명",
                              "properties": {}
                            },
                            "attrVal": {
                              "type": "string",
                              "description": "속성값",
                              "properties": {}
                            },
                            "attrUnit": {
                              "type": "string",
                              "description": "측정단위",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    }
                  }
                },
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "품목개별속성정보 조회",
        "description": "품목(물품식별)정보에 해당되는 개별 속성 및 속성값 , 측정단위 정보 제공",
        "operationId": "getPrdctIndvAtrbInfoList02",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getThngGuidanceMapInfo02_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "prdctClsfcNoDltYn": {
                      "type": "string",
                      "description": "물품분류번호삭제여부"
                    },
                    "prdctClsfcDivCd": {
                      "type": "string",
                      "description": "물품분류구분코드"
                    },
                    "prdctClsfcNo": {
                      "type": "string",
                      "description": "물품분류번호"
                    },
                    "prdctClsfcNoNm": {
                      "type": "string",
                      "description": "품명"
                    },
                    "prdctClsfcRltnDscrpt": {
                      "type": "string",
                      "description": "물품분류관련설명"
                    },
                    "prdctClsfcNoAplYn": {
                      "type": "string",
                      "description": "물품분류번호적용여부"
                    },
                    "prdctClsfcNoUseYn": {
                      "type": "string",
                      "description": "물품분류번호사용여부"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getThngPrdnmLocplcAccotListInfoInfoPrdlstSearch02_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "prdlstDiv": {
                      "type": "string",
                      "description": "품목구분"
                    },
                    "cmpntYn": {
                      "type": "string",
                      "description": "부품여부"
                    },
                    "sno": {
                      "type": "string",
                      "description": "순번"
                    },
                    "prdctImgLrge": {
                      "type": "string",
                      "description": "물품이미지(대)"
                    },
                    "prdctClsfcNo": {
                      "type": "string",
                      "description": "물품분류번호"
                    },
                    "prdctIdntNo": {
                      "type": "string",
                      "description": "물품식별번호"
                    },
                    "dtilPrdctClsfcNo": {
                      "type": "string",
                      "description": "세부품명번호"
                    },
                    "prdctClsfcNoNm": {
                      "type": "string",
                      "description": "품명"
                    },
                    "prdctClsfcNoEngNm": {
                      "type": "string",
                      "description": "영문품명"
                    },
                    "krnPrdctNm": {
                      "type": "string",
                      "description": "한글품목명"
                    },
                    "dltYn": {
                      "type": "string",
                      "description": "삭제유무"
                    },
                    "useYn": {
                      "type": "string",
                      "description": "사용여부"
                    },
                    "prcrmntCorpRgstNo": {
                      "type": "string",
                      "description": "조달업체등록번호"
                    },
                    "mnfctCorpNm": {
                      "type": "string",
                      "description": "제조업체명"
                    },
                    "rgstDt": {
                      "type": "string",
                      "description": "등록일시"
                    },
                    "prodctCertList": {
                      "type": "string",
                      "description": "제품인증목록"
                    },
                    "chgDt": {
                      "type": "string",
                      "description": "변경일시"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    },
    "getThngPrdnmLocplcAccotListInfoInfoPrdnmSearch02_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "dtilPrdctClsfcNoEngNm": {
                      "type": "string",
                      "description": "세부영문품명"
                    },
                    "dtilPrdctClsfcNoNum": {
                      "type": "string",
                      "description": "세부품명번호건수"
                    },
                    "sno": {
                      "type": "string",
                      "description": "순번"
                    },
                    "prdctClsfcNo": {
                      "type": "string",
                      "description": "물품분류번호"
                    },
                    "prdctClsfcNoNm": {
                      "type": "string",
                      "description": "품명"
                    },
                    "prdctClsfcNoEngNm": {
                      "type": "string",
                      "description": "영문품명"
                    },
                    "dtilPrdctClsfcNo": {
                      "type": "string",
                      "description": "세부품명번호"
                    },
                    "dtilPrdctClsfcNoNm": {
                      "type": "string",
                      "description": "세부품명"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    },
    "getThngPrdnmLocplcAccotListInfoInfoLocplcSearch02_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "mnfctCorpNm": {
                      "type": "string",
                      "description": "제조업체명"
                    },
                    "rgnCd": {
                      "type": "string",
                      "description": "지역코드"
                    },
                    "sno": {
                      "type": "string",
                      "description": "순번"
                    },
                    "prdctClsfcNo": {
                      "type": "string",
                      "description": "물품분류번호"
                    },
                    "prdctIdntNo": {
                      "type": "string",
                      "description": "물품식별번호"
                    },
                    "dtilPrdctClsfcNo": {
                      "type": "string",
                      "description": "세부품명번호"
                    },
                    "prdctClsfcNoNm": {
                      "type": "string",
                      "description": "품명"
                    },
                    "prdctClsfcNoEngNm": {
                      "type": "string",
                      "description": "영문품명"
                    },
                    "krnPrdctNm": {
                      "type": "string",
                      "description": "한글품목명"
                    },
                    "dltYn": {
                      "type": "string",
                      "description": "삭제여부"
                    },
                    "useYn": {
                      "type": "string",
                      "description": "사용여부"
                    },
                    "rgnNm": {
                      "type": "string",
                      "description": "지역명"
                    },
                    "rgstDt": {
                      "type": "string",
                      "description": "등록일시"
                    },
                    "chgDt": {
                      "type": "string",
                      "description": "변경일시"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    },
    "getThngListClChangeHistInfo02_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "prdctClsfcDivCd": {
                      "type": "string",
                      "description": "물품분류구분코드"
                    },
                    "chgDivCd": {
                      "type": "string",
                      "description": "변경구분코드"
                    },
                    "sno": {
                      "type": "string",
                      "description": "순번"
                    },
                    "prdctClsfcDiv": {
                      "type": "string",
                      "description": "물품분류구분"
                    },
                    "bfchgPrdctClsfcNo": {
                      "type": "string",
                      "description": "변경전물품분류번호"
                    },
                    "bfchgPrdctClsfcNoNm": {
                      "type": "string",
                      "description": "번경전품명"
                    },
                    "afchgPrdctClsfcNo": {
                      "type": "string",
                      "description": "변경후물품분류번호"
[...]
