{
  "swagger": "2.0",
  "info": {
    "description": "방위사업청 국방전자조달시스템(D2B)에서 제공하는 군수품조달 입찰공고 정보 데이터입니다. 본 데이터는 국내·국외 경쟁입찰공고 및 공개수의 협상계획을 포함하여 조달 공고를 기간 조건으로 조회할 수 있으며, 공고별 요구년도, 공고일자, 공고번호, 입찰명, 발주기관(기관명/기관코드), 입찰참가등록·입찰서제출 마감일시, 개찰일시, 계약방법, 입찰형태, 업무구분(물품/용역) 등의 주요 항목을 제공합니다. 또한 품목명세서 조회를 통해 입찰 대상 품목 정보를 확인할 수 있어 입찰 참여 준비, 공고 모니터링, 기관별·분야별 입찰 동향 분석 등에 활용 가능합니다.",
    "version": "1.0.0",
    "title": "방위사업청_군수품조달정보 입찰공고_GW"
  },
  "host": "apis.data.go.kr/1690000/BidPblancInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getDmstcCmpetBidPblancList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pblancSeCode": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "pblancSe": {
                              "type": "string",
                              "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                              "properties": {}
                            },
                            "demandYear": {
                              "type": "string",
                              "description": "요구년도",
                              "properties": {}
                            },
                            "pblancDate": {
                              "type": "string",
                              "description": "공고일자",
                              "properties": {}
                            },
                            "pblancNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "pblancOdr": {
                              "type": "string",
                              "description": "공고차수",
                              "properties": {}
                            },
                            "g2bPblancNo": {
                              "type": "string",
                              "description": "G2B공고번호",
                              "properties": {}
                            },
                            "g2bPblancOdr": {
                              "type": "string",
                              "description": "G2B공고차수",
                              "properties": {}
                            },
                            "dcsNo": {
                              "type": "string",
                              "description": "판단번호",
                              "properties": {}
                            },
                            "bidNm": {
                              "type": "string",
                              "description": "입찰명",
                              "properties": {}
                            },
                            "orntCode": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "ornt": {
                              "type": "string",
                              "description": "발주기관",
                              "properties": {}
                            },
                            "prdctnAbltyPresentnClosDt": {
                              "type": "string",
                              "description": "생산능력제출마감일시",
                              "properties": {}
                            },
                            "bidPartcptRegistClosDt": {
                              "type": "string",
                              "description": "입찰참가등록마감일시",
                              "properties": {}
                            },
                            "biddocPresentnClosDt": {
                              "type": "string",
                              "description": "입찰서제출마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "excutTyCode": {
                              "type": "string",
                              "description": "집행유형코드",
                              "properties": {}
                            },
                            "excutTy": {
                              "type": "string",
                              "description": "집행유형",
                              "properties": {}
                            },
                            "cntrctMth": {
                              "type": "string",
                              "description": "계약방법",
                              "properties": {}
                            },
                            "bidStle": {
                              "type": "string",
                              "description": "입찰형태",
                              "properties": {}
                            },
                            "bsisPrdprcApplcAt": {
                              "type": "string",
                              "description": "기초예가적용여부",
                              "properties": {}
                            },
                            "bsicExpt": {
                              "type": "string",
                              "description": "기초예비가격",
                              "properties": {}
                            },
                            "bsisPrdprcOthbcAt": {
                              "type": "string",
                              "description": "기초예가공개여부",
                              "properties": {}
                            },
                            "busiDivs": {
                              "type": "string",
                              "description": "물품/용역",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국내 경쟁입찰공고 목록",
        "description": "국내 경쟁입찰공고 목록",
        "operationId": "getDmstcCmpetBidPblancList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "opengDateBegin",
          "description": "개찰일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "opengDateEnd",
          "description": "개찰일자종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNm",
          "description": "입찰명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "g2bPblancNoOdr",
          "description": "G2B공고번호차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateBegin",
          "description": "공고일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateEnd",
          "description": "공고일자종료",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDmstcCmpetBidPblancDetail": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "item": {
                      "type": "object",
                      "description": "item",
                      "properties": {
                        "pblancOdr": {
                          "type": "string",
                          "description": "공고차수",
                          "properties": {}
                        },
                        "pblancDate": {
                          "type": "string",
                          "description": "공고일자",
                          "properties": {}
                        },
                        "pblictInstt": {
                          "type": "string",
                          "description": "게재기관",
                          "properties": {}
                        },
                        "bidNm": {
                          "type": "string",
                          "description": "입찰명",
                          "properties": {}
                        },
                        "excutTy": {
                          "type": "string",
                          "description": "집행유형",
                          "properties": {}
                        },
                        "dcsNo": {
                          "type": "string",
                          "description": "판단번호",
                          "properties": {}
                        },
                        "ornt": {
                          "type": "string",
                          "description": "발주기관",
                          "properties": {}
                        },
                        "bidStle": {
                          "type": "string",
                          "description": "일반입찰/전자입찰",
                          "properties": {}
                        },
                        "cntrctMth": {
                          "type": "string",
                          "description": "계약방법",
                          "properties": {}
                        },
                        "bidMth": {
                          "type": "string",
                          "description": "총액제단가제",
                          "properties": {}
                        },
                        "cntrctKnd": {
                          "type": "string",
                          "description": "계약종류",
                          "properties": {}
                        },
                        "sucbidrDecsnMth": {
                          "type": "string",
                          "description": "적격심사제/최저가격제",
                          "properties": {}
                        },
                        "budgetAmount": {
                          "type": "string",
                          "description": "예산금액",
                          "properties": {}
                        },
                        "bidPartcptRegistClosDt": {
                          "type": "string",
                          "description": "입찰참가등록마감일시",
                          "properties": {}
                        },
                        "biddocPresentnClosDt": {
                          "type": "string",
                          "description": "입찰서제출마감일시",
                          "properties": {}
                        },
                        "opengDt": {
                          "type": "string",
                          "description": "개찰일시",
                          "properties": {}
                        },
                        "bidPlace": {
                          "type": "string",
                          "description": "입찰장소",
                          "properties": {}
                        },
                        "bsnsDcMeetngDt": {
                          "type": "string",
                          "description": "사업설명회일시",
                          "properties": {}
                        },
                        "bsnsDcMeetngPlace": {
                          "type": "string",
                          "description": "사업설명회장소",
                          "properties": {}
                        },
                        "registJdgmnPnttm": {
                          "type": "string",
                          "description": "등록심사시점(Y:입찰참가등록 후 등록심사 없이 입찰서제출, N:입찰참가등록  후 등록심사에 확정 된 참여 조달업체만 입찰서 제출가능)",
                          "properties": {}
                        },
                        "bsisPrdprcApplcAt": {
                          "type": "string",
                          "description": "적용/미적용",
                          "properties": {}
                        },
                        "g2bPblancNo": {
                          "type": "string",
                          "description": "G2B공고번호",
                          "properties": {}
                        },
                        "g2bPblancOdr": {
                          "type": "string",
                          "description": "G2B공고차수",
                          "properties": {}
                        },
                        "copertnOutsrcFlflMthd": {
                          "type": "string",
                          "description": "분담이행/공동이행/공동[분담]이행/단독",
                          "properties": {}
                        },
                        "compnoEntrpsRsrchTrgetAt": {
                          "type": "string",
                          "description": "대상/비대상",
                          "properties": {}
                        },
                        "orgnlbudgtDedt": {
                          "type": "string",
                          "description": "본조납기",
                          "properties": {}
                        },
                        "ntndbtDedt": {
                          "type": "string",
                          "description": "국채납기",
                          "properties": {}
                        },
                        "chargerNm": {
                          "type": "string",
                          "description": "담당자명",
                          "properties": {}
                        },
                        "chargerCttpc": {
                          "type": "string",
                          "description": "담당자연락처",
                          "properties": {}
                        },
                        "pblancSe": {
                          "type": "string",
                          "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                          "properties": {}
                        },
                        "pblancNo": {
                          "type": "string",
                          "description": "공고번호",
                          "properties": {}
                        },
                        "untpcSystemTy": {
                          "type": "string",
                          "description": "단가제도유형",
                          "properties": {}
                        },
                        "prdctnAbltyPresentnClosDt": {
                          "type": "string",
                          "description": "생산능력제출마감일시",
                          "properties": {}
                        },
                        "prdlstCode": {
                          "type": "string",
                          "description": "품목코드",
                          "properties": {}
                        },
                        "prdlstNm": {
                          "type": "string",
                          "description": "품목명",
                          "properties": {}
                        },
                        "industClList": {
                          "type": "string",
                          "description": "산업분류목록",
                          "properties": {}
                        },
                        "estmPrce": {
                          "type": "string",
                          "description": "추정가격",
                          "properties": {}
                        },
                        "asessRtLwlt": {
                          "type": "string",
                          "description": "사정률하한",
                          "properties": {}
                        },
                        "asessRtUplmt": {
                          "type": "string",
                          "description": "사정률상한",
                          "properties": {}
                        },
                        "scsbidLwltRt": {
                          "type": "string",
                          "description": "낙찰하한율",
                          "properties": {}
                        },
                        "lcnsLmttList": {
                          "type": "string",
                          "description": "면허제한목록",
                          "properties": {}
                        },
                        "areaLmttList": {
                          "type": "string",
                          "description": "지역제한목록",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국내 경쟁입찰공고 상세",
        "description": "국내 경쟁입찰공고 상세",
        "operationId": "getDmstcCmpetBidPblancDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "demandYear",
          "description": "요구년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dcsNo",
          "description": "판단번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancOdr",
          "description": "공고차수",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getDmstcOthbcVltrnNtatPlanList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "demandYear": {
                              "type": "string",
                              "description": "요구년도",
                              "properties": {}
                            },
                            "prqudoPresentnClosDt": {
                              "type": "string",
                              "description": "견적서제출마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "orntCode": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "dcsNo": {
                              "type": "string",
                              "description": "판단번호",
                              "properties": {}
                            },
                            "iemNo": {
                              "type": "string",
                              "description": "항목번호",
                              "properties": {}
                            },
                            "pblancOdr": {
                              "type": "string",
                              "description": "공고차수",
                              "properties": {}
                            },
                            "ntatPlanDate": {
                              "type": "string",
                              "description": "협상계획일자",
                              "properties": {}
                            },
                            "pblancNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "othbcNtatNm": {
                              "type": "string",
                              "description": "공개협상명",
                              "properties": {}
                            },
                            "ornt": {
                              "type": "string",
                              "description": "발주기관",
                              "properties": {}
                            },
                            "bidMth": {
                              "type": "string",
                              "description": "총액제단가제",
                              "properties": {}
                            },
                            "budgetAmount": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "progrsSttus": {
                              "type": "string",
                              "description": "진행상태",
                              "properties": {}
                            },
                            "bsicExpt": {
                              "type": "string",
                              "description": "기초예비가격",
                              "properties": {}
                            },
                            "bsisPrdprcApplcAt": {
                              "type": "string",
                              "description": "적용/미적용",
                              "properties": {}
                            },
                            "busiDivs": {
                              "type": "string",
                              "description": "물품/용역",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국내 공개수의협상계획 목록",
        "description": "국내 공개수의협상계획 목록",
        "operationId": "getDmstcOthbcVltrnNtatPlanList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "othbcNtatNm",
          "description": "공개협상명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pblancOrDcsNo",
          "description": "공고또는판단번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prqudoPresentnClosDateBegin",
          "description": "견적서제출마감일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prqudoPresentnClosDateEnd",
          "description": "견적서제출마감일자종료",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDmstcOthbcVltrnNtatPlanDetail": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "item": {
                      "type": "object",
                      "description": "item",
                      "properties": {
                        "bsisPreparPc": {
                          "type": "string",
                          "description": "기초예비가격",
                          "properties": {}
                        },
                        "asessRtLwlt": {
                          "type": "string",
                          "description": "사정률하한",
                          "properties": {}
                        },
                        "asessRtUplmt": {
                          "type": "string",
                          "description": "사정률상한",
                          "properties": {}
                        },
                        "scsbidLwltRt": {
                          "type": "string",
                          "description": "낙찰하한율",
                          "properties": {}
                        },
                        "chargerNm": {
                          "type": "string",
                          "description": "담당자명",
                          "properties": {}
                        },
                        "chargerCttpc": {
                          "type": "string",
                          "description": "담당자연락처",
                          "properties": {}
                        },
                        "demandYear": {
                          "type": "string",
                          "description": "요구년도",
                          "properties": {}
                        },
                        "pblancNo": {
                          "type": "string",
                          "description": "공고번호",
                          "properties": {}
                        },
                        "pblancOdr": {
                          "type": "string",
                          "description": "공고차수",
                          "properties": {}
                        },
                        "ornt": {
                          "type": "string",
                          "description": "발주기관",
                          "properties": {}
                        },
                        "othbcNtatNm": {
                          "type": "string",
                          "description": "공개협상명",
                          "properties": {}
                        },
                        "dcsNo": {
                          "type": "string",
                          "description": "판단번호",
                          "properties": {}
                        },
                        "cntrctMth": {
                          "type": "string",
                          "description": "계약방법",
                          "properties": {}
                        },
                        "budgetAmount": {
                          "type": "string",
                          "description": "예산금액",
                          "properties": {}
                        },
                        "sucbidrDecsnMth": {
                          "type": "string",
                          "description": "적격심사제/최저가격제",
                          "properties": {}
                        },
                        "bidMth": {
                          "type": "string",
                          "description": "총액제단가제",
                          "properties": {}
                        },
                        "bsisPrdprcApplcAt": {
                          "type": "string",
                          "description": "적용/미적용",
                          "properties": {}
                        },
                        "prqudoPresentnClosDt": {
                          "type": "string",
                          "description": "견적서제출마감일시",
                          "properties": {}
                        },
                        "othbcNtatPlace": {
                          "type": "string",
                          "description": "공개협상장소",
                          "properties": {}
                        },
                        "ntatStle": {
                          "type": "string",
                          "description": "일반협상/전자협상",
                          "properties": {}
                        },
                        "opengDt": {
                          "type": "string",
                          "description": "개찰일시",
                          "properties": {}
                        },
                        "areaLmttList": {
                          "type": "string",
                          "description": "지역제한목록",
                          "properties": {}
                        },
                        "estmPrce": {
                          "type": "string",
                          "description": "추정가격",
                          "properties": {}
                        },
                        "lcnsLmttList": {
                          "type": "string",
                          "description": "면허제한목록",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국내 공개수의협상계획 상세",
        "description": "국내 공개수의협상계획 상세",
        "operationId": "getDmstcOthbcVltrnNtatPlanDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "demandYear",
          "description": "요구년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dcsNo",
          "description": "판단번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "iemNo",
          "description": "항목번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancOdr",
          "description": "공고차수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "ntatPlanDate",
          "description": "협상계획일자",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getOutnatnCmpetBidPblancList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pblancSe": {
                              "type": "string",
                              "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                              "properties": {}
                            },
                            "pblancYear": {
                              "type": "string",
                              "description": "공고년도",
                              "properties": {}
                            },
                            "pblancNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "pblancOdr": {
                              "type": "string",
                              "description": "공고차수",
                              "properties": {}
                            },
                            "g2bPblancNo": {
                              "type": "string",
                              "description": "G2B공고번호",
                              "properties": {}
                            },
                            "g2bPblancOdr": {
                              "type": "string",
                              "description": "G2B공고차수",
                              "properties": {}
                            },
                            "dcsNo": {
                              "type": "string",
                              "description": "판단번호",
                              "properties": {}
                            },
                            "groupNo": {
                              "type": "string",
                              "description": "그룹번호",
                              "properties": {}
                            },
                            "bsnsNm": {
                              "type": "string",
                              "description": "사업명",
                              "properties": {}
                            },
                            "prdlstCo": {
                              "type": "string",
                              "description": "품목수",
                              "properties": {}
                            },
                            "bidMedia": {
                              "type": "string",
                              "description": "서류입찰/전자입찰…",
                              "properties": {}
                            },
                            "cntrctMth": {
                              "type": "string",
                              "description": "계약방법",
                              "properties": {}
                            },
                            "bidRegistClosDt": {
                              "type": "string",
                              "description": "입찰등록마감일시",
                              "properties": {}
                            },
                            "biddocPresentnClosDt": {
                              "type": "string",
                              "description": "입찰서제출마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "pblancCanclAt": {
                              "type": "string",
                              "description": "Y : 취소",
                              "properties": {}
                            },
                            "purchsRequstNo": {
                              "type": "string",
                              "description": "구매요청번호",
                              "properties": {}
                            },
                            "busiDivs": {
                              "type": "string",
                              "description": "물품/용역",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국외 경쟁입찰공고 목록",
        "description": "국외 경쟁입찰공고 목록",
        "operationId": "getOutnatnCmpetBidPblancList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "opengDateBegin",
          "description": "개찰일자시작",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "opengDateEnd",
          "description": "개찰일자종료",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "g2bPblancNo",
          "description": "G2B공고번호 ",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateBegin",
          "description": "공고일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateEnd",
          "description": "공고일자종료",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getOutnatnCmpetBidPblancDetail": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "item": {
                      "type": "object",
                      "description": "item",
                      "properties": {
                        "groupNo": {
                          "type": "string",
                          "description": "그룹번호",
                          "properties": {}
                        },
                        "bsnsNm": {
                          "type": "string",
                          "description": "사업명",
                          "properties": {}
                        },
                        "prdlstCo": {
                          "type": "string",
                          "description": "품목수",
                          "properties": {}
                        },
                        "bidMedia": {
                          "type": "string",
                          "description": "서류입찰/전자입찰…",
                          "properties": {}
                        },
                        "pblancSe": {
                          "type": "string",
                          "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                          "properties": {}
                        },
                        "cntrctMth": {
                          "type": "string",
                          "description": "계약방법",
                          "properties": {}
                        },
                        "bidMth": {
                          "type": "string",
                          "description": "총액제단가제",
                          "properties": {}
                        },
                        "bidRegistClosDt": {
                          "type": "string",
                          "description": "입찰등록마감일시",
                          "properties": {}
                        },
                        "biddocPresentnClosDt": {
                          "type": "string",
                          "description": "입찰서제출마감일시",
                          "properties": {}
                        },
                        "opengDt": {
                          "type": "string",
                          "description": "개찰일시",
                          "properties": {}
                        },
                        "ehgtApplcDate": {
                          "type": "string",
                          "description": "환율적용일자",
                          "properties": {}
                        },
                        "ornt": {
                          "type": "string",
                          "description": "발주기관",
                          "properties": {}
                        },
                        "chargerNm": {
                          "type": "string",
                          "description": "담당자명",
                          "properties": {}
                        },
                        "totAmount": {
                          "type": "string",
                          "description": "총금액",
                          "properties": {}
                        },
                        "pblancYear": {
                          "type": "string",
                          "description": "공고년도",
                          "properties": {}
                        },
                        "pblancNo": {
                          "type": "string",
                          "description": "공고번호",
                          "properties": {}
                        },
                        "pblancOdr": {
                          "type": "string",
                          "description": "공고차수",
                          "properties": {}
                        },
                        "pblancDate": {
                          "type": "string",
                          "description": "공고일자",
                          "properties": {}
                        },
                        "dcsNo": {
                          "type": "string",
                          "description": "판단번호",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "국외 경쟁입찰공고 상세",
        "description": "국외 경쟁입찰공고 상세",
        "operationId": "getOutnatnCmpetBidPblancDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pblancYear",
          "description": "공고년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancOdr",
          "description": "공고차수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "dcsNo",
          "description": "판단번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "groupNo",
          "description": "그룹번호",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getFcltyCmpetBidPblancList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pblancYear": {
                              "type": "string",
                              "description": "공고년도",
                              "properties": {}
                            },
                            "pblancDate": {
                              "type": "string",
                              "description": "공고일자",
                              "properties": {}
                            },
                            "pblancSeCode": {
                              "type": "string",
                              "description": "공고구분코드",
                              "properties": {}
                            },
                            "pblancSe": {
                              "type": "string",
                              "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                              "properties": {}
                            },
                            "pblancNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "pblancOdr": {
                              "type": "string",
                              "description": "공고차수",
                              "properties": {}
                            },
                            "g2bPblancNo": {
                              "type": "string",
                              "description": "G2B공고번호",
                              "properties": {}
                            },
                            "g2bPblancOdr": {
                              "type": "string",
                              "description": "G2B공고차수",
                              "properties": {}
                            },
                            "cntrwkNo": {
                              "type": "string",
                              "description": "공사번호",
                              "properties": {}
                            },
                            "cntrwkNm": {
                              "type": "string",
                              "description": "공사명",
                              "properties": {}
                            },
                            "ornt": {
                              "type": "string",
                              "description": "발주기관",
                              "properties": {}
                            },
                            "orntCode": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "bidPartcptRegistClosDt": {
                              "type": "string",
                              "description": "입찰참가등록마감일시",
                              "properties": {}
                            },
                            "biddocPresentnClosDt": {
                              "type": "string",
                              "description": "입찰서제출마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "cntrctMth": {
                              "type": "string",
                              "description": "계약방법",
                              "properties": {}
                            },
                            "bidStle": {
                              "type": "string",
                              "description": "일반입찰/전자입찰",
                              "properties": {}
                            },
                            "baseAmnt": {
                              "type": "string",
                              "description": "기초예비가격",
                              "properties": {}
                            },
                            "bsisPrdprcApplcAt": {
                              "type": "string",
                              "description": "적용/미적용",
                              "properties": {}
                            },
                            "busiDivs": {
                              "type": "string",
                              "description": "공사/용역",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시설 경쟁입찰공고 목록",
        "description": "시설 경쟁입찰공고 목록",
        "operationId": "getFcltyCmpetBidPblancList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "opengDateBegin",
          "description": "개찰일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "opengDateEnd",
          "description": "개찰일자종료",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "g2bPblancNo",
          "description": "G2B공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrwkNm",
          "description": "공사명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateBegin",
          "description": "공고일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "anmtDateEnd",
          "description": "공고일자시작",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getFcltyCmpetBidPblancDetail": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "item": {
                      "type": "object",
                      "description": "item",
                      "properties": {
                        "pblancSe": {
                          "type": "string",
                          "description": "정상공고/긴급공고/정정공고/취소공고/연기공고…",
                          "properties": {}
                        },
                        "pblancNo": {
                          "type": "string",
                          "description": "공고번호",
                          "properties": {}
                        },
                        "pblancOdr": {
                          "type": "string",
                          "description": "공고차수",
                          "properties": {}
                        },
                        "pblancDate": {
                          "type": "string",
                          "description": "공고일자",
                          "properties": {}
                        },
                        "pblictInstt": {
                          "type": "string",
                          "description": "게재기관",
                          "properties": {}
                        },
                        "cntrwkNm": {
                          "type": "string",
                          "description": "공사명",
                          "properties": {}
                        },
                        "cntrwkSe": {
                          "type": "string",
                          "description": "공사구분",
                          "properties": {}
                        },
                        "cntrwkNo": {
                          "type": "string",
                          "description": "공사번호",
                          "properties": {}
                        },
                        "ornt": {
                          "type": "string",
                          "description": "발주기관",
                          "properties": {}
                        },
                        "bidStle": {
                          "type": "string",
                          "description": "일반입찰/전자입찰",
                          "properties": {}
                        },
                        "budgetAmount": {
                          "type": "string",
                          "description": "예산금액",
                          "properties": {}
                        },
                        "lc": {
                          "type": "string",
                          "description": "위치",
                          "properties": {}
                        },
                        "cntrctMth": {
                          "type": "string",
                          "description": "계약방법",
                          "properties": {}
                        },
                        "bidMth": {
                          "type": "string",
                          "description": "총액제단가제",
                          "properties": {}
                        },
                        "bsisPrdprcApplcAt": {
                          "type": "string",
                          "description": "적용/미적용",
                          "properties": {}
                        },
                        "preaudtTrgetAt": {
                          "type": "string",
                          "description": "대상/비대상",
                          "properties": {}
                        },
                        "sucbidrDecsnMth": {
                          "type": "string",
                          "description": "적격심사제/최저가격제",
                          "properties": {}
                        },
                        "copertnOutsrcFlflMthd": {
                          "type": "string",
                          "description": "분담이행/공동이행/공동[분담]이행/단독",
                          "properties": {}
                        },
                        "bidPartcptReqstClosDt": {
                          "type": "string",
                          "description": "입찰참가신청마감일시",
                          "properties": {}
                        },
                        "biddocPresentnClosDt": {
                          "type": "string",
                          "description": "입찰서제출마감일시",
                          "properties": {}
                        },
                        "opengDt": {
                          "type": "string",
                          "description": "개찰일시",
                          "properties": {}
                        },
                        "bidPlace": {
                          "type": "string",
                          "description": "입찰장소",
                          "properties": {}
                        },
                        "g2bPblancNo": {
                          "type": "string",
                          "description": "G2B공고번호",
                          "properties": {}
                        },
                        "g2bPblancOdr": {
                          "type": "string",
                          "description": "G2B공고차수",
                          "properties": {}
                        },
                        "registJdgmnPnttm": {
                          "type": "string",
                          "description": "등록심사시점(Y:입찰참가등록 후 등록심사 없이 입찰서제출, N:입찰참가등록  후 등록심사에 확정 된 참여 조달업체만 입찰서 제출가능)",
                          "properties": {}
                        },
                        "chargerNm": {
                          "type": "string",
                          "description": "담당자명",
                          "properties": {}
                        },
                        "chargerCttpc": {
                          "type": "string",
                          "description": "담당자연락처",
                          "properties": {}
                        },
                        "sptDcMeetngDt": {
                          "type": "string",
                          "description": "현장설명회일시",
                          "properties": {}
                        },
                        "sptDcMeetngPlace": {
                          "type": "string",
                          "description": "현장설명회장소",
                          "properties": {}
                        },
                        "areaLmttList": {
                          "type": "string",
                          "description": "지역제한목록",
                          "properties": {}
                        },
                        "lcnsLmttList": {
                          "type": "string",
                          "description": "면허제한목록",
                          "properties": {}
                        },
                        "estmPrce": {
                          "type": "string",
                          "description": "추정가격",
                          "properties": {}
                        },
                        "asessRtLwlt": {
                          "type": "string",
                          "description": "사정률하한",
                          "properties": {}
                        },
                        "asessRtUplmt": {
                          "type": "string",
                          "description": "사정률상한",
                          "properties": {}
                        },
                        "scsbidLwltRt": {
                          "type": "string",
                          "description": "낙찰하한율",
                          "properties": {}
                        },
                        "cobaAmnt": {
                          "type": "string",
                          "description": "평가기준금액",
                          "properties": {}
                        },
                        "baseEnam": {
                          "type": "string",
                          "description": "토목기초금액",
                          "properties": {}
                        },
                        "baseCoam": {
                          "type": "string",
                          "description": "건축기초금액",
                          "properties": {}
                        },
                        "inheAmnt": {
                          "type": "string",
                          "description": "국민건강보험료",
                          "properties": {}
                        },
                        "inanAmnt": {
                          "type": "string",
                          "description": "국민연금보험료",
                          "properties": {}
                        },
                        "laboRate": {
                          "type": "string",
                          "description": "노무기준율",
                          "properties": {}
                        },
                        "etctRate": {
                          "type": "string",
                          "description": "기타경비기준율",
                          "properties": {}
                        },
                        "nomlRate": {
                          "type": "string",
                          "description": "일반관리비기준율",
                          "properties": {}
                        },
                        "protRate": {
                          "type": "string",
                          "description": "이용기준율",
                          "properties": {}
                        },
                        "diffCoef": {
                          "type": "string",
                          "description": "적용난이도계수",
                          "properties": {}
                        },
                        "treaAmnt": {
                          "type": "string",
                          "description": "요양보험료",
                          "properties": {}
                        },
                        "safeAmnt": {
                          "type": "string",
                          "description": "산업안전보건관리비",
                          "properties": {}
                        },
                        "safeCost": {
                          "type": "string",
                          "description": "안전관리비",
                          "properties": {}
                        },
                        "retiFund": {
                          "type": "string",
                          "description": "퇴직급여충당금",
                          "properties": {}
                        },
                        "retiDedu": {
                          "type": "string",
                          "description": "퇴직공제부금",
                          "properties": {}
                        },
                        "mateCost": {
                          "type": "string",
                          "description": "재료비",
                          "properties": {}
                        },
                        "laboCost": {
                          "type": "string",
                          "description": "노무비",
                          "properties": {}
                        },
                        "geneCost": {
                          "type": "string",
                          "description": "경비",
                          "properties": {}
                        },
                        "vtaxCost": {
                          "type": "string",
                          "description": "부가가치세",
                          "properties": {}
                        },
                        "quasCost": {
                          "type": "string",
                          "description": "품질관리비",
                          "properties": {}
                        },
                        "cntrwkPd": {
                          "type": "string",
                          "description": "공사기간",
                          "properties": {}
                        },
                        "cntrwkSumry": {
                          "type": "string",
                          "description": "공사개요",
                          "properties": {}
                        },
                        "preaudtClosDt": {
                          "type": "string",
                          "description": "사전심사마감일시",
                          "properties": {}
                        },
                        "scale": {
                          "type": "string",
                          "description": "규모",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시설 경쟁입찰공고 상세",
        "description": "시설 경쟁입찰공고 상세",
        "operationId": "getFcltyCmpetBidPblancDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pblancYear",
          "description": "공고년도",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancSeCode",
          "description": "공고구분코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancOdr",
          "description": "공고차수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cntrwkNo",
          "description": "공사번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getFcltyOthbcVltrnNtatPlanList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "prqudoPresentnClosDt": {
                              "type": "string",
                              "description": "견적서제출마감일시",
                              "properties": {}
                            },
                            "opengDt": {
                              "type": "string",
                              "description": "개찰일시",
                              "properties": {}
                            },
                            "cntrwkNo": {
                              "type": "string",
                              "description": "공사번호",
                              "properties": {}
                            },
                            "pblancNo": {
                              "type": "string",
                              "description": "공고번호",
                              "properties": {}
                            },
                            "pblancOdr": {
                              "type": "string",
                              "description": "차수",
                              "properties": {}
                            },
                            "cntrwkNm": {
                              "type": "string",
                              "description": "공개협상건명",
                              "properties": {}
                            },
                            "ornt": {
                              "type": "string",
                              "description": "발주기관",
                              "properties": {}
                            },
                            "orntCode": {
                              "type": "string",
                              "description": "발주기관코드",
                              "properties": {}
                            },
                            "budgetAmount": {
                              "type": "string",
                              "description": "예산금액",
                              "properties": {}
                            },
                            "bidMth": {
                              "type": "string",
                              "description": "입찰방법",
                              "properties": {}
                            },
                            "progrsSttus": {
                              "type": "string",
                              "description": "진행상태",
                              "properties": {}
                            },
                            "baseAmnt": {
                              "type": "string",
                              "description": "기초예비가격",
                              "properties": {}
                            },
                            "ntatPlanDate": {
                              "type": "string",
                              "description": "협상계획일자",
                              "properties": {}
                            },
                            "busiDivs": {
                              "type": "string",
                              "description": "공사/용역",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시설 공개수의협상계획 목록",
        "description": "시설 공개수의협상계획 목록",
        "operationId": "getFcltyOthbcVltrnNtatPlanList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prqudoPresentnClosDateBegin",
          "description": "null",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prqudoPresentnClosDateEnd",
          "description": "null",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "othbcNtatNm",
          "description": "null",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "null",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pblancNoOrCntrwkNo",
          "description": "null",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getFcltyOthbcVltrnNtatPlanDetail": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "item": {
                      "type": "object",
                      "description": "item",
                      "properties": {
                        "bidMth": {
                          "type": "string",
                          "description": "총액제단가제",
                          "properties": {}
                        },
                        "bsisPrdprcApplcAt": {
                          "type": "string",
                          "description": "적용/미적용",
                          "properties": {}
                        },
                        "prqudoPresentnClosDt": {
                          "type": "string",
                          "description": "견적서제출마감일시",
                          "properties": {}
                        },
                        "ntatPlace": {
                          "type": "string",
                          "description": "협상장소",
                          "properties": {}
                        },
                        "ntatStle": {
                          "type": "string",
                          "description": "일반협상/전자협상",
                          "properties": {}
                        },
                        "opengDt": {
                          "type": "string",
                          "description": "개찰일시",
                          "properties": {}
                        },
                        "bsisPreparPc": {
                          "type": "string",
                          "description": "기초예비가격",
                          "properties": {}
                        },
                        "asessRtLwlt": {
                          "type": "string",
                          "description": "사정률하한",
                          "properties": {}
                        },
                        "asessRtUplmt": {
                          "type": "string",
                          "description": "사정률상한",
                          "properties": {}
                        },
                        "scsbidLwltRt": {
                          "type": "string",
                          "description": "낙찰하한율",
                          "properties": {}
                        },
                        "chargerNm": {
                          "type": "string",
                          "description": "담당자명",
                          "properties": {}
                        },
                        "chargerCttpc": {
                          "type": "string",
                          "description": "담당자연락처",
                          "properties": {}
                        },
                        "areaLmttList": {
                          "type": "string",
                          "description": "지역제한목록",
                          "properties": {}
                        },
                        "lcnsLmttList": {
                          "type": "string",
                          "description": "[면허코드] 면허명^[면허코드] 면허명",
                          "properties": {}
                        },
                        "demandYear": {
                          "type": "string",
                          "description": "요구년도",
                          "properties": {}
                        },
                        "pblancNo": {
                          "type": "string",
                          "description": "공고번호",
                          "properties": {}
                        },
                        "pblancOdr": {
                          "type": "string",
                          "description": "공고차수",
                          "properties": {}
                        },
                        "ornt": {
                          "type": "string",
                          "description": "발주기관",
                          "properties": {}
                        },
                        "cntrwkNm": {
                          "type": "string",
                          "description": "공사명",
                          "properties": {}
                        },
                        "cntrwkSe": {
                          "type": "string",
                          "description": "공사구분",
                          "properties": {}
                        },
                        "cntrwkNo": {
                          "type": "string",
                          "description": "공사번호",
                          "properties": {}
                        },
                        "cntrctMth": {
                          "type": "string",
                          "description": "계약방법",
                          "properties": {}
                        },
                        "bidStle": {
                          "type": "string",
                          "description": "일반입찰/전자입찰",
                          "properties": {}
                        },
                        "budgetAmount": {
                          "type": "string",
                          "description": "예산금액",
                          "properties": {}
                        },
                        "lc": {
                          "type": "string",
                          "description": "위치",
                          "properties": {}
                        },
                        "sucbidrDecsnMth": {
                          "type": "string",
                          "description": "적격심사제/최저가격제",
                          "properties": {}
                        },
                        "cntrwkSumry": {
                          "type": "string",
                          "description": "공사개요",
                          "properties": {}
                        },
                        "scale": {
                          "type": "string",
                          "description": "규모",
                          "properties": {}
                        },
                        "cntrwkPd": {
                          "type": "string",
                          "description": "공사기간",
                          "properties": {}
                        },
                        "estmPrce": {
                          "type": "string",
                          "description": "추정가격",
                          "properties": {}
                        },
                        "cobaAmnt": {
                          "type": "string",
                          "description": "평가기준금액",
                          "properties": {}
                        },
                        "baseEnam": {
                          "type": "string",
                          "description": "토목기초금액",
                          "properties": {}
                        },
                        "baseCoam": {
                          "type": "string",
                          "description": "건축기초금액",
                          "properties": {}
                        },
                        "inheAmnt": {
                          "type": "string",
                          "description": "국민건강보험료",
                          "properties": {}
                        },
                        "inanAmnt": {
                          "type": "string",
                          "description": "국민연금보험료",
                          "properties": {}
                        },
                        "laboRate": {
                          "type": "string",
                          "description": "노무기준율",
                          "properties": {}
                        },
                        "etctRate": {
                          "type": "string",
                          "description": "기타경비기준율",
                          "properties": {}
                        },
                        "nomlRate": {
                          "type": "string",
                          "description": "일반관리비기준율",
                          "properties": {}
                        },
                        "protRate": {
                          "type": "string",
                          "description": "이용기준율",
                          "properties": {}
                        },
                        "diffCoef": {
                          "type": "string",
                          "description": "적용난이도계수",
                          "properties": {}
                        },
                        "treaAmnt": {
                          "type": "string",
                          "description": "요양보험료",
                          "properties": {}
                        },
                        "safeAmnt": {
                          "type": "string",
                          "description": "산업안전보건관리비",
                          "properties": {}
                        },
                        "safeCost": {
                          "type": "string",
                          "description": "안전관리비",
                          "properties": {}
                        },
                        "retiFund": {
                          "type": "string",
                          "description": "퇴직급여충당금",
                          "properties": {}
                        },
                        "retiDedu": {
                          "type": "string",
                          "description": "퇴직공제부금",
                          "properties": {}
                        },
                        "mateCost": {
                          "type": "string",
                          "description": "재료비",
                          "properties": {}
                        },
                        "laboCost": {
                          "type": "string",
                          "description": "노무비",
                          "properties": {}
                        },
                        "geneCost": {
                          "type": "string",
                          "description": "경비",
                          "properties": {}
                        },
                        "vtaxCost": {
                          "type": "string",
                          "description": "부가가치세",
                          "properties": {}
                        },
                        "quasCost": {
                          "type": "string",
                          "description": "품질관리비",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시설 공개수의협상계획 상세",
        "description": "시설 공개수의협상계획 상세",
        "operationId": "getFcltyOthbcVltrnNtatPlanDetail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orntCode",
          "description": "발주기관코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cntrwkNo",
          "description": "공사번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "ntatPlanDate",
          "description": "협상계획일자",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancNo",
          "description": "공고번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pblancOdr",
          "description": "공고차수",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getDmstcCmpetBidPblancItem": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dmstItnb": {
                              "type": "string",
                              "description": "항목번호",
                              "properties": {}
                            },
                            "prcmRnum": {
                              "type": "string",
                              "description": "조달요구번호",
                              "properties": {}
                            },
                            "fsc": {
                              "type": "string",
                              "description": "군급",
                              "properties": {}
                            },
                            "niin": {
                              "type": "string",
                              "description": "국가품목식별번호",
                              "properties": {}
                            },
                            "stnbTycd": {
                              "type": "string",
                              "description": "재고번호형태부호",
                              "properties": {}
                            },
                            "itemName": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
[...]
